Repository gnuradio/gnuradio, pull requests merged in 2018-11, with the labels that each got.

#2047 Fix invalid escape sequences.
  docs/doxygen/other/doxypy.py
  docs/sphinx/hieroglyph/test/test_comments.py
  gnuradio-runtime/python/gnuradio/ctrlport/monitor.py
  gr-blocks/python/blocks/qa_cpp_py_binding.py
  gr-blocks/python/blocks/qa_cpp_py_binding_set.py
  gr-blocks/python/blocks/qa_ctrlport_probes.py
  gr-digital/python/digital/qam_constellations.py
  gr-filter/python/filter/design/filter_design.py
  gr-utils/python/modtool/cmakefile_editor.py
  gr-utils/python/modtool/modtool_disable.py
  gr-utils/python/modtool/parser_cc_block.py
  gr-utils/python/modtool/templates.py
  grc/converter/cheetah_converter.py
  tools/template_convert.py
Labels: Python

#2054 Clean up resources allocated by run_worker.
  grc/core/utils/extract_docs.py
Labels: GRC

#2090 gr-qtgui: 3.8- time raster sink: set default values for ncols and nrows
  gr-qtgui/grc/qtgui_time_raster_x.block.yml
Labels: Bug, QTGUI

#2116 grc: Restore right click menu. Fixes #2062
  grc/gui/canvas/flowgraph.py
Labels: GRC

#1913 Cosmetic change to additive_scrambler_bb_impl.cc
  gr-digital/lib/additive_scrambler_bb_impl.cc
Labels: Low, digital, post-next-merge

#2060 Allow the full range of offsets in Keep M in N
  gr-blocks/grc/blocks_keep_m_in_n.block.yml
  gr-blocks/lib/keep_m_in_n_impl.cc
  gr-blocks/python/blocks/qa_keep_m_in_n.py
Labels: waiting on CI

#2114 grc: Add missing keys to schema checker to avoid warnings
  grc/core/schema_checker/block.py
Labels: ABI

#2152 cmake: Fix coverage buildtype to use -lgcov for linking
  cmake/Modules/CodeCoverage.cmake
  cmake/Modules/GrBuildTypes.cmake
Labels: CMake

#2136 gr-analog: fixed analog_random_source bug
  gr-analog/grc/analog_random_source_x.block.yml
Labels: analog

#2144 runtime: gr_threading clutch obsolete; remove it and its usage
  gnuradio-runtime/python/gnuradio/gr/CMakeLists.txt
  gnuradio-runtime/python/gnuradio/gr/gr_threading.py
  gnuradio-runtime/python/gnuradio/gr/gr_threading_23.py
  gnuradio-runtime/python/gnuradio/gr/gr_threading_24.py
  gnuradio-runtime/python/gnuradio/gr/top_block.py
  gnuradio-runtime/python/gnuradio/gru/msgq_runner.py
  gr-digital/examples/narrowband/digital_bert_rx.py
  gr-digital/python/digital/ofdm.py
Labels: Python

#2143 grc: Simplify py2/3 logic for new_module
  grc/core/FlowGraph.py
Labels: Python

#2153 logger: remove duplicate semicolon after macro invocation
  gnuradio-runtime/include/gnuradio/logger.h
Labels: logging

#2123 Use raw strings for regexp and docstrings that have desired backslashes
  cmake/Modules/GrSwig.cmake
  gr-analog/python/analog/fm_emph.py
Labels: Python

#2161 CMake: Update QWT finding routines
  cmake/Modules/FindQwt.cmake
Labels: Bug Fix, CMake

#2165 gr-blocks: use libvolk to speed up nlog10_ff block
  gr-blocks/lib/nlog10_ff_impl.cc
  gr-blocks/lib/nlog10_ff_impl.h
Labels: VOLK, blocks, enhancement

#2174 cmake: qwt: Only allow qwt-qt5 as a library name
  cmake/Modules/FindQwt.cmake
Labels: Bug Fix, CMake

#2164 qtgui: Remove the command line plot tools
  gr-qtgui/apps/CMakeLists.txt
  gr-qtgui/apps/gr_constellation_plot
  gr-qtgui/apps/gr_psd_plot_b
  gr-qtgui/apps/gr_psd_plot_c
  gr-qtgui/apps/gr_psd_plot_f
  gr-qtgui/apps/gr_psd_plot_i
  gr-qtgui/apps/gr_psd_plot_s
  gr-qtgui/apps/gr_spectrogram_plot
  gr-qtgui/apps/gr_spectrogram_plot_b
  gr-qtgui/apps/gr_spectrogram_plot_c
  gr-qtgui/apps/gr_spectrogram_plot_f
  gr-qtgui/apps/gr_spectrogram_plot_i
  gr-qtgui/apps/gr_spectrogram_plot_s
  gr-qtgui/apps/gr_time_plot_b
  gr-qtgui/apps/gr_time_plot_c
  gr-qtgui/apps/gr_time_plot_f
  gr-qtgui/apps/gr_time_plot_i
  gr-qtgui/apps/gr_time_plot_s
  gr-qtgui/apps/gr_time_raster_b
  gr-qtgui/apps/gr_time_raster_f
  gr-qtgui/apps/plot_base.py
  gr-qtgui/apps/plot_constellation_form.py
  gr-qtgui/apps/plot_form.py
  gr-qtgui/apps/plot_psd_base.py
  gr-qtgui/apps/plot_psd_form.py
  gr-qtgui/apps/plot_spectrogram_base.py
  gr-qtgui/apps/plot_spectrogram_form.py
  gr-qtgui/apps/plot_time_base.py
  gr-qtgui/apps/plot_time_form.py
  gr-qtgui/apps/plot_time_raster_base.py
  gr-qtgui/apps/plot_time_raster_form.py
Labels: QTGUI

#2170 analog: sig_source: Add phase parameter
  gr-analog/include/gnuradio/analog/sig_source.h
  gr-analog/lib/sig_source_impl.cc
  gr-analog/lib/sig_source_impl.h
Labels: analog, enhancement

#2182 cmake: when looking for Clang in CMAKE_CXX_COMPILER_ID, use MATCHES
  CMakeLists.txt
Labels: Bug Fix, CMake

#2184 runtime: fix use of boost::math::gcd and boost::integer::gcd
  gnuradio-runtime/lib/buffer.cc
Labels: Bug Fix, boost

#1664 formatting: Import clang-format -style=llvm -dump-config & add agreed on values
  .clang-format
Labels: QA

#2194 blocks: Fix add and multiply const blocks GRC bindings
  gr-blocks/grc/blocks_add_const_vxx.block.yml
  gr-blocks/grc/blocks_multiply_const_vxx.block.yml
Labels: Bug Fix, GRC, examples

#2198 Fix compiler warnings about unsigned / signed comparisons
  gr-blocks/lib/integrate_impl.cc
  gr-blocks/lib/vector_sink_impl.cc
  gr-digital/lib/crc32_bb_impl.cc
  gr-digital/lib/crc32_bb_impl.h
  gr-dtv/lib/dvbt2/dvbt2_pilotgenerator_cc_impl.cc
  gr-fec/lib/polar_common.cc
  gr-qtgui/lib/time_sink_c_impl.cc
  gr-qtgui/lib/time_sink_f_impl.cc
  gr-trellis/lib/interleaver.cc
Labels: waiting on CI

#2193 cmake: FindQwt: Allow pkg-config to set the library name
  cmake/Modules/FindQwt.cmake
Labels: Bug Fix, CMake

#2185 grc: silence import warnings caused by hier blocks on namespace renewal
  grc/core/FlowGraph.py
Labels: GRC

#2205 udp: wait a short time after creating starting the receiver
  gr-blocks/python/blocks/qa_udp_source_sink.py
Labels: Bug Fix, blocks
