Repository gnuradio/gnuradio, pull requests merged in 2018-08, with the labels that each got.

#1530 grc: Fix YAML hier blocks (next)
  grc/core/generator/flow_graph.py.mako
  grc/core/generator/hier_block.py
  grc/core/generator/top_block.py
Labels: GRC

#1953 Update Application.py
  grc/gui/Application.py
Labels: Bug, GRC

#1940 swig: fix numpy int conversion on py3k
  gnuradio-runtime/swig/gnuradio.i
Labels: API Change, Python, Python3

#1969 Qt Waterfall YAML: remove setters for absent properties
  gr-qtgui/grc/qtgui_waterfall_sink_x.block.yml
Labels: Bug, GRC, QTGUI

#1972 Force to update all affected elements
  grc/gui/Application.py
Labels: GRC, Python, clarification needed, next

#1979 "While !(a ready) and !(b ready)" -> "While !(a ready) or !(b ready)"
  gr-digital/python/digital/qa_packet_format.py
Labels: Bug, QA, next

#1947 gr-uhd: fix first bursts transmitted by usrp_sink
  gr-uhd/lib/usrp_sink_impl.cc
Labels: Bug, gr-uhd

#1961 Get rid of MSVC impl of gettimeofday that's used nowhere
  cmake/msvc/sys/time.h
Labels: Cruft, Windows, msvc

#1946 runtime: replace compile-time debugging option by GR_LOG_DEBUG()
  gnuradio-runtime/include/gnuradio/basic_block.h
  gnuradio-runtime/include/gnuradio/block.h
  gnuradio-runtime/include/gnuradio/flowgraph.h
  gnuradio-runtime/lib/block.cc
  gnuradio-runtime/lib/flat_flowgraph.cc
Labels: Runtime, enhancement, waiting on CI
