Repository gnuradio/gnuradio, pull requests merged in 2018-10, with the labels that each got.

#2038 gengen replacement: fix for not installed header files
  gr-blocks/include/gnuradio/blocks/CMakeLists.txt
  gr-filter/include/gnuradio/filter/CMakeLists.txt
Labels: CMake

#2067 Fixed GRC's "Create New" button
  grc/gui/Actions.py
  grc/gui/Application.py
  grc/gui/Bars.py
Labels: Bug, GRC, Python

#2072 uhd: Re-enable GRC bindings
  gr-uhd/CMakeLists.txt
Labels: Bug, gr-uhd

#2077 cmake: Remove superfluous code for old SWIG
  cmake/Modules/GrSwig.cmake
Labels: CMake, Cruft

#2104 docs- moved documentation inside docstring
  gr-analog/python/analog/fm_emph.py
Labels: Documentation

#2073 uhd: Minor fixes to GRC bindings
  gr-uhd/grc/gen_uhd_usrp_blocks.py
Labels: Bug, gr-uhd

#2071 cmake: Error out if Log4Cpp is not found
  CMakeLists.txt
Labels: Bug, CMake

#2102 grc: Fix virtual blocks
  grc/core/blocks/virtual.py
  grc/core/generator/top_block.py
Labels: GRC, Python

#2046 grc: add python block to misc category
  grc/blocks/grc.tree.yml
Labels: GRC

#2112 docs: fixed docstring for nbfm tx and rx
  gr-analog/python/analog/nbfm_rx.py
  gr-analog/python/analog/nbfm_tx.py
Labels: Documentation

#2115 Update links to https://www.gnuradio.org
  README.md
  docs/doxygen/other/main_page.dox
  docs/doxygen/other/usage.dox
  gr-digital/examples/packet/README
  gr-trellis/examples/python/README
  grc/core/Config.py
Labels: Documentation
