Repository gnuradio/gnuradio, pull requests merged in 2018-05, with the labels that each got.

#1786 uhd: Expand uhd_siggen_gui tuning range
  gr-uhd/apps/uhd_siggen_gui
Labels: Backport-3.7, enhancement, gr-uhd

#1793 UHD: Allow uhd_app to handle all LOs external
  gr-uhd/apps/uhd_app.py
Labels: enhancement, gr-uhd

#1779 move declaration to case
  gr-blocks/lib/float_to_complex_impl.cc
Labels: Backport-3.7, Bug
