Repository gnuradio/gnuradio, pull requests merged in 2018-02, with the labels that each got.

#1609 Removing building-boost README: no longer necessary, out of place
  README.building-boost
Labels: Cruft, Documentation, dependencies

#1605 gr-filter: Remove simpson's rule integration and replace with GSL call
  gr-filter/lib/gen_interpolator_taps/gen_interpolator_taps.c
  gr-filter/lib/gen_interpolator_taps/generate.sh
  gr-filter/lib/gen_interpolator_taps/objective_fct.c
  gr-filter/lib/gen_interpolator_taps/simpson.c
  gr-filter/lib/gen_interpolator_taps/simpson.h
Labels: Cruft, filter

#1495 Added parent (aka 'transient for') references to dialogs
  grc/gui/ActionHandler.py
  grc/gui/Dialogs.py
  grc/gui/FileDialogs.py
  grc/gui/FlowGraph.py
  grc/gui/MainWindow.py
  grc/gui/Param.py
  grc/gui/PropsDialog.py
Labels: Bug, GRC
