Repository gnuradio/gnuradio, pull requests merged in 2018-07, with the labels that each got.

#1863 digital: mpsk_snr_est: Fix QA for Py2/3 compat
  gr-digital/python/digital/qa_mpsk_snr_est.py
Labels: QA, next

#1819 Fixed wrong coefficient in Taylor series; cleanup (3.7 backport)
  CHANGELOG.md
  gr-analog/lib/fmdet_cf_impl.cc
Labels: Backport-3.7, Bug, analog

#1884 backport: cmake: Add missing include(FindPkgConfig) statements
  cmake/Modules/FindUSB.cmake
  gr-comedi/CMakeLists.txt
Labels: Backport-3.7, CMake

#1881 polar_sc: Fix vector out of bound accesses
  gr-fec/lib/polar_common.cc
Labels: Bug, FEC

#1882 backport: Fix vector out of bound accesses
  gr-fec/lib/polar_common.cc
Labels: Backport-3.7, Bug, FEC

#1895 fixup! python3: update non-GRC components to use python2 or python3
  gr-video-sdl/python/video_sdl/__init__.py
Labels: Bug, Python3, next

#1885 py3k conv: file_metadata_sink::make now accepts unserialized PMT
  gr-blocks/include/gnuradio/blocks/file_meta_sink.h
  gr-blocks/lib/file_meta_sink_impl.cc
  gr-blocks/lib/file_meta_sink_impl.h
  gr-blocks/python/blocks/qa_file_metadata.py
Labels: API Change, PMT, blocks

#1905 ctrlport: Remove superfluous 'import exceptions'
  gnuradio-runtime/python/gnuradio/ctrlport/GNURadioControlPortClient.py
  gnuradio-runtime/python/gnuradio/ctrlport/RPCConnection.py
Labels: Bug, ctrlport, next
