Repository gnuradio/gnuradio, pull requests merged in 2018-04, with the labels that each got.

#1645 QA test for complex sinusoid
  gr-analog/python/analog/qa_sig_source.py
Labels: Python, QA, analog

#1718 Update volk submodule instructions to work correctly
  CMakeLists.txt
Labels: Backport-3.7, CMake, Documentation

#1733 Boost 1.67 compatibility
  gr-blocks/lib/message_strobe_impl.cc
  gr-blocks/lib/message_strobe_random_impl.cc
  gr-uhd/lib/usrp_block_impl.cc
Labels: Backport-3.7, dependencies

#1749 Improved documentation for FFT block.
  gr-fft/include/gnuradio/fft/fft_vcc.h
  gr-fft/include/gnuradio/fft/fft_vfc.h
Labels: Documentation, fft

#1717 gr_modtool rm: block candidates
  gr-utils/python/modtool/modtool_rm.py
Labels: modtool
