Repository gnuradio/gnuradio, pull requests merged in 2019-06, with the labels that each got.

#2125 docs: moved usage manual to wiki
  docs/doxygen/other/ofdm.dox
  docs/doxygen/other/oot_config.dox
  docs/doxygen/other/packet_txrx.dox
  docs/doxygen/other/pmt.dox
  docs/doxygen/other/python_blocks.dox
  docs/doxygen/other/usage.dox
  docs/exploring-gnuradio/exploring_gnuradio.dox
  docs/usage-manual/(exported from wiki) Block Thread Affinity and Priority.txt
  docs/usage-manual/(exported from wiki) Configuration Files.txt
  docs/usage-manual/(exported from wiki) GNURadioCompanion.txt
  docs/usage-manual/(exported from wiki) Handling Flowgraphs.txt
  docs/usage-manual/(exported from wiki) Logging.txt
  docs/usage-manual/(exported from wiki) Message Passing.txt
  docs/usage-manual/(exported from wiki) Metadata Information.txt
  docs/usage-manual/(exported from wiki) Performance Counters.txt
  docs/usage-manual/(exported from wiki) Polymorphic Types (PMTs).txt
  docs/usage-manual/(exported from wiki) Polyphase Filterbanks.txt
  docs/usage-manual/(exported from wiki) QT GUI.txt
  docs/usage-manual/(exported from wiki) Stream Tags.txt
  docs/usage-manual/(exported from wiki) Tagged Stream Blocks.txt
  docs/usage-manual/(exported from wiki) Types of Blocks.txt
  docs/usage-manual/(exported from wiki) VOLK Guide.txt
  docs/usage-manual/.gitignore
  docs/usage-manual/README.md
  docs/usage-manual/export-usage-manual.py
Labels: Documentation

#2521 CMake: Fixes error when both debug and release python libs installed
  cmake/Modules/GrPython.cmake
Labels: Bug, CMake, Python

#2533 modtool: add 3.8 version for info command
  gr-utils/python/modtool/core/info.py
Labels: modtool

#2483 Selector Block replacement 2460
  gr-blocks/examples/selector.grc
  gr-blocks/grc/blocks.tree.yml
  gr-blocks/grc/blocks_selector.block.yml
  gr-blocks/include/gnuradio/blocks/CMakeLists.txt
  gr-blocks/include/gnuradio/blocks/selector.h
  gr-blocks/lib/CMakeLists.txt
  gr-blocks/lib/selector_impl.cc
  gr-blocks/lib/selector_impl.h
  gr-blocks/python/blocks/qa_selector.py
  gr-blocks/swig/blocks_swig7.i
Labels: New Feature, blocks

#2475 runtime: prefs: parse user config even if sys conf dir isn't a directory
  gnuradio-runtime/lib/prefs.cc
Labels: Runtime

#2476 runtime: prefs: parse user config even if sys conf dir isn't a directory
  gnuradio-runtime/lib/prefs.cc
Labels: Backport-3.7, Runtime

#2412 GRC: Fix for GRC crash in case of flowgraph error
  grc/core/Messages.py
  grc/core/platform.py
  grc/gui/MainWindow.py
Labels: GRC

#2345 QtGui: fix 'Show Msg Port' slider
  gr-blocks/grc/blocks_copy.block.yml
  gr-digital/grc/digital_constellation_receiver_cb.block.yml
  gr-qtgui/grc/qtgui_freq_sink_x.block.yml
  gr-qtgui/grc/qtgui_sink_x.block.yml
  gr-qtgui/grc/qtgui_vector_sink_f.block.yml
  gr-qtgui/grc/qtgui_waterfall_sink_x.block.yml
Labels: GRC

#2561 digital: Move enum tm_type from digital.core_est_cc to digital
  gr-digital/examples/packet/example_corr_est.grc
  gr-digital/examples/packet/example_corr_est_and_clock_sync.grc
  gr-digital/examples/packet/example_corr_est_and_phase_sync.grc
  gr-digital/examples/packet/packet_rx.grc
  gr-digital/grc/digital_corr_est_cc.block.yml
  gr-digital/include/gnuradio/digital/corr_est_cc.h
Labels: Bug, digital

#2479 cmake: check for python module click as dependency of modtool
  gr-utils/python/modtool/CMakeLists.txt
Labels: Bug, CMake

#2582 uhd: docs: Removed spurious reference to io_type_t
  gr-uhd/docs/uhd.dox
Labels: Bug, Documentation, gr-uhd

#2568 grc: introduce flag 'show_id' to show block id
  gr-blocks/grc/blocks_tag_object.block.yml
  gr-digital/grc/digital_constellation.block.yml
  gr-digital/grc/digital_constellation_rect.block.yml
  gr-digital/grc/digital_modulate_vector.block.yml
  gr-digital/grc/variable_header_format_default.block.yml
  gr-fec/grc/ldpc_decoder_def_list.block.yml
  gr-fec/grc/ldpc_encoder_def_list.block.yml
  gr-fec/grc/tpc_decoder_def_list.block.yml
  gr-fec/grc/tpc_encoder_def_list.block.yml
  gr-fec/grc/variable_cc_decoder_def_list.block.yml
  gr-fec/grc/variable_cc_encoder_def_list.block.yml
  gr-fec/grc/variable_ccsds_encoder_def_list.block.yml
  gr-fec/grc/variable_dummy_decoder_def_list.block.yml
  gr-fec/grc/variable_dummy_encoder_def_list.block.yml
  gr-fec/grc/variable_ldpc_G_matrix_object.block.yml
  gr-fec/grc/variable_ldpc_H_matrix_object.block.yml
  gr-fec/grc/variable_ldpc_bit_flip_decoder.block.yml
  gr-fec/grc/variable_ldpc_encoder_G.block.yml
  gr-fec/grc/variable_ldpc_encoder_H.block.yml
  gr-fec/grc/variable_polar_code_configurator.block.yml
  gr-fec/grc/variable_polar_decoder_sc.block.yml
  gr-fec/grc/variable_polar_decoder_sc_list.block.yml
  gr-fec/grc/variable_polar_decoder_sc_systematic.block.yml
  gr-fec/grc/variable_polar_encoder.block.yml
  gr-fec/grc/variable_polar_encoder_systematic.block.yml
  gr-fec/grc/variable_repetition_decoder_def_list.block.yml
  gr-fec/grc/variable_repetition_encoder_def_list.block.yml
  gr-filter/grc/variable_band_pass_filter_taps.block.yml
  gr-filter/grc/variable_band_reject_filter_taps.block.yml
  gr-filter/grc/variable_high_pass_filter_taps.block.yml
  gr-filter/grc/variable_low_pass_filter_taps.block.yml
  gr-filter/grc/variable_rrc_filter_taps.block.yml
  gr-qtgui/grc/qtgui_check_box.block.yml
  gr-qtgui/grc/qtgui_chooser.block.yml
  gr-qtgui/grc/qtgui_entry.block.yml
  gr-qtgui/grc/qtgui_label.block.yml
  gr-qtgui/grc/qtgui_push_button.block.yml
  gr-qtgui/grc/qtgui_range.block.yml
  grc/blocks/parameter.block.yml
  grc/blocks/variable.block.yml
  grc/blocks/variable_config.block.yml
  grc/blocks/variable_function_probe.block.yml
  grc/blocks/variable_struct.block.yml.py
  grc/converter/block.py
  grc/core/FlowGraph.py
  grc/core/blocks/_build.py
  grc/core/blocks/_flags.py
  grc/core/blocks/block.py
  grc/gui/VariableEditor.py
Labels: GRC
