Repository gnuradio/gnuradio, pull requests merged in 2019-03, with the labels that each got.

#2380 dtv: Prevent out of bounds array access in DVB-T2 interleaver (3.7).
  gr-dtv/lib/dvbt2/dvbt2_interleaver_bb_impl.cc
  gr-dtv/lib/dvbt2/dvbt2_interleaver_bb_impl.h
Labels: Backport-3.7

#2381 ctrlport: Add int64_t vector to rpcbasic_inserter
  gnuradio-runtime/include/gnuradio/rpcregisterhelpers.h
Labels: ctrlport

#2304 uhd: fix freq_hopping example - missing 'time'
  gr-uhd/examples/python/freq_hopping.py
Labels: Bug Fix, gr-uhd

#2395 modtool add: add C++ QA for both version '37', '38'
  gr-utils/python/modtool/core/add.py
Labels: bugfix, modtool

#2396 SWIG: Output SWIG source being parsed file during build
  cmake/Modules/UseSWIG.cmake
Labels: CMake, enhancement, swig

#2343 Add C++ generation support to gr-filter
  gr-filter/grc/filter_band_pass_filter.block.yml
  gr-filter/grc/filter_band_reject_filter.block.yml
  gr-filter/grc/filter_dc_blocker_xx.block.yml
  gr-filter/grc/filter_fft_filter_xxx.block.yml
  gr-filter/grc/filter_filter_delay_fc.block.yml
  gr-filter/grc/filter_filterbank_vcvcf.block.yml
  gr-filter/grc/filter_fir_filter_xxx.block.yml
  gr-filter/grc/filter_freq_xlating_fft_filter_ccc.block.yml
  gr-filter/grc/filter_freq_xlating_fir_filter_xxx.block.yml
  gr-filter/grc/filter_high_pass_filter.block.yml
  gr-filter/grc/filter_hilbert_fc.block.yml
  gr-filter/grc/filter_iir_filter_xxx.block.yml
  gr-filter/grc/filter_interp_fir_filter_xxx.block.yml
  gr-filter/grc/filter_low_pass_filter.block.yml
  gr-filter/grc/filter_low_pass_xlating_filter.block.yml
  gr-filter/grc/filter_mmse_interpolator_xx.block.yml
  gr-filter/grc/filter_mmse_resampler_xx.block.yml
  gr-filter/grc/filter_pfb_arb_resampler.block.yml
  gr-filter/grc/filter_pfb_channelizer.block.yml
  gr-filter/grc/filter_pfb_channelizer_hier.block.yml
  gr-filter/grc/filter_pfb_decimator.block.yml
  gr-filter/grc/filter_pfb_interpolator.block.yml
  gr-filter/grc/filter_pfb_synthesizer.block.yml
  gr-filter/grc/filter_rational_resampler_base_xxx.block.yml
  gr-filter/grc/filter_rational_resampler_xxx.block.yml
  gr-filter/grc/filter_root_raised_cosine_filter.block.yml
  gr-filter/grc/filter_single_pole_iir_filter_xx.block.yml
  gr-filter/grc/variable_band_pass_filter_taps.block.yml
  gr-filter/grc/variable_band_reject_filter_taps.block.yml
  gr-filter/grc/variable_high_pass_filter_taps.block.yml
  gr-filter/grc/variable_low_pass_filter_taps.block.yml
  gr-filter/grc/variable_rrc_filter_taps.block.yml
Labels: C++ Generation

#2361 gr_modtool: Fix for parameter wrap in cli inputs
  gr-utils/python/modtool/cli/add.py
  gr-utils/python/modtool/core/info.py
Labels: WIP

#2420 modtool: Update Python templates
  gr-utils/python/modtool/templates/templates.py
Labels: modtool
