Repository gnuradio/gnuradio, pull requests merged in 2019-05, with the labels that each got.

#2474 blocks/grc: fix null_source C++ generation
  gr-blocks/grc/blocks_null_source.block.yml
Labels: Bug, C++ Generation, GRC, yaml

#2490 uhd: Update uhd_rx_nogui
  gr-uhd/apps/uhd_rx_nogui
Labels: Bug, gr-uhd

#2480 analog: correct errors of automatic conversion script in fm_preemph
  gr-analog/python/analog/fm_emph.py
Labels: Bug, analog

#2502 runtime swig: correct the destination for runtime_swigTargets.cmake
  gnuradio-runtime/swig/CMakeLists.txt
Labels: CMake

#2501 blocks: QA: correct conditions for CTRLPORT tests removal
  gr-blocks/python/blocks/CMakeLists.txt
Labels: Bug, CMake, blocks

#2500 blocks: simple fix for Boost 1.70.0 in socket_pdu
  gr-blocks/lib/socket_pdu_impl.cc
Labels: Bug, CMake

#2513 modtool: Remove cppunit-related files
  gr-utils/python/modtool/templates/gr-newmod/lib/qa_howto.cc
  gr-utils/python/modtool/templates/gr-newmod/lib/qa_howto.h
  gr-utils/python/modtool/templates/gr-newmod/lib/test_howto.cc
Labels: Bug, gr-newmod, modtool

#2511 grc: function_probe_block extra quotes with block_id
  grc/blocks/variable_function_probe.block.yml
  grc/core/Constants.py
  grc/core/params/dtypes.py
  grc/core/params/param.py
Labels: Bug, GRC
