Repository gnuradio/gnuradio, pull requests merged in 2019-07, with the labels that each got.

#2577 video-sdl: Add C++ generation
  gr-video-sdl/grc/video_sdl_sink.block.yml
Labels: C++ Generation, GRC

#2578 audio: Add C++ generation
  gr-audio/grc/audio_sink.block.yml
  gr-audio/grc/audio_source.block.yml
Labels: C++ Generation, GRC

#2588 uhd: Remove references to clock_config_t
  gr-uhd/include/gnuradio/uhd/usrp_block.h
  gr-uhd/lib/usrp_block_impl.cc
  gr-uhd/lib/usrp_block_impl.h
  gr-uhd/swig/uhd_swig.i
Labels: Bug, Cruft, gr-uhd

#2571 dtv: Remove superfluous set_relative_rate() in DVB-T inner coder.
  gr-dtv/lib/dvbt/dvbt_inner_coder_impl.cc
Labels: dtv

#2572 dtv: Remove superfluous set_relative_rate() in DVB-T inner coder (3.7).
  gr-dtv/lib/dvbt/dvbt_inner_coder_impl.cc
Labels: dtv, maint-3.7

#2575 grc: Unselect all on Ctrl+F (3.7)
  grc/gui/ActionHandler.py
Labels: GRC

#2591 grc: Load builtin icon if no freedesktop icon is found
  grc/gui/MainWindow.py
Labels: Bug, GRC

#2608 cmake: deps: Bump min Python version to 3.6
  CMakeLists.txt
Labels: CMake

#2622 rebased #2598: grc: add busports back into 3.8
  gr-blocks/grc/blocks_null_sink.block.yml
  gr-blocks/grc/blocks_null_source.block.yml
  gr-fec/examples/ber_curve_gen.grc
  gr-fec/grc/tpc_decoder_def_list.block.yml
  gr-fec/grc/variable_cc_decoder_def_list.block.yml
  gr-fec/grc/variable_cc_encoder_def_list.block.yml
  gr-fec/grc/variable_dummy_decoder_def_list.block.yml
  gr-fec/grc/variable_dummy_encoder_def_list.block.yml
  gr-qtgui/grc/qtgui_ber_sink_b.block.yml
  grc/blocks/grc.tree.yml
  grc/core/FlowGraph.py
  grc/core/blocks/block.py
  grc/core/generator/cpp_top_block.py
  grc/core/generator/top_block.py
  grc/core/ports/port.py
  grc/gui/Application.py
  grc/gui/canvas/block.py
  grc/gui/canvas/connection.py
  grc/gui/canvas/flowgraph.py
  grc/gui/canvas/port.py
Labels: GRC, Python

#2609 uhd: Create compatibility layer for future UHD versions
  gr-uhd/include/gnuradio/uhd/CMakeLists.txt
  gr-uhd/include/gnuradio/uhd/clock_config.hpp
  gr-uhd/include/gnuradio/uhd/io_type.hpp
  gr-uhd/include/gnuradio/uhd/usrp_block.h
  gr-uhd/lib/usrp_block_impl.cc
  gr-uhd/swig/uhd_swig.i
Labels: gr-uhd

#2627 grc: added url to wiki page for each block in docs tab
  CMakeLists.txt
  grc/00-grc-docs.conf.in
  grc/CMakeLists.txt
  grc/gui/Config.py
  grc/gui/PropsDialog.py
Labels: Documentation, GRC

#2624 Renaming the VERSION_INFO_* to VERSION_ macros consistent w/ VERSIONING
  CMakeLists.txt
  cmake/Modules/GnuradioConfigVersion.cmake.in
  cmake/Modules/GrVersion.cmake
  gr-utils/python/modtool/templates/gr-newmod/CMakeLists.txt
Labels: CMake

#2626 Be specific about the versions of Python that are usable
  CMakeLists.txt
  grc/CMakeLists.txt
Labels: CMake, GRC, Python, Python3, dependencies

#2601 README: Add repology badge
  README.md
Labels: Documentation

#2600 Fix for misc. typos (user and non user-facing)
  cmake/Modules/GrBuildTypes.cmake
  docs/RELEASE-NOTES-3.7.10.1.md
  docs/doxygen/other/build_guide.dox.in
  gnuradio-runtime/include/gnuradio/block.h
  gnuradio-runtime/include/gnuradio/logger.h
  gnuradio-runtime/include/gnuradio/rpcregisterhelpers.h
  gnuradio-runtime/lib/logger.cc
  gnuradio-runtime/python/gnuradio/gr/gateway.py
  gnuradio-runtime/python/gnuradio/gr/top_block.py
  gnuradio-runtime/python/gnuradio/gru/freqz.py
  gnuradio-runtime/swig/gnuradio.i
  gr-blocks/grc/blocks_message_strobe_random.block.yml
  gr-blocks/grc/blocks_vector_insert_x.block.yml
  gr-blocks/include/gnuradio/blocks/control_loop.h
  gr-blocks/include/gnuradio/blocks/tcp_server_sink.h
  gr-blocks/lib/udp_source_impl.cc
  gr-channels/grc/channels_iqbal_gen.block.yml
  gr-channels/grc/channels_selective_fading_model2.block.yml
  gr-channels/include/gnuradio/channels/dynamic_channel_model.h
  gr-channels/python/channels/iqbal_gen.py
  gr-digital/include/gnuradio/digital/corr_est_cc.h
  gr-digital/include/gnuradio/digital/diff_decoder_bb.h
  gr-digital/include/gnuradio/digital/diff_encoder_bb.h
  gr-digital/include/gnuradio/digital/fll_band_edge_cc.h
  gr-digital/lib/clock_tracking_loop.h
  gr-digital/python/digital/digital_voice.py.real
  gr-digital/python/digital/ofdm_receiver.py
  gr-digital/python/digital/qa_constellation.py
  gr-digital/python/digital/soft_dec_lut_gen.py
  gr-digital/python/digital/utils/gray_code.py
  gr-fec/grc/fec_decoder.block.yml
  gr-fec/grc/fec_encoder.block.yml
  gr-fec/python/fec/polar/polar_channel_construction
  gr-filter/apps/gr_filter_design
  gr-filter/grc/filter_band_pass_filter.block.yml
  gr-filter/grc/filter_band_reject_filter.block.yml
  gr-filter/grc/filter_high_pass_filter.block.yml
  gr-filter/grc/filter_low_pass_filter.block.yml
  gr-filter/grc/filter_low_pass_xlating_filter.block.yml
  gr-filter/grc/variable_band_reject_filter_taps.block.yml
  gr-filter/grc/variable_high_pass_filter_taps.block.yml
  gr-filter/grc/variable_low_pass_filter_taps.block.yml
  gr-filter/lib/pfb_synthesizer_ccf_impl.cc
  gr-qtgui/lib/SpectrumGUIClass.cc
  gr-qtgui/lib/time_raster_sink_b_impl.cc
  gr-qtgui/python/qtgui/range.py.cmakein
  gr-uhd/include/gnuradio/uhd/amsg_source.h
  gr-uhd/include/gnuradio/uhd/usrp_block.h
  gr-uhd/lib/usrp_source_impl.cc
  grc/core/FlowGraph.py
  grc/gui/Actions.py
  grc/gui/FileDialogs.py
  grc/gui/canvas/flowgraph.py
  tools/clang_format.py
  tools/template_convert.py
Labels: Documentation

#2517 Add GR_PYTHON_RELATIVE to fix issue #2515 with runtime_swigTargets-re…
  cmake/Modules/GrPython.cmake
  gnuradio-runtime/swig/CMakeLists.txt
Labels: CMake, swig

#2641 grc: restore copy/paste behavior
  grc/gui/canvas/flowgraph.py
Labels: GRC

#2645 grc/cppgen: Fix a bug where GRC would write to the wrong path
  grc/core/generator/cpp_top_block.py
Labels: Bug, C++ Generation

#2651 grc: Use yaml.safe_load() instead of yaml.load()
  grc/core/generator/cpp_top_block.py
  grc/tests/test_yaml_checker.py
Labels: Python, yaml

#2643 grc: clean up todos from busports
  grc/core/blocks/block.py
  grc/core/ports/port.py
Labels: GRC

#2647 grc/cppgen: Hide linking parameter
  grc/blocks/options.block.yml
Labels: C++ Generation, GRC, yaml

#2654 Change /MP and /bigobj to compile_options for Ninja compatibility.
  CMakeLists.txt
Labels: CMake
