Repository gnuradio/gnuradio, pull requests merged in 2019-01, with the labels that each got.

#2280 gr-qtgui: Fix typo in QT Bercurve Sink
  gr-qtgui/grc/qtgui_ber_sink_b.block.yml
Labels: Bug Fix, QTGUI

#2254 grc: Make GRC save blank parameters
  grc/core/platform.py
Labels: GRC

#2289 uhd: grc: Don't set antenna if no value is given
  gr-uhd/grc/gen_uhd_usrp_blocks.py
Labels: Bug Fix, gr-uhd

#2288 grc: Fix rendering of eng_float params
  grc/core/generator/flow_graph.py.mako
Labels: Bug Fix, GRC

#2298 cmake: Remove unused FindUSB.cmake module
  cmake/Modules/FindUSB.cmake
Labels: CMake, Cruft

#2316 grc: Remove generated_time from flow_graph.tmpl (maint)
  grc/core/generator/Generator.py
  grc/core/generator/flow_graph.tmpl
Labels: GRC

#2311 codec2: only check length of encoded messages in unit test
  gr-vocoder/python/vocoder/qa_codec2_vocoder.py
Labels: Bug Fix, QA
