Repository gnuradio/gnuradio, pull requests merged in 2019-11, with the labels that each got.

#2870 uhd: Bump minimum version to 3.9.7
  gr-uhd/CMakeLists.txt
Labels: gr-uhd

#2823 gr-uhd: multichannel uhd object not populating channels
  gr-uhd/grc/gen_uhd_usrp_blocks.py
Labels: Backport-3.8

#2855 grc: include comments in flowgraph extent calculation (fixes #2854)
  grc/gui/canvas/block.py
  grc/gui/canvas/flowgraph.py
Labels: Backport-3.8, Bug, GRC, Python

#2857 grc: removed the link to wiki page for the block if its an OOT block
  grc/gui/PropsDialog.py
Labels: Backport-3.8, Bug, Documentation, GRC

#2858 codec2: development (master) branch support
  gr-vocoder/include/gnuradio/vocoder/freedv_api.h
Labels: Backport-3.8, dependencies

#2863 GRC: testing: can't rely on set ordering; sets are unordered
  grc/tests/test_block_flags.py
Labels: GRC, Python3, QA

#2867 grc: fix importing configparser in variable config block
  grc/blocks/variable_config.block.yml
Labels: Python3, yaml

#2790 grc: embedded python parameter values disappear
  grc/core/blocks/embedded_python.py
Labels: Backport-3.8, GRC

#2821 qtgui: usrp source gain callbacks not rendered
  gr-uhd/grc/gen_uhd_usrp_blocks.py
Labels: Backport-3.8, gr-uhd

#2845 Change rounding method to `std::lround`
  gnuradio-runtime/lib/block_executor.cc
  gr-fec/lib/decoder_impl.cc
  gr-fec/lib/depuncture_bb_impl.cc
  gr-fec/lib/encoder_impl.cc
  gr-fec/lib/puncture_bb_impl.cc
  gr-fec/lib/puncture_ff_impl.cc
Labels: FEC, Needs CLA, Runtime
