Repository gnuradio/gnuradio, pull requests merged in 2020-03, with the labels that each got.

#3068 Key filter zmq (v2)
  gr-zeromq/grc/zeromq_pub_sink.block.yml
  gr-zeromq/grc/zeromq_sub_source.block.yml
  gr-zeromq/include/gnuradio/zeromq/pub_sink.h
  gr-zeromq/include/gnuradio/zeromq/sub_source.h
  gr-zeromq/lib/base_impl.cc
  gr-zeromq/lib/base_impl.h
  gr-zeromq/lib/pub_sink_impl.cc
  gr-zeromq/lib/pub_sink_impl.h
  gr-zeromq/lib/sub_source_impl.cc
  gr-zeromq/lib/sub_source_impl.h
  gr-zeromq/python/zeromq/qa_zeromq_pubsub.py
  gr-zeromq/python/zeromq/qa_zeromq_sub.py
Labels: ZMQ, enhancement

#3198 gr-dtv: Add QA test for DVB and DVB-T2 blocks.
  gr-dtv/python/dtv/qa_dtv.py
  gr-dtv/python/dtv/vv009-4kfft.cfile
  gr-dtv/python/dtv/vv009-4kfft.ts
Labels: dtv, enhancement

#3255 Allow grc to load flowgraphs with missing blocks
  grc/core/blocks/block.py
Labels: GRC

#3249 modtool: Backport PR #2723 to maint-3.8
  gr-utils/python/modtool/core/add.py
  gr-utils/python/modtool/core/disable.py
  gr-utils/python/modtool/core/rm.py
Labels: QA, modtool

#3261 grc: workaround to allow epy blocks/modules to load
  grc/core/blocks/block.py
Labels: Bug Fix, GRC

#3214 backport #3184 to 3.8
  gnuradio-runtime/lib/top_block_impl.cc
  gr-blocks/lib/qa_gr_top_block.cc
Labels: Backport-3.8, Runtime

#3274 blocks: Add const to member variables that don't change
  gr-blocks/lib/annotator_1to1_impl.h
  gr-blocks/lib/annotator_alltoall_impl.h
  gr-blocks/lib/annotator_raw_impl.h
  gr-blocks/lib/bin_statistics_f_impl.h
  gr-blocks/lib/burst_tagger_impl.h
  gr-blocks/lib/complex_to_interleaved_char_impl.h
  gr-blocks/lib/complex_to_interleaved_short_impl.h
  gr-blocks/lib/copy_impl.h
  gr-blocks/lib/correctiq_auto_impl.h
  gr-blocks/lib/correctiq_swapiq_impl.cc
  gr-blocks/lib/correctiq_swapiq_impl.h
  gr-blocks/lib/ctrlport_probe2_b_impl.h
  gr-blocks/lib/ctrlport_probe2_c_impl.h
  gr-blocks/lib/ctrlport_probe2_f_impl.h
  gr-blocks/lib/ctrlport_probe2_i_impl.h
  gr-blocks/lib/ctrlport_probe2_s_impl.h
  gr-blocks/lib/ctrlport_probe_c_impl.h
  gr-blocks/lib/deinterleave_impl.h
  gr-blocks/lib/delay_impl.h
  gr-blocks/lib/exponentiate_const_cci_impl.h
  gr-blocks/lib/integrate_impl.h
  gr-blocks/lib/interleave_impl.h
  gr-blocks/lib/interleaved_char_to_complex_impl.h
  gr-blocks/lib/interleaved_short_to_complex_impl.h
  gr-blocks/lib/keep_m_in_n_impl.h
  gr-blocks/lib/max_blk_impl.h
  gr-blocks/lib/min_blk_impl.h
  gr-blocks/lib/moving_average_impl.h
  gr-blocks/lib/nlog10_ff_impl.h
  gr-blocks/lib/pdu_to_tagged_stream_impl.h
  gr-blocks/lib/plateau_detector_fb_impl.h
  gr-blocks/lib/probe_rate_impl.h
  gr-blocks/lib/probe_signal_v_impl.h
  gr-blocks/lib/random_pdu_impl.h
  gr-blocks/lib/repack_bits_bb_impl.h
  gr-blocks/lib/repeat_impl.h
  gr-blocks/lib/selector_impl.h
  gr-blocks/lib/socket_pdu_impl.h
  gr-blocks/lib/stream_mux_impl.h
  gr-blocks/lib/stream_to_tagged_stream_impl.h
  gr-blocks/lib/tag_gate_impl.h
  gr-blocks/lib/tag_share_impl.h
  gr-blocks/lib/tagged_stream_align_impl.h
  gr-blocks/lib/tagged_stream_mux_impl.h
  gr-blocks/lib/tags_strobe_impl.h
  gr-blocks/lib/tcp_server_sink_impl.h
  gr-blocks/lib/test_tag_variable_rate_ff_impl.h
  gr-blocks/lib/throttle_impl.h
  gr-blocks/lib/tsb_vector_sink_impl.h
  gr-blocks/lib/tuntap_pdu_impl.h
  gr-blocks/lib/udp_sink_impl.h
  gr-blocks/lib/udp_source_impl.h
  gr-blocks/lib/vco_c_impl.h
  gr-blocks/lib/vco_f_impl.h
  gr-blocks/lib/vector_insert_impl.h
  gr-blocks/lib/vector_map_impl.h
  gr-blocks/lib/vector_sink_impl.h
  gr-blocks/lib/vector_source_impl.h
  gr-blocks/lib/wavfile_sink_impl.h
Labels: Cleanup

#3176 Added new menu option under 'Help' for Keyboard-Shortcuts.
  grc/gui/Actions.py
  grc/gui/Application.py
  grc/gui/Bars.py
  grc/gui/Dialogs.py
Labels: Documentation, GRC

#3164 RangeWidget: avoid double-changes
  gr-qtgui/python/qtgui/range.py.cmakein
Labels: QTGUI

#3239 gr-blocks: Add Msg Port to Delay Block
  gr-blocks/grc/blocks_delay.block.yml
  gr-blocks/lib/delay_impl.cc
  gr-blocks/lib/delay_impl.h
Labels: blocks, enhancement

#3272 docs: updated usage manual export from wiki
  docs/usage-manual/(exported from wiki) Block Thread Affinity and Priority.txt
  docs/usage-manual/(exported from wiki) Configuration Files.txt
  docs/usage-manual/(exported from wiki) GNURadioCompanion.txt
  docs/usage-manual/(exported from wiki) Handling Flowgraphs.txt
  docs/usage-manual/(exported from wiki) Logging.txt
  docs/usage-manual/(exported from wiki) Message Passing.txt
  docs/usage-manual/(exported from wiki) Metadata Information.txt
  docs/usage-manual/(exported from wiki) Performance Counters.txt
  docs/usage-manual/(exported from wiki) Polymorphic Types (PMTs).txt
  docs/usage-manual/(exported from wiki) Polyphase Filterbanks.txt
  docs/usage-manual/(exported from wiki) Stream Tags.txt
  docs/usage-manual/(exported from wiki) Tagged Stream Blocks.txt
  docs/usage-manual/(exported from wiki) Types of Blocks.txt
  docs/usage-manual/(exported from wiki) VOLK Guide.txt
Labels: Documentation

#3246 gr-network: Add grnet networking blocks to GNU Radio
  CMakeLists.txt
  gr-blocks/grc/blocks.tree.yml
  gr-blocks/grc/blocks_tcp_server_sink.block.yml
  gr-blocks/grc/blocks_udp_sink.block.yml
  gr-blocks/grc/blocks_udp_source.block.yml
  gr-network/CMakeLists.txt
  gr-network/apps/CMakeLists.txt
  gr-network/docs/CMakeLists.txt
  gr-network/docs/README.network
  gr-network/examples/CMakeLists.txt
  gr-network/examples/test_tcp_sink_client.grc
  gr-network/examples/test_tcp_sink_client_ipv6.grc
  gr-network/examples/test_tcp_sink_server.grc
  gr-network/examples/test_tcp_source.grc
  gr-network/examples/test_tcp_source_client.grc
  gr-network/examples/test_tcp_source_ipv6.grc
  gr-network/examples/test_udp_sink.grc
  gr-network/examples/test_udp_sink_ipv6.grc
  gr-network/examples/test_udp_sink_seq.grc
  gr-network/examples/test_udp_source.grc
  gr-network/examples/test_udp_source_ipv6.grc
  gr-network/examples/test_udp_source_seq.grc
  gr-network/gnuradio-network.pc.in
  gr-network/grc/CMakeLists.txt
  gr-network/grc/network_tcp_sink.block.yml
  gr-network/grc/network_tcp_source.block.yml
  gr-network/grc/network_udp_sink.block.yml
  gr-network/grc/network_udp_source.block.yml
  gr-network/include/gnuradio/network/CMakeLists.txt
  gr-network/include/gnuradio/network/api.h
  gr-network/include/gnuradio/network/packet_headers.h
  gr-network/include/gnuradio/network/tcp_sink.h
  gr-network/include/gnuradio/network/udp_header_types.h
  gr-network/include/gnuradio/network/udp_sink.h
  gr-network/include/gnuradio/network/udp_source.h
  gr-network/lib/CMakeLists.txt
  gr-network/lib/tcp_sink_impl.cc
  gr-network/lib/tcp_sink_impl.h
  gr-network/lib/udp_sink_impl.cc
  gr-network/lib/udp_sink_impl.h
  gr-network/lib/udp_source_impl.cc
  gr-network/lib/udp_source_impl.h
  gr-network/python/network/CMakeLists.txt
  gr-network/python/network/__init__.py
  gr-network/python/network/tcp_source.py
  gr-network/swig/CMakeLists.txt
  gr-network/swig/network_swig.i
Labels: enhancement, network

#3240 gr-blocks: Add Phase Shift Block with Msg Capabilities
  gr-blocks/grc/blocks.tree.yml
  gr-blocks/grc/blocks_phase_shift.block.yml
  gr-blocks/include/gnuradio/blocks/CMakeLists.txt
  gr-blocks/include/gnuradio/blocks/phase_shift.h
  gr-blocks/lib/CMakeLists.txt
  gr-blocks/lib/phase_shift_impl.cc
  gr-blocks/lib/phase_shift_impl.h
  gr-blocks/swig/blocks_swig10.i
Labels: New Feature, blocks

#3291 filter: Improve use of numpy and scipy in filter design tool
  gr-filter/python/filter/design/filter_design.py
  gr-filter/python/filter/gui/pyqt_filter_stacked.py
Labels: Filter Design Tool, Python, fft, filter

#3292 fec: make SciPy an optional dependency
  gr-fec/python/fec/polar/channel_construction.py
Labels: Backport-3.8, maint-3.8

#3266 modtool: use prefix path for modtool instead of prefs
  gr-utils/python/modtool/cli/newmod.py
  gr-utils/python/modtool/core/newmod.py
Labels: Backport-3.7, Backport-3.8, modtool
