Repository gnuradio/gnuradio, pull requests merged in 2020-02, with the labels that each got.

#3156 gr-analog: fix default gain in quadrature demod
  gr-analog/grc/analog_quadrature_demod_cf.block.yml
Labels: analog

#3157 gr-analog: clean up examples
  gr-analog/examples/fm_rx.grc
  gr-analog/examples/fm_tx.grc
  gr-analog/examples/noise_power.grc
Labels: analog, examples

#2679 grc: Attempt to fix test_expr_utils
  grc/core/utils/expr_utils.py
Labels: Python, clarification needed

#3154 Fix ATSC Flowgraphs and Allow Realtime Viewing
  gr-dtv/examples/uhd_atsc_capture.grc
  gr-dtv/examples/uhd_atsc_tx.grc
  gr-dtv/examples/uhd_rx_atsc.grc
  gr-dtv/lib/atsc/atsc_fpll_impl.cc
Labels: dtv, examples

#3174 Display import errors in gr_modtool
  gr-utils/python/modtool/cli/base.py
Labels: modtool

#3172 ctrl+s save works on new pages
  grc/gui/Application.py
  grc/gui/MainWindow.py
Labels: GRC

#3170 uhd: Add support for UHD 4.0 feature: RFNoC
  gr-uhd/CMakeLists.txt
  gr-uhd/examples/grc/rfnoc_radio_ddc.grc
  gr-uhd/grc/CMakeLists.txt
  gr-uhd/grc/rfnoc.domain.yml
  gr-uhd/grc/uhd.tree.yml
  gr-uhd/grc/uhd_fpga_clk.domain.yml
  gr-uhd/grc/uhd_fpga_ctrl.domain.yml
  gr-uhd/grc/uhd_fpga_data.domain.yml
  gr-uhd/grc/uhd_fpga_ddc.block.yml
  gr-uhd/grc/uhd_fpga_duc.block.yml
  gr-uhd/grc/uhd_fpga_fft.block.yml
  gr-uhd/grc/uhd_fpga_io_ctrl_port.domain.yml
  gr-uhd/grc/uhd_fpga_io_radio.domain.yml
  gr-uhd/grc/uhd_fpga_io_time_keeper.domain.yml
  gr-uhd/grc/uhd_fpga_radio.block.yml
  gr-uhd/grc/uhd_fpga_sep.block.yml
  gr-uhd/grc/uhd_fpga_x310.block.yml
  gr-uhd/grc/uhd_rfnoc_ddc.block.yml
  gr-uhd/grc/uhd_rfnoc_duc.block.yml
  gr-uhd/grc/uhd_rfnoc_fft.block.yml
  gr-uhd/grc/uhd_rfnoc_graph.block.yml
  gr-uhd/grc/uhd_rfnoc_rx_radio.block.yml
  gr-uhd/grc/uhd_rfnoc_rx_streamer.block.yml
  gr-uhd/grc/uhd_rfnoc_tx_radio.block.yml
  gr-uhd/grc/uhd_rfnoc_tx_streamer.block.yml
  gr-uhd/include/gnuradio/uhd/CMakeLists.txt
  gr-uhd/include/gnuradio/uhd/rfnoc_block.h
  gr-uhd/include/gnuradio/uhd/rfnoc_block_generic.h
  gr-uhd/include/gnuradio/uhd/rfnoc_ddc.h
  gr-uhd/include/gnuradio/uhd/rfnoc_duc.h
  gr-uhd/include/gnuradio/uhd/rfnoc_graph.h
  gr-uhd/include/gnuradio/uhd/rfnoc_rx_radio.h
  gr-uhd/include/gnuradio/uhd/rfnoc_rx_streamer.h
  gr-uhd/include/gnuradio/uhd/rfnoc_tx_radio.h
  gr-uhd/include/gnuradio/uhd/rfnoc_tx_streamer.h
  gr-uhd/lib/CMakeLists.txt
  gr-uhd/lib/rfnoc_block.cc
  gr-uhd/lib/rfnoc_block_generic_impl.cc
  gr-uhd/lib/rfnoc_block_generic_impl.h
  gr-uhd/lib/rfnoc_ddc_impl.cc
  gr-uhd/lib/rfnoc_ddc_impl.h
  gr-uhd/lib/rfnoc_duc_impl.cc
  gr-uhd/lib/rfnoc_duc_impl.h
  gr-uhd/lib/rfnoc_graph_impl.cpp
  gr-uhd/lib/rfnoc_rx_radio_impl.cc
  gr-uhd/lib/rfnoc_rx_radio_impl.h
  gr-uhd/lib/rfnoc_rx_streamer_impl.cc
  gr-uhd/lib/rfnoc_rx_streamer_impl.h
  gr-uhd/lib/rfnoc_tx_radio_impl.cc
  gr-uhd/lib/rfnoc_tx_radio_impl.h
  gr-uhd/lib/rfnoc_tx_streamer_impl.cc
  gr-uhd/lib/rfnoc_tx_streamer_impl.h
  gr-uhd/swig/CMakeLists.txt
  gr-uhd/swig/uhd_swig.i
Labels: gr-uhd

#3184 runtime: release the flattened flowgraph after stopping
  gnuradio-runtime/lib/top_block_impl.cc
  gr-blocks/lib/qa_gr_top_block.cc
Labels: Bug Fix, Runtime

#3189 gr-newmod: Update MANIFEST with `gr_supported_version`
  gr-utils/python/modtool/templates/gr-newmod/MANIFEST.md
Labels: enhancement, gr-newmod

#3168 cmake: Make cmake_c*_standard unconditionally set to 11
  CMakeLists.txt
Labels: CMake

#3180 grc: ctrl+a now selects all text if search box in focus
  grc/gui/Application.py
Labels: GRC

#3166 gr-dtv: Optimize DVB-T transmitter by consolidating blocks.
  gr-dtv/examples/dvbt_tx_2k.grc
  gr-dtv/examples/dvbt_tx_8k.grc
  gr-dtv/lib/dvbt/dvbt_reference_signals_impl.cc
  gr-dtv/lib/dvbt/dvbt_reference_signals_impl.h
Labels: dtv

#3037 pmt: Fix RuntimeError in pmt_to_python
  gnuradio-runtime/include/pmt/pmt.h
  gnuradio-runtime/lib/pmt/pmt.cc
  gnuradio-runtime/swig/gr_extras.i
  gr-blocks/python/blocks/qa_hier_block2.py
  gr-blocks/python/blocks/qa_vector_sink_source.py
  gr-digital/python/digital/qa_ofdm_carrier_allocator_cvc.py
  gr-digital/python/digital/qa_ofdm_serializer_vcc.py
  gr-filter/python/filter/qa_pfb_channelizer.py
Labels: Bug Fix, PMT

#3131 examples: fixup UHD WBFM example
  gr-uhd/examples/grc/uhd_wbfm_receive.grc
Labels: Backport-3.8, examples, gr-uhd, master

#3162 Added documentation for rational resampler
  gr-filter/grc/filter_rational_resampler_xxx.block.yml
Labels: Documentation

#3186 gr-fec: fix compiler warning
  gr-fec/lib/cc_encoder_impl.cc
  gr-fec/lib/cc_encoder_impl.h
Labels: FEC

#3169 grc: add python snippets to GRC
  gr-blocks/examples/CMakeLists.txt
  gr-blocks/examples/py_snippets_demo.grc
  grc/blocks/grc.tree.yml
  grc/blocks/snippet.block.yml
  grc/core/FlowGraph.py
  grc/core/base.py
  grc/core/blocks/block.py
  grc/core/generator/flow_graph.py.mako
  grc/core/generator/top_block.py
  grc/core/params/param.py
Labels: GRC

#3191 dtv: enhance ATSC RX example
  gr-dtv/examples/CMakeLists.txt
  gr-dtv/examples/uhd_atsc_rx.grc
Labels: dtv, examples

#3201 gr-newmod: Update MANIFEST with `gr_supported_version`
  gr-utils/python/modtool/templates/gr-newmod/MANIFEST.md
Labels: Backport-3.8, gr-newmod

#3200 gr-newmod: Update MANIFEST with `gr_supported_version`
  gr-utils/python/modtool/gr-newmod/MANIFEST.md
Labels: Backport-3.7, gr-newmod

#3097 grc: Fix eng_float default on argparse template
  grc/core/generator/flow_graph.py.mako
Labels: Bug, GRC

#3202 gr-blocks: Add Msg to Var and Var to Msg Conversion Blocks
  gr-blocks/examples/CMakeLists.txt
  gr-blocks/examples/msg_to_var.grc
  gr-blocks/examples/var_to_msg.grc
  gr-blocks/grc/blocks.tree.yml
  gr-blocks/grc/blocks_meta_to_pair.block.yml
  gr-blocks/grc/blocks_msg_pair_to_var.block.yml
  gr-blocks/grc/blocks_var_to_msg.block.yml
  gr-blocks/python/blocks/CMakeLists.txt
  gr-blocks/python/blocks/__init__.py
  gr-blocks/python/blocks/msg_meta_to_pair.py
  gr-blocks/python/blocks/msg_pair_to_var.py
  gr-blocks/python/blocks/var_to_msg.py
Labels: blocks, enhancement

#3171 Blocks: Add DC Spike Removal and IQ Swap Native Blocks
  gr-blocks/grc/blocks.tree.yml
  gr-blocks/grc/blocks_correctiq.block.yml
  gr-blocks/grc/blocks_correctiq_auto.block.yml
  gr-blocks/grc/blocks_correctiq_man.block.yml
  gr-blocks/grc/blocks_correctiq_swapiq.block.yml
  gr-blocks/include/gnuradio/blocks/CMakeLists.txt
  gr-blocks/include/gnuradio/blocks/correctiq.h
  gr-blocks/include/gnuradio/blocks/correctiq_auto.h
  gr-blocks/include/gnuradio/blocks/correctiq_man.h
  gr-blocks/include/gnuradio/blocks/correctiq_swapiq.h
  gr-blocks/lib/CMakeLists.txt
  gr-blocks/lib/correctiq_auto_impl.cc
  gr-blocks/lib/correctiq_auto_impl.h
  gr-blocks/lib/correctiq_impl.cc
  gr-blocks/lib/correctiq_impl.h
  gr-blocks/lib/correctiq_man_impl.cc
  gr-blocks/lib/correctiq_man_impl.h
  gr-blocks/lib/correctiq_swapiq_impl.cc
  gr-blocks/lib/correctiq_swapiq_impl.h
  gr-blocks/swig/blocks_swig0.i
Labels: blocks, enhancement

#3044 blocks: support saving of all tags on tag debug
  gr-blocks/include/gnuradio/blocks/tag_debug.h
  gr-blocks/lib/tag_debug_impl.cc
  gr-blocks/lib/tag_debug_impl.h
Labels: New Feature, blocks

#3208 gr-blocks: Added scalar to Complex to/from ishort and ichar
  gr-blocks/grc/blocks_complex_to_interleaved_char.block.yml
  gr-blocks/grc/blocks_complex_to_interleaved_short.block.yml
  gr-blocks/grc/blocks_interleaved_char_to_complex.block.yml
  gr-blocks/grc/blocks_interleaved_short_to_complex.block.yml
  gr-blocks/include/gnuradio/blocks/complex_to_interleaved_char.h
  gr-blocks/include/gnuradio/blocks/complex_to_interleaved_short.h
  gr-blocks/include/gnuradio/blocks/interleaved_char_to_complex.h
  gr-blocks/include/gnuradio/blocks/interleaved_short_to_complex.h
  gr-blocks/lib/CMakeLists.txt
  gr-blocks/lib/complex_to_interleaved_char_impl.cc
  gr-blocks/lib/complex_to_interleaved_char_impl.h
  gr-blocks/lib/complex_to_interleaved_short_impl.cc
  gr-blocks/lib/complex_to_interleaved_short_impl.h
  gr-blocks/lib/interleaved_char_to_complex_impl.cc
  gr-blocks/lib/interleaved_char_to_complex_impl.h
  gr-blocks/lib/interleaved_short_array_to_complex.cc
  gr-blocks/lib/interleaved_short_array_to_complex.h
  gr-blocks/lib/interleaved_short_to_complex_impl.cc
  gr-blocks/lib/interleaved_short_to_complex_impl.h
Labels: Bug Fix, blocks, enhancement

#3212 gr-filter: Add ichar and ishort decimator
  gr-filter/examples/test_ichar_decim.grc
  gr-filter/grc/CMakeLists.txt
  gr-filter/grc/filter.tree.yml
  gr-filter/grc/filter_ival_decimator.block.yml
  gr-filter/include/gnuradio/filter/CMakeLists.txt
  gr-filter/include/gnuradio/filter/ival_decimator.h
  gr-filter/lib/CMakeLists.txt
  gr-filter/lib/ival_decimator_impl.cc
  gr-filter/lib/ival_decimator_impl.h
  gr-filter/swig/CMakeLists.txt
  gr-filter/swig/filter_swig.i
Labels: enhancement, filter

#3229 uhd: Add support for UHD 4.0 feature: RFNoC
  gr-uhd/CMakeLists.txt
  gr-uhd/examples/grc/rfnoc_radio_ddc.grc
  gr-uhd/grc/CMakeLists.txt
  gr-uhd/grc/rfnoc.domain.yml
  gr-uhd/grc/uhd.tree.yml
  gr-uhd/grc/uhd_fpga_clk.domain.yml
  gr-uhd/grc/uhd_fpga_ctrl.domain.yml
  gr-uhd/grc/uhd_fpga_data.domain.yml
  gr-uhd/grc/uhd_fpga_ddc.block.yml
  gr-uhd/grc/uhd_fpga_duc.block.yml
  gr-uhd/grc/uhd_fpga_fft.block.yml
  gr-uhd/grc/uhd_fpga_io_ctrl_port.domain.yml
  gr-uhd/grc/uhd_fpga_io_radio.domain.yml
  gr-uhd/grc/uhd_fpga_io_time_keeper.domain.yml
  gr-uhd/grc/uhd_fpga_radio.block.yml
  gr-uhd/grc/uhd_fpga_sep.block.yml
  gr-uhd/grc/uhd_fpga_x310.block.yml
  gr-uhd/grc/uhd_rfnoc_ddc.block.yml
  gr-uhd/grc/uhd_rfnoc_duc.block.yml
  gr-uhd/grc/uhd_rfnoc_fft.block.yml
  gr-uhd/grc/uhd_rfnoc_graph.block.yml
  gr-uhd/grc/uhd_rfnoc_rx_radio.block.yml
  gr-uhd/grc/uhd_rfnoc_rx_streamer.block.yml
  gr-uhd/grc/uhd_rfnoc_tx_radio.block.yml
  gr-uhd/grc/uhd_rfnoc_tx_streamer.block.yml
  gr-uhd/include/gnuradio/uhd/CMakeLists.txt
  gr-uhd/include/gnuradio/uhd/rfnoc_block.h
  gr-uhd/include/gnuradio/uhd/rfnoc_block_generic.h
  gr-uhd/include/gnuradio/uhd/rfnoc_ddc.h
  gr-uhd/include/gnuradio/uhd/rfnoc_duc.h
  gr-uhd/include/gnuradio/uhd/rfnoc_graph.h
  gr-uhd/include/gnuradio/uhd/rfnoc_rx_radio.h
  gr-uhd/include/gnuradio/uhd/rfnoc_rx_streamer.h
  gr-uhd/include/gnuradio/uhd/rfnoc_tx_radio.h
  gr-uhd/include/gnuradio/uhd/rfnoc_tx_streamer.h
  gr-uhd/lib/CMakeLists.txt
  gr-uhd/lib/rfnoc_block.cc
  gr-uhd/lib/rfnoc_block_generic_impl.cc
  gr-uhd/lib/rfnoc_block_generic_impl.h
  gr-uhd/lib/rfnoc_ddc_impl.cc
  gr-uhd/lib/rfnoc_ddc_impl.h
  gr-uhd/lib/rfnoc_duc_impl.cc
  gr-uhd/lib/rfnoc_duc_impl.h
  gr-uhd/lib/rfnoc_graph_impl.cc
  gr-uhd/lib/rfnoc_rx_radio_impl.cc
  gr-uhd/lib/rfnoc_rx_radio_impl.h
  gr-uhd/lib/rfnoc_rx_streamer_impl.cc
  gr-uhd/lib/rfnoc_rx_streamer_impl.h
  gr-uhd/lib/rfnoc_tx_radio_impl.cc
  gr-uhd/lib/rfnoc_tx_radio_impl.h
  gr-uhd/lib/rfnoc_tx_streamer_impl.cc
  gr-uhd/lib/rfnoc_tx_streamer_impl.h
  gr-uhd/swig/CMakeLists.txt
  gr-uhd/swig/uhd_swig.i
Labels: New Feature, enhancement, gr-uhd

#3223 fix bug file_meta_sink
  gr-blocks/lib/file_meta_sink_impl.cc
Labels: Backport-3.8, Bug Fix, blocks
