Repository gnuradio/gnuradio, pull requests merged in 2020-07, with the labels that each got.

#3617 uhd: remove import from uhd
  gr-uhd/python/uhd/__init__.py
Labels: Bug Fix, gr-uhd

#3565 qtgui: remove optional flag on stream ports
  gr-qtgui/grc/qtgui_const_sink_x.block.yml
  gr-qtgui/grc/qtgui_eye_sink_x.block.yml
  gr-qtgui/grc/qtgui_freq_sink_x.block.yml
  gr-qtgui/grc/qtgui_histogram_sink_x.block.yml
  gr-qtgui/grc/qtgui_time_raster_x.block.yml
  gr-qtgui/grc/qtgui_time_sink_x.block.yml
  gr-qtgui/grc/qtgui_time_sink_x.block.yml.py
  gr-qtgui/grc/qtgui_waterfall_sink_x.block.yml
Labels: GRC, QTGUI

#3622 filter: fix FFT frequency range calculation
  gr-filter/python/filter/design/filter_design.py
Labels: Bug Fix, Filter Design Tool

#3623 filter: fix FFT frequency range calculation
  gr-filter/python/filter/design/filter_design.py
Labels: Backport-3.8, Bug Fix, Filter Design Tool

#3620 modtool: Run all generated C++ code through clang-format
  CMakeLists.txt
  gr-utils/modtool/core/add.py
  gr-utils/modtool/core/newmod.py
Labels: Cleanup, modtool

#3658 gr-qtgui: Repair qtgui examples for pybind11.
  gr-qtgui/examples/pyqt_const_c.py
  gr-qtgui/examples/pyqt_example_c.py
  gr-qtgui/examples/pyqt_example_f.py
  gr-qtgui/examples/pyqt_freq_c.py
  gr-qtgui/examples/pyqt_freq_f.py
  gr-qtgui/examples/pyqt_histogram_f.py
  gr-qtgui/examples/pyqt_time_c.py
  gr-qtgui/examples/pyqt_time_f.py
  gr-qtgui/examples/pyqt_time_raster_b.py
  gr-qtgui/examples/pyqt_time_raster_f.py
  gr-qtgui/examples/pyqt_waterfall_c.py
  gr-qtgui/examples/pyqt_waterfall_f.py
  gr-qtgui/grc/qtgui_eye_sink_x.block.yml
  gr-qtgui/grc/qtgui_time_raster_x.block.yml
  gr-qtgui/include/gnuradio/qtgui/form_menus.h
  gr-qtgui/include/gnuradio/qtgui/qtgui_types.h
  gr-qtgui/lib/TimeRasterDisplayPlot.cc
  gr-qtgui/lib/WaterfallDisplayPlot.cc
  gr-qtgui/lib/spectrumdisplayform.cc
  gr-qtgui/python/qtgui/auto_correlator_sink.py
  gr-qtgui/python/qtgui/bindings/docstrings/eye_sink_c_pydoc_template.h
  gr-qtgui/python/qtgui/bindings/docstrings/eye_sink_f_pydoc_template.h
  gr-qtgui/python/qtgui/bindings/eye_sink_c_python.cc
  gr-qtgui/python/qtgui/bindings/eye_sink_f_python.cc
  gr-qtgui/python/qtgui/bindings/python_bindings.cc
  gr-qtgui/python/qtgui/bindings/qtgui_types_python.cc
Labels: QTGUI, examples, master, pybind11

#3656 grc: Add dir_select parameter type
  grc/core/Constants.py
  grc/core/params/param.py
  grc/gui/ParamWidgets.py
  grc/gui/canvas/param.py
Labels: GRC

#3660 qtgui: eye_sink - add lambda functions for message handling and other pybind11 related fixes
  gr-qtgui/lib/eye_sink_c_impl.cc
  gr-qtgui/lib/eye_sink_f_impl.cc
Labels: Bug Fix, QTGUI

#3667 uhd: Update possible master_clock_rate:s
  gr-uhd/grc/gen_uhd_usrp_blocks.py
Labels: gr-uhd
