Repository gnuradio/gnuradio, pull requests merged in 2020-04, with the labels that each got.

#3293 grc: Added a new menu option under 'Help' for Keyboard-Shortcuts
  grc/gui/Actions.py
  grc/gui/Application.py
  grc/gui/Bars.py
  grc/gui/Dialogs.py
Labels: Backport-3.8, GRC

#3213 grc: add python snippets to GRC - 3.8 backport
  gr-blocks/examples/CMakeLists.txt
  gr-blocks/examples/py_snippets_demo.grc
  grc/blocks/grc.tree.yml
  grc/blocks/snippet.block.yml
  grc/core/FlowGraph.py
  grc/core/base.py
  grc/core/blocks/block.py
  grc/core/generator/flow_graph.py.mako
  grc/core/generator/top_block.py
  grc/core/params/param.py
Labels: Backport-3.8, GRC

#3295 digital: test_corr_est example 3.8 - missing parenthesis
  gr-digital/examples/demod/test_corr_est.grc
Labels: digital, examples

#3298 fec: make SciPy an optional dependency
  gr-fec/python/fec/polar/channel_construction.py
Labels: FEC, dependencies, master

#3307 grc: show file path as tooltip in tab label
  grc/gui/MainWindow.py
  grc/gui/Notebook.py
Labels: Backport-3.8, GRC

#3299 replace boost endian check with cmake
  CMakeLists.txt
  gr-audio/lib/osx/osx_common.h
  gr-blocks/lib/wavfile.cc
Labels: master

#3311 blocks: move rotator workaround up into rotateN
  gr-blocks/include/gnuradio/blocks/rotator.h
  gr-blocks/lib/rotator_cc_impl.cc
Labels: Bug Fix, blocks

#3318 Block gateway add alias affinity
  gnuradio-runtime/include/gnuradio/block_gateway.h
Labels: Runtime

#3314 [backport-3.8] replace boost endian check with cmake
  CMakeLists.txt
  gr-audio/lib/osx/osx_common.h
  gr-blocks/lib/wavfile.cc
Labels: Backport-3.8

#3316 Module name correction for bokehgui, backport
  grc/core/generator/flow_graph.py.mako
Labels: Backport-3.8

#3324 runtime: add calls to python blocks to set affinity and get/set alias
  gnuradio-runtime/include/gnuradio/block_gateway.h
Labels: Backport-3.8, Runtime

#3306 digital: restructure equalizers and add dfe
  gr-digital/examples/CMakeLists.txt
  gr-digital/examples/equalizers/le_vs_dfe.grc
  gr-digital/examples/equalizers/linear_equalizer_compare.grc
  gr-digital/grc/digital.tree.yml
  gr-digital/grc/digital_adaptive_algorithm.block.yml
  gr-digital/grc/digital_cma_equalizer_cc.block.yml
  gr-digital/grc/digital_decision_feedback_equalizer.block.yml
  gr-digital/grc/digital_kurtotic_equalizer_cc.block.yml
  gr-digital/grc/digital_linear_equalizer.block.yml
  gr-digital/grc/digital_lms_dd_equalizer_cc.block.yml
  gr-digital/grc/digital_meas_evm_cc.block.yml
  gr-digital/include/gnuradio/digital/CMakeLists.txt
  gr-digital/include/gnuradio/digital/adaptive_algorithm.h
  gr-digital/include/gnuradio/digital/adaptive_algorithm_cma.h
  gr-digital/include/gnuradio/digital/adaptive_algorithm_lms.h
  gr-digital/include/gnuradio/digital/adaptive_algorithm_nlms.h
  gr-digital/include/gnuradio/digital/cma_equalizer_cc.h
  gr-digital/include/gnuradio/digital/decision_feedback_equalizer.h
  gr-digital/include/gnuradio/digital/kurtotic_equalizer_cc.h
  gr-digital/include/gnuradio/digital/linear_equalizer.h
  gr-digital/include/gnuradio/digital/lms_dd_equalizer_cc.h
  gr-digital/include/gnuradio/digital/meas_evm_cc.h
  gr-digital/lib/CMakeLists.txt
  gr-digital/lib/adaptive_algorithms.h
  gr-digital/lib/decision_feedback_equalizer_impl.cc
  gr-digital/lib/decision_feedback_equalizer_impl.h
  gr-digital/lib/equalizer.h
  gr-digital/lib/linear_equalizer_impl.cc
  gr-digital/lib/linear_equalizer_impl.h
  gr-digital/lib/meas_evm_cc_impl.cc
  gr-digital/lib/meas_evm_cc_impl.h
  gr-digital/python/digital/qa_decision_feedback_equalizer.py
  gr-digital/python/digital/qa_linear_equalizer.py
  gr-digital/python/digital/qa_meas_evm_cc.py
  gr-digital/swig/CMakeLists.txt
  gr-digital/swig/digital_swig2.i
  gr-digital/swig/equalizers.i
Labels: digital

#3325 Release 3.8.1.0
  CHANGELOG.md
Labels: Don't Merge

#3163 RangeWidget: implement Eng & EngSlider
  gr-qtgui/python/qtgui/range.py.cmakein
Labels: Backport-3.8, QTGUI, master

#3321 grc: add hotkeys to clear/save console, and to toggle autoscroll
  grc/gui/Actions.py
  grc/gui/Dialogs.py
Labels: GRC

#3331 runtime: Make random seed default to current time, as documented
  gnuradio-runtime/include/gnuradio/random.h
  gnuradio-runtime/lib/math/random.cc
  gr-analog/lib/fastnoise_source_impl.cc
Labels: Bug Fix, Runtime

#3329 zeromq: add bind argument for message based zeromq blocks
  gr-zeromq/grc/zeromq_pub_msg_sink.block.yml
  gr-zeromq/grc/zeromq_pull_msg_source.block.yml
  gr-zeromq/grc/zeromq_push_msg_sink.block.yml
  gr-zeromq/grc/zeromq_rep_msg_sink.block.yml
  gr-zeromq/grc/zeromq_req_msg_source.block.yml
  gr-zeromq/grc/zeromq_sub_msg_source.block.yml
  gr-zeromq/include/gnuradio/zeromq/pub_msg_sink.h
  gr-zeromq/include/gnuradio/zeromq/pull_msg_source.h
  gr-zeromq/include/gnuradio/zeromq/push_msg_sink.h
  gr-zeromq/include/gnuradio/zeromq/rep_msg_sink.h
  gr-zeromq/include/gnuradio/zeromq/req_msg_source.h
  gr-zeromq/include/gnuradio/zeromq/sub_msg_source.h
  gr-zeromq/lib/pub_msg_sink_impl.cc
  gr-zeromq/lib/pub_msg_sink_impl.h
  gr-zeromq/lib/pull_msg_source_impl.cc
  gr-zeromq/lib/pull_msg_source_impl.h
  gr-zeromq/lib/push_msg_sink_impl.cc
  gr-zeromq/lib/push_msg_sink_impl.h
  gr-zeromq/lib/rep_msg_sink_impl.cc
  gr-zeromq/lib/rep_msg_sink_impl.h
  gr-zeromq/lib/req_msg_source_impl.cc
  gr-zeromq/lib/req_msg_source_impl.h
  gr-zeromq/lib/sub_msg_source_impl.cc
  gr-zeromq/lib/sub_msg_source_impl.h
Labels: ZMQ, network

#3332 trellis: remove manual memory management
  gr-trellis/lib/core_algorithms.cc
Labels: Cleanup, waiting on CI

#3335 runtime: Remove most manual memory management
  gnuradio-runtime/include/gnuradio/buffer.h
  gnuradio-runtime/include/gnuradio/hier_block2.h
  gnuradio-runtime/include/gnuradio/logger.h
  gnuradio-runtime/include/gnuradio/message.h
  gnuradio-runtime/include/gnuradio/thread/thread_group.h
  gnuradio-runtime/include/gnuradio/top_block.h
  gnuradio-runtime/lib/block_executor.cc
  gnuradio-runtime/lib/block_executor.h
  gnuradio-runtime/lib/buffer.cc
  gnuradio-runtime/lib/hier_block2.cc
  gnuradio-runtime/lib/logger.cc
  gnuradio-runtime/lib/math/qa_fxpt_nco.cc
  gnuradio-runtime/lib/math/qa_fxpt_vco.cc
  gnuradio-runtime/lib/message.cc
  gnuradio-runtime/lib/thread/thread_group.cc
  gnuradio-runtime/lib/top_block.cc
  gnuradio-runtime/lib/vmcircbuf.cc
Labels: C++11, Cleanup

#3320 pmt: speed up serialization
  gnuradio-runtime/lib/pmt/pmt_serialize.cc
Labels: PMT

#3218 cmake: declare compatibility if newer than the requested version
  cmake/Modules/GnuradioConfigVersion.cmake.in
Labels: CMake

#3340 modtool: Added feature to prevent creation of multiple blocks with same name.
  gr-utils/modtool/cli/add.py
Labels: Bug Fix, modtool

#3305 remove boost::lexical_cast
  gnuradio-runtime/lib/pmt/pmt_unv.cc
  gr-qtgui/include/gnuradio/qtgui/edit_box_msg.h
  gr-qtgui/lib/edit_box_msg_impl.cc
Labels: C++11, Cleanup, boost

#3348 interleaved_char/short_to_complex: remove unused private fields
  gr-blocks/lib/interleaved_char_to_complex_impl.cc
  gr-blocks/lib/interleaved_char_to_complex_impl.h
  gr-blocks/lib/interleaved_short_to_complex_impl.cc
  gr-blocks/lib/interleaved_short_to_complex_impl.h
Labels: Cruft, blocks

#3341 CMake/SWIG: Remove SWIG flag superfluous since 3.0.12, suppress warning
  cmake/Modules/GrSwig.cmake
Labels: CMake, swig

#3351 gr-digital/python : Updated soft_dec_lut_gen.py to avoid depreciation warnings.
  gr-digital/python/digital/soft_dec_lut_gen.py
Labels: Bug Fix, digital

#3353 VOLK: notch down the minimum required version to 2.1.0
  CMakeLists.txt
Labels: CMake, VOLK

#3338 trellis/fsm: error handling and logging replaces printf debugging
  gr-trellis/lib/fsm.cc
Labels: logging, trellis

#3355 pmt: conditionalize testing of long > 2³² on sizeof(long)
  gnuradio-runtime/python/pmt/qa_pmt.py
Labels: Bug Fix, PMT, QA

#3357 file_sink: Flush file on stop()
  gr-blocks/lib/file_sink_impl.cc
  gr-blocks/lib/file_sink_impl.h
Labels: Bug, blocks

#3359 runtime: move loggers from gr::block to gr::basic_block
  gnuradio-runtime/include/gnuradio/basic_block.h
  gnuradio-runtime/include/gnuradio/block.h
  gnuradio-runtime/lib/basic_block.cc
  gnuradio-runtime/lib/block.cc
Labels: Runtime

#3360 file_sink: Flush file on stop() (backport for maint-3.8)
  gr-blocks/lib/file_sink_impl.cc
  gr-blocks/lib/file_sink_impl.h
Labels: Backport-3.8, blocks

#3361 file_sink: Flush file on stop() (backport for maint-3.7)
  gr-blocks/lib/file_sink_impl.cc
  gr-blocks/lib/file_sink_impl.h
Labels: Backport-3.7, blocks

#3390 gnuradio-companion: add Meta modifier key for macOS
  grc/gui/Actions.py
  grc/gui/Dialogs.py
  grc/gui/Utils.py
Labels: Backport-3.8, Mac OS X

#3382 grc: do not assume gsettings exists
  grc/gui/ParamWidgets.py
Labels: GRC, Windows, dependencies

#3388 gr-dtv: added GRC C++ generation
  gr-dtv/grc/dtv_atsc_deinterleaver.block.yml
  gr-dtv/grc/dtv_atsc_depad.block.yml
  gr-dtv/grc/dtv_atsc_derandomizer.block.yml
  gr-dtv/grc/dtv_atsc_equalizer.block.yml
  gr-dtv/grc/dtv_atsc_field_sync_mux.block.yml
  gr-dtv/grc/dtv_atsc_fpll.block.yml
  gr-dtv/grc/dtv_atsc_fs_checker.block.yml
  gr-dtv/grc/dtv_atsc_interleaver.block.yml
  gr-dtv/grc/dtv_atsc_pad.block.yml
  gr-dtv/grc/dtv_atsc_randomizer.block.yml
  gr-dtv/grc/dtv_atsc_rs_decoder.block.yml
  gr-dtv/grc/dtv_atsc_rs_encoder.block.yml
  gr-dtv/grc/dtv_atsc_sync.block.yml
  gr-dtv/grc/dtv_atsc_trellis_encoder.block.yml
  gr-dtv/grc/dtv_atsc_viterbi_decoder.block.yml
  gr-dtv/grc/dtv_catv_frame_sync_enc_bb.block.yml
  gr-dtv/grc/dtv_catv_randomizer_bb.block.yml
  gr-dtv/grc/dtv_catv_reed_solomon_enc_bb.block.yml
  gr-dtv/grc/dtv_catv_transport_framing_enc_bb.block.yml
  gr-dtv/grc/dtv_catv_trellis_enc_bb.block.yml
  gr-dtv/grc/dtv_dvb_bbheader_bb.block.yml
  gr-dtv/grc/dtv_dvb_bbscrambler_bb.block.yml
  gr-dtv/grc/dtv_dvb_bch_bb.block.yml
  gr-dtv/grc/dtv_dvb_ldpc_bb.block.yml
  gr-dtv/grc/dtv_dvbs2_interleaver_bb.block.yml
  gr-dtv/grc/dtv_dvbs2_modulator_bc.block.yml
  gr-dtv/grc/dtv_dvbs2_physical_cc.block.yml
  gr-dtv/grc/dtv_dvbt2_cellinterleaver_cc.block.yml
  gr-dtv/grc/dtv_dvbt2_framemapper_cc.block.yml
  gr-dtv/grc/dtv_dvbt2_freqinterleaver_cc.block.yml
  gr-dtv/grc/dtv_dvbt2_interleaver_bb.block.yml
  gr-dtv/grc/dtv_dvbt2_miso_cc.block.yml
  gr-dtv/grc/dtv_dvbt2_modulator_bc.block.yml
  gr-dtv/grc/dtv_dvbt2_p1insertion_cc.block.yml
  gr-dtv/grc/dtv_dvbt2_paprtr_cc.block.yml
  gr-dtv/grc/dtv_dvbt2_pilotgenerator_cc.block.yml
  gr-dtv/grc/dtv_dvbt_bit_inner_deinterleaver.block.yml
  gr-dtv/grc/dtv_dvbt_bit_inner_interleaver.block.yml
  gr-dtv/grc/dtv_dvbt_convolutional_deinterleaver.block.yml
  gr-dtv/grc/dtv_dvbt_convolutional_interleaver.block.yml
  gr-dtv/grc/dtv_dvbt_demap.block.yml
  gr-dtv/grc/dtv_dvbt_demod_reference_signals.block.yml
  gr-dtv/grc/dtv_dvbt_energy_descramble.block.yml
  gr-dtv/grc/dtv_dvbt_energy_dispersal.block.yml
  gr-dtv/grc/dtv_dvbt_inner_coder.block.yml
  gr-dtv/grc/dtv_dvbt_map.block.yml
  gr-dtv/grc/dtv_dvbt_ofdm_sym_acquisition.block.yml
  gr-dtv/grc/dtv_dvbt_reed_solomon_dec.block.yml
  gr-dtv/grc/dtv_dvbt_reed_solomon_enc.block.yml
  gr-dtv/grc/dtv_dvbt_reference_signals.block.yml
  gr-dtv/grc/dtv_dvbt_symbol_inner_interleaver.block.yml
  gr-dtv/grc/dtv_dvbt_viterbi_decoder.block.yml
Labels: C++ Generation, dtv

#3394 grc: Enable strict_undefined to ease Mako template debugging
  grc/core/blocks/_templates.py
Labels: GRC

#3392 filter: grc: variable_band_pass_filter_taps: fix complex taps option
  gr-filter/grc/variable_band_pass_filter_taps.block.yml
Labels: GRC, filter, yaml

#3381 gr-filter: Remove warning in fft_filter.cc logging.
  gr-filter/lib/fft_filter.cc
Labels: filter, logging

#3400 filter: Fix firdes RRC filter gain for alpha == 1
  gr-filter/lib/firdes.cc
  gr-filter/python/filter/qa_firdes.py
Labels: Bug Fix, filter

#3334 zeromq: Add bind argument for message based zeromq blocks. This is ne…
  gr-zeromq/grc/zeromq_pub_msg_sink.block.yml
  gr-zeromq/grc/zeromq_pull_msg_source.block.yml
  gr-zeromq/grc/zeromq_push_msg_sink.block.yml
  gr-zeromq/grc/zeromq_rep_msg_sink.block.yml
  gr-zeromq/grc/zeromq_req_msg_source.block.yml
  gr-zeromq/grc/zeromq_sub_msg_source.block.yml
  gr-zeromq/include/gnuradio/zeromq/pub_msg_sink.h
  gr-zeromq/include/gnuradio/zeromq/pull_msg_source.h
  gr-zeromq/include/gnuradio/zeromq/push_msg_sink.h
  gr-zeromq/include/gnuradio/zeromq/rep_msg_sink.h
  gr-zeromq/include/gnuradio/zeromq/req_msg_source.h
  gr-zeromq/include/gnuradio/zeromq/sub_msg_source.h
  gr-zeromq/lib/pub_msg_sink_impl.cc
  gr-zeromq/lib/pub_msg_sink_impl.h
  gr-zeromq/lib/pull_msg_source_impl.cc
  gr-zeromq/lib/pull_msg_source_impl.h
  gr-zeromq/lib/push_msg_sink_impl.cc
  gr-zeromq/lib/push_msg_sink_impl.h
  gr-zeromq/lib/rep_msg_sink_impl.cc
  gr-zeromq/lib/rep_msg_sink_impl.h
  gr-zeromq/lib/req_msg_source_impl.cc
  gr-zeromq/lib/req_msg_source_impl.h
  gr-zeromq/lib/sub_msg_source_impl.cc
  gr-zeromq/lib/sub_msg_source_impl.h
Labels: maint-3.8

#3375 grc: use correct labels in log window context menu
  grc/gui/Dialogs.py
Labels: GRC

#3373 grc: start process on flowgraph folder
  grc/gui/Executor.py
  grc/gui/Utils.py
Labels: GRC

#3397 grc: Enable strict_undefined to ease Mako template debugging (maint-3.8)
  grc/core/blocks/_templates.py
Labels: Backport-3.8, GRC

#3410 grc: use correct labels in log window context menu (Backport 3.8)
  grc/gui/Dialogs.py
Labels: Backport-3.8, GRC

#3418 grc: Deduplicate block paths
  grc/core/Config.py
Labels: GRC

#3421 runtime: attributes: Remove check for gcc 3
  gnuradio-runtime/include/gnuradio/attributes.h
Labels: Cleanup, Cruft
