Repository gnuradio/gnuradio, pull requests merged in 2020-10, with the labels that each got.

#3780 cmake: Remove Policy CMP0075 CMake warning.
  cmake/Modules/GrMiscUtils.cmake
Labels: CMake

#3840 pmt: add binding for __repr__ function
  gnuradio-runtime/python/pmt/bindings/pmt_python.cc
Labels: PMT, pybind11

#3425 pmt: add absolute pmt serialization QA
  gnuradio-runtime/python/pmt/qa_pmt.py
Labels: PMT

#3387 modtool: Added feature to prevent creation of multiple blocks with same name (Backport for maint-3.8)
  gr-utils/python/modtool/cli/add.py
Labels: Backport-3.8, modtool

#3832 vocoder: refactor get_next_tx_char callback
  gr-vocoder/lib/freedv_tx_ss_impl.cc
  gr-vocoder/lib/freedv_tx_ss_impl.h
Labels: Bug Fix, Cruft, vocoder

#3692 digital/correlate_access_code: Prevent false triggers
  gr-digital/lib/correlate_access_code_bb_ts_impl.cc
  gr-digital/lib/correlate_access_code_bb_ts_impl.h
  gr-digital/lib/correlate_access_code_ff_ts_impl.cc
  gr-digital/lib/correlate_access_code_ff_ts_impl.h
  gr-digital/lib/correlate_access_code_tag_bb_impl.cc
  gr-digital/lib/correlate_access_code_tag_bb_impl.h
  gr-digital/lib/correlate_access_code_tag_ff_impl.cc
  gr-digital/lib/correlate_access_code_tag_ff_impl.h
  gr-digital/python/digital/qa_correlate_access_code_XX_ts.py
  gr-digital/python/digital/qa_correlate_access_code_tag.py
Labels: Bug Fix, digital

#3868 gr-vocoder: Install missing block tree file.
  gr-vocoder/grc/CMakeLists.txt
Labels: Backport-3.8

#3860 vocoder: allow input & output rates to differ
  gr-vocoder/include/gnuradio/vocoder/freedv_tx_ss.h
  gr-vocoder/lib/freedv_tx_ss_impl.cc
  gr-vocoder/lib/freedv_tx_ss_impl.h
  gr-vocoder/python/vocoder/bindings/freedv_tx_ss_python.cc
Labels: Bug Fix, freedv, vocoder

#3811 docs: remove six
  docs/doxygen/doxyxml/generated/compoundsuper.py
  docs/doxygen/doxyxml/generated/indexsuper.py
  gr-utils/modtool/templates/gr-newmod/docs/doxygen/doxyxml/generated/compoundsuper.py
  gr-utils/modtool/templates/gr-newmod/docs/doxygen/doxyxml/generated/indexsuper.py
Labels: Cruft, Documentation, Python3

#3809 digital: remove six
  gr-digital/python/digital/packet_utils.py
  gr-digital/python/digital/qa_packet_format.py
Labels: Cruft, Python3, digital

#3808 runtime: remove six
  gnuradio-runtime/python/gnuradio/eng_notation.py
Labels: Cruft, Python3, Runtime

#3835 cmake: remove check for six module
  CMakeLists.txt
Labels: Python3, dependencies

#3817 runtime: remove snprintf
  gnuradio-runtime/lib/pmt/pmt_unv.cc
  gnuradio-runtime/lib/pmt/qa_pmt_unv.cc
Labels: Cruft

#3834 runtime: remove unused HAVE_SNPRINTF macro
  gnuradio-runtime/ConfigChecks.cmake
Labels: Cruft, Runtime

#3810 audio: fix lcm calculation
  gnuradio-runtime/python/gnuradio/gru/mathmisc.py
  gr-audio/examples/python/test_resampler.py
Labels: Bug Fix, Python3, audio

#3812 filter: remove the last reference to __future__
  gr-filter/python/filter/qa_freq_xlating_fft_filter.py
Labels: Cruft, Python3, filter

#3815 gru: remove unused files
  gnuradio-runtime/python/gnuradio/gru/CMakeLists.txt
  gnuradio-runtime/python/gnuradio/gru/__init__.py
  gnuradio-runtime/python/gnuradio/gru/listmisc.py
  gnuradio-runtime/python/gnuradio/gru/os_read_exactly.py
  gnuradio-runtime/python/gnuradio/gru/seq_with_cursor.py
  gnuradio-runtime/python/gnuradio/gru/socket_stuff.py
Labels: Cruft, Python

#3805 docs: Exclude gr-newmod from Doxygen
  docs/doxygen/Doxyfile.in
Labels: waiting on CI

#3789 cmake: Fix pybind11 compiler definitions with MSVC.
  cmake/Modules/GrPybind.cmake
Labels: Windows

#3851 modtool: update of cli block name checking
  gr-utils/modtool/cli/add.py
Labels: Low, modtool

#3833 vocoder: add text message output to FreeDV demodulator
  gr-vocoder/examples/grfreedv.grc
  gr-vocoder/grc/vocoder_freedv_rx_ss.block.yml
  gr-vocoder/lib/freedv_rx_ss_impl.cc
  gr-vocoder/lib/freedv_rx_ss_impl.h
Labels: enhancement, freedv, vocoder

#3739 gr-filter: Add complex band rejection filter design helpers
  gr-filter/grc/filter_band_reject_filter.block.yml
  gr-filter/grc/variable_band_reject_filter_taps.block.yml
  gr-filter/include/gnuradio/filter/firdes.h
  gr-filter/lib/firdes.cc
  gr-filter/python/filter/bindings/docstrings/firdes_pydoc_template.h
  gr-filter/python/filter/bindings/firdes_python.cc
  gr-filter/python/filter/optfir.py
Labels: New Feature, filter

#3791 vocoder: cmake: Use pybind macros to manage bindings.
  gr-vocoder/python/vocoder/bindings/CMakeLists.txt
Labels: pybind11, vocoder

#3783 modtool: leave out bindings for python only modules
  gr-utils/modtool/templates/gr-newmod/python/__init__.py
  gr-utils/modtool/templates/gr-newmod/python/bindings/CMakeLists.txt
Labels: Bug Fix, modtool

#3455 blocks: improvements to the message_debug block
  gr-blocks/grc/blocks_message_debug.block.yml
  gr-blocks/include/gnuradio/blocks/message_debug.h
  gr-blocks/lib/message_debug_impl.cc
  gr-blocks/lib/message_debug_impl.h
  gr-blocks/python/blocks/bindings/docstrings/message_debug_pydoc_template.h
  gr-blocks/python/blocks/bindings/message_debug_python.cc
Labels: blocks, enhancement

#3890 modtool: minor cleanup makeyaml
  gr-utils/modtool/templates/templates.py
  gr-utils/modtool/tools/grc_yaml_generator.py
Labels: modtool

#3590 blocks: use posix_fadvise to tell OS about sequential access and prefetch
  gr-blocks/lib/file_source_impl.cc
Labels: Low, blocks, enhancement

#3879 Make additional includes and defines available in the bind process
  cmake/Modules/GrPybind.cmake
  gr-utils/bindtool/core/generator.py
  gr-utils/blocktool/core/parseheader_generic.py
  gr-utils/modtool/cli/bind.py
  gr-utils/modtool/core/bind.py
  gr-utils/modtool/templates/gr-newmod/python/bindings/bind_oot_file.py
Labels: pybind11

#3848 cmake: manual override to ignore pybind hash checking
  cmake/Modules/GrPybind.cmake
Labels: CMake, pybind11

#3866 Add ZMQ_Linger of 1000ms to ZMQ socket creation to prevent infinite block in top_block.stop()
  gr-zeromq/lib/base_impl.cc
Labels: ZMQ

#3870 digital: ofdm_equalizer_simpledfe: add output_exact_syms option
  gr-digital/include/gnuradio/digital/ofdm_equalizer_simpledfe.h
  gr-digital/lib/ofdm_equalizer_simpledfe.cc
  gr-digital/python/digital/bindings/ofdm_equalizer_simpledfe_python.cc
  gr-digital/python/digital/qa_ofdm_frame_equalizer_vcvc.py
Labels: digital

#3881 pybind: add implicit conversion from int to enum
  gr-analog/python/analog/bindings/cpm_python.cc
  gr-analog/python/analog/bindings/noise_type_python.cc
  gr-analog/python/analog/bindings/sig_source_waveform_python.cc
  gr-blocks/python/blocks/bindings/file_meta_sink_python.cc
  gr-blocks/python/blocks/bindings/message_strobe_random_python.cc
  gr-blocks/python/blocks/bindings/pdu_python.cc
  gr-blocks/python/blocks/bindings/wavfile_python.cc
  gr-digital/python/digital/bindings/adaptive_algorithm_python.cc
  gr-digital/python/digital/bindings/corr_est_cc_python.cc
  gr-digital/python/digital/bindings/interpolating_resampler_type_python.cc
  gr-digital/python/digital/bindings/meas_evm_cc_python.cc
  gr-digital/python/digital/bindings/metric_type_python.cc
  gr-digital/python/digital/bindings/mpsk_snr_est_python.cc
  gr-digital/python/digital/bindings/timing_error_detector_type_python.cc
  gr-dtv/python/dtv/bindings/catv_config_python.cc
  gr-dtv/python/dtv/bindings/dvb_config_python.cc
  gr-dtv/python/dtv/bindings/dvbs2_config_python.cc
  gr-dtv/python/dtv/bindings/dvbt2_config_python.cc
  gr-dtv/python/dtv/bindings/dvbt_config_python.cc
  gr-fec/python/fec/bindings/cc_common_python.cc
  gr-fft/python/fft/bindings/window_python.cc
  gr-filter/python/filter/bindings/firdes_python.cc
  gr-qtgui/python/qtgui/bindings/qtgui_types_python.cc
  gr-qtgui/python/qtgui/bindings/trigger_mode_python.cc
  gr-trellis/python/trellis/bindings/siso_type_python.cc
  gr-utils/bindtool/templates/generic_python_cc.mako
  gr-vocoder/python/vocoder/bindings/codec2_python.cc
  gr-vocoder/python/vocoder/bindings/freedv_api_python.cc
Labels: dtv, pybind11

#3828 PMT: replace custom hash implementation with std::hash and increase hash table size
  gnuradio-runtime/lib/pmt/pmt.cc
Labels: PMT

#3843 runtime backport-3.8: fix latency issue caused by setting block alias on message blocks
  gnuradio-runtime/lib/basic_block.cc
  gnuradio-runtime/lib/block.cc
  gnuradio-runtime/lib/block_registry.cc
Labels: Backport-3.8, Message passing, Runtime, performance

#3896 Remove gcd, lcm, and log2 from gru module
  gnuradio-runtime/python/gnuradio/gru/CMakeLists.txt
  gnuradio-runtime/python/gnuradio/gru/__init__.py
  gnuradio-runtime/python/gnuradio/gru/mathmisc.py
  gr-audio/examples/python/test_resampler.py
  gr-digital/python/digital/packet_utils.py
  gr-filter/python/filter/rational_resampler.py
  gr-uhd/apps/uhd_rx_nogui
Labels: Cruft, Python

#3853 audio: lib: windows: Add <cctype> header for std::isdigit.
  gr-audio/lib/windows/windows_sink.cc
  gr-audio/lib/windows/windows_source.cc
Labels: Windows

#3885 utils: Added print-all to gnuradio-config-info
  gnuradio-runtime/apps/gnuradio-config-info.cc
Labels: enhancement, master

#3886 utils: Added print-all to gnuradio-config-info
  gnuradio-runtime/apps/gnuradio-config-info.cc
Labels: Backport-3.8, enhancement
