Repository gnuradio/gnuradio, pull requests merged in 2020-08, with the labels that each got.

#3677 digital/map_bb: Add missing definition for a static class member
  gr-digital/lib/map_bb_impl.cc
Labels: Bug Fix, digital, maint-3.8

#3636 analog: signal source block accepts cmd messages (Backport 3.8)
  CHANGELOG.md
  gr-analog/examples/sig_source_msg_ports.grc
  gr-analog/grc/analog_sig_source_x.block.yml
  gr-analog/lib/sig_source_impl.cc
  gr-analog/lib/sig_source_impl.h
  gr-analog/python/analog/qa_sig_source.py
Labels: analog

#3674 cmake: Add -undefined dynamic_lookup linker flag back for macOS
  cmake/Modules/GrPython.cmake
Labels: Bug Fix, Mac OS X

#3683 cmake: install rfnoc_block.h alongside other headers
  gr-uhd/include/gnuradio/uhd/CMakeLists.txt
Labels: gr-uhd

#3625 qtgui: remove optional flag on stream ports
  gr-qtgui/grc/qtgui_const_sink_x.block.yml
  gr-qtgui/grc/qtgui_freq_sink_x.block.yml
  gr-qtgui/grc/qtgui_histogram_sink_x.block.yml
  gr-qtgui/grc/qtgui_time_raster_x.block.yml
  gr-qtgui/grc/qtgui_time_sink_x.block.yml
  gr-qtgui/grc/qtgui_time_sink_x.block.yml.py
  gr-qtgui/grc/qtgui_waterfall_sink_x.block.yml
Labels: Backport-3.8, GRC, QTGUI, yaml

#3695 fft: window: Add WIN_NONE
  gr-fft/include/gnuradio/fft/window.h
  gr-fft/python/fft/bindings/window_python.cc
Labels: fft

#3693 uhd: Clean up Python code for uhd_siggen_* and uhd_app
  gr-uhd/apps/uhd_app.py
  gr-uhd/apps/uhd_siggen
  gr-uhd/apps/uhd_siggen_base.py
  gr-uhd/apps/uhd_siggen_gui
Labels: gr-uhd

#3685 channels: Remove manual memory management
  gr-channels/lib/selective_fading_model2_impl.cc
  gr-channels/lib/selective_fading_model2_impl.h
  gr-channels/lib/selective_fading_model_impl.cc
  gr-channels/lib/selective_fading_model_impl.h
  gr-channels/lib/sro_model_impl.cc
  gr-channels/lib/sro_model_impl.h
Labels: C++11, Cleanup

#3601 fec: make gsl optional for python bindings
  gr-fec/python/fec/bindings/CMakeLists.txt
Labels: FEC, dependencies

#3694 fft: window: Allow normalizing windows
  gr-fft/include/gnuradio/fft/window.h
  gr-fft/lib/window.cc
  gr-fft/python/fft/bindings/window_python.cc
  gr-fft/python/fft/qa_window.py
Labels: enhancement, fft

#3606 runtime: add alias for io_signature{v,3,2}
  gnuradio-runtime/python/gnuradio/gr/__init__.py
Labels: Runtime, pybind11

#3696 qtgui: Replace firdes::window with fft::window
  gr-qtgui/include/gnuradio/qtgui/form_menus.h
  gr-qtgui/include/gnuradio/qtgui/freq_sink_c.h
  gr-qtgui/include/gnuradio/qtgui/freq_sink_f.h
  gr-qtgui/include/gnuradio/qtgui/freqdisplayform.h
  gr-qtgui/include/gnuradio/qtgui/waterfall_sink_c.h
  gr-qtgui/include/gnuradio/qtgui/waterfall_sink_f.h
  gr-qtgui/include/gnuradio/qtgui/waterfalldisplayform.h
  gr-qtgui/lib/freq_sink_c_impl.cc
  gr-qtgui/lib/freq_sink_c_impl.h
  gr-qtgui/lib/freq_sink_f_impl.cc
  gr-qtgui/lib/freq_sink_f_impl.h
  gr-qtgui/lib/freqdisplayform.cc
  gr-qtgui/lib/waterfall_sink_c_impl.cc
  gr-qtgui/lib/waterfall_sink_c_impl.h
  gr-qtgui/lib/waterfall_sink_f_impl.cc
  gr-qtgui/lib/waterfall_sink_f_impl.h
  gr-qtgui/lib/waterfalldisplayform.cc
Labels: Cleanup, QTGUI

#3596 grc: do not run stale flowgraph
  grc/gui/Application.py
Labels: Bug Fix, GRC

#3603 grc: do not run stale flowgraph
  grc/gui/Application.py
Labels: Backport-3.8, GRC

#3589 blocks: remove log2_const
  gr-blocks/include/gnuradio/blocks/CMakeLists.txt
  gr-blocks/include/gnuradio/blocks/log2_const.h
  gr-blocks/lib/packed_to_unpacked_impl.cc
  gr-blocks/lib/packed_to_unpacked_impl.h
  gr-blocks/python/blocks/bindings/CMakeLists.txt
  gr-blocks/python/blocks/bindings/docstrings/log2_const_pydoc_template.h
  gr-blocks/python/blocks/bindings/log2_const_python.cc
  gr-blocks/python/blocks/bindings/python_bindings.cc
Labels: Cruft, blocks

#3701 fixup! qtgui: Replace firdes::window with fft::window
  gr-qtgui/include/gnuradio/qtgui/freqcontrolpanel.h
  gr-qtgui/lib/freqcontrolpanel.cc
Labels: Bug Fix, fft

#3705 qtgui: freq_sink: Allow normalization of window functions
  gr-qtgui/grc/qtgui_freq_sink_x.block.yml
  gr-qtgui/include/gnuradio/qtgui/freq_sink_c.h
  gr-qtgui/include/gnuradio/qtgui/freq_sink_f.h
  gr-qtgui/lib/freq_sink_c_impl.cc
  gr-qtgui/lib/freq_sink_c_impl.h
  gr-qtgui/lib/freq_sink_f_impl.cc
  gr-qtgui/lib/freq_sink_f_impl.h
  gr-qtgui/python/qtgui/bindings/docstrings/freq_sink_c_pydoc_template.h
  gr-qtgui/python/qtgui/bindings/docstrings/freq_sink_f_pydoc_template.h
  gr-qtgui/python/qtgui/bindings/freq_sink_c_python.cc
  gr-qtgui/python/qtgui/bindings/freq_sink_f_python.cc
Labels: QTGUI, enhancement

#3700 uhd: uhd_fft: Clean up Python, fix PyLint warnings
  gr-uhd/apps/uhd_fft
Labels: Cleanup, gr-uhd

#3709 boost: increase minimum version to 1.58 for boost/endian
  CMakeLists.txt
Labels: PMT, boost, dependencies

#3715 grc: prevent search keystrokes from modifying flowgraph, take two
  grc/gui/DrawingArea.py
Labels: Bug Fix, GRC

#3716 blocks: fix typo, artifact of log2_l_type renaming
  gr-blocks/lib/packed_to_unpacked_impl.cc
Labels: Bug Fix, High, blocks

#3713 uhd: Add power reference APIs
  gr-uhd/docs/uhd.dox
  gr-uhd/grc/gen_uhd_usrp_blocks.py
  gr-uhd/include/gnuradio/uhd/usrp_block.h
  gr-uhd/lib/usrp_block_impl.cc
  gr-uhd/lib/usrp_block_impl.h
  gr-uhd/lib/usrp_sink_impl.cc
  gr-uhd/lib/usrp_sink_impl.h
  gr-uhd/lib/usrp_source_impl.cc
  gr-uhd/lib/usrp_source_impl.h
  gr-uhd/python/uhd/bindings/docstrings/usrp_block_pydoc_template.h
  gr-uhd/python/uhd/bindings/usrp_block_python.cc
Labels: enhancement, gr-uhd
