Repository gnuradio/gnuradio, pull requests merged in 2021-03, with the labels that each got.

#4286 qtgui: Remove manual memory management from HistogramDisplayPlot
  gr-qtgui/include/gnuradio/qtgui/HistogramDisplayPlot.h
  gr-qtgui/lib/HistogramDisplayPlot.cc
Labels: Cleanup, QTGUI

#4290 qtgui: Remove manual memory management from FrequencyDisplayPlot
  gr-qtgui/include/gnuradio/qtgui/FrequencyDisplayPlot.h
  gr-qtgui/lib/FrequencyDisplayPlot.cc
Labels: Cleanup, QTGUI

#4293 GR-UHD: Support for stream_mode_t
  gr-uhd/python/uhd/bindings/uhd_types_python.cc
Labels: Backport-3.9, gr-uhd, pybind11

#4287 cmake: Fix Boost unit test framework component availability variable
  .github/workflows/make-test.yml
  CMakeLists.txt
Labels: Backport-3.9

#4300 dtv: Remove manual memory management
  gr-dtv/lib/dvb/dvb_ldpc_bb_impl.cc
  gr-dtv/lib/dvb/dvb_ldpc_bb_impl.h
Labels: Cleanup, dtv

#4263 grc: remove gnuradio prefix from linked libraries
  grc/core/generator/cpp_templates/CMakeLists.txt.mako
Labels: C++ Generation, GRC

#4314 cmake: remove custom FindGSL module
  cmake/Modules/FindGSL.cmake
  gr-fec/lib/CMakeLists.txt
  gr-wavelet/lib/CMakeLists.txt
Labels: CMake

#4309 grc: add tests/resources/top_block.py to .gitignore
  grc/tests/.gitignore
Labels: Backport-3.9, GRC

#4243 dtv/atsc: replace structs with streams and tags
  gr-dtv/grc/dtv_atsc_deinterleaver.block.yml
  gr-dtv/grc/dtv_atsc_depad.block.yml
  gr-dtv/grc/dtv_atsc_derandomizer.block.yml
  gr-dtv/grc/dtv_atsc_equalizer.block.yml
  gr-dtv/grc/dtv_atsc_fs_checker.block.yml
  gr-dtv/grc/dtv_atsc_rs_decoder.block.yml
  gr-dtv/grc/dtv_atsc_sync.block.yml
  gr-dtv/grc/dtv_atsc_viterbi_decoder.block.yml
  gr-dtv/include/gnuradio/dtv/CMakeLists.txt
  gr-dtv/include/gnuradio/dtv/atsc_plinfo.h
  gr-dtv/lib/CMakeLists.txt
  gr-dtv/lib/atsc/atsc_deinterleaver_impl.cc
  gr-dtv/lib/atsc/atsc_depad_impl.cc
  gr-dtv/lib/atsc/atsc_derandomizer_impl.cc
  gr-dtv/lib/atsc/atsc_equalizer_impl.cc
  gr-dtv/lib/atsc/atsc_field_sync_mux_impl.cc
  gr-dtv/lib/atsc/atsc_fpll_impl.cc
  gr-dtv/lib/atsc/atsc_fs_checker_impl.cc
  gr-dtv/lib/atsc/atsc_fs_checker_impl.h
  gr-dtv/lib/atsc/atsc_interleaver_impl.cc
  gr-dtv/lib/atsc/atsc_plinfo.cc
  gr-dtv/lib/atsc/atsc_randomize.cc
  gr-dtv/lib/atsc/atsc_randomize.h
  gr-dtv/lib/atsc/atsc_rs_decoder_impl.cc
  gr-dtv/lib/atsc/atsc_rs_decoder_impl.h
  gr-dtv/lib/atsc/atsc_sync_impl.cc
  gr-dtv/lib/atsc/atsc_trellis_encoder_impl.cc
  gr-dtv/lib/atsc/atsc_types.h
  gr-dtv/lib/atsc/atsc_viterbi_decoder_impl.cc
Labels: dtv

#4313 pmt: stop treating all pairs like they are dicts (backport to maint-3.8)
  gnuradio-runtime/include/pmt/pmt.h
  gnuradio-runtime/lib/pmt/pmt.cc
  gnuradio-runtime/lib/pmt/pmt_int.h
  gnuradio-runtime/lib/pmt/pmt_serialize.cc
  gnuradio-runtime/lib/pmt/qa_pmt_prims.cc
  gnuradio-runtime/python/pmt/qa_pmt.py
  gnuradio-runtime/swig/pmt_swig.i
Labels: PMT

#4339 cmake: Remove mis-matching arguments warning.
  CMakeLists.txt
Labels: maint-3.8

#4329 gr_filter : fix variable filter taps blocks
  gr-filter/grc/variable_band_pass_filter_taps.block.yml
  gr-filter/grc/variable_band_reject_filter_taps.block.yml
  gr-filter/grc/variable_high_pass_filter_taps.block.yml
  gr-filter/grc/variable_low_pass_filter_taps.block.yml
  gr-filter/grc/variable_rrc_filter_taps.block.yml
Labels: Backport-3.8, Backport-3.9

#4335 Fix for #3678
  gr-digital/lib/timing_error_detector.cc
  gr-digital/lib/timing_error_detector.h
Labels: Backport-3.8, Backport-3.9

#4340 github: Use autogenerated containers instead of manually tagged ones
  .github/workflows/make-test.yml
Labels: CI

#4333 uhd: Fix generation of FE correction functions
  gr-uhd/grc/gen_uhd_usrp_blocks.py
Labels: Bug Fix, gr-uhd

#4336 cmake: Format numpy include path in CMake style for consistency.
  CMakeLists.txt
  gr-utils/modtool/templates/gr-newmod/CMakeLists.txt
Labels: Backport-3.9, CMake

#4359 digital/correlate_access_code: Prevent false triggers (backport to maint-3.8)
  gr-digital/lib/correlate_access_code_bb_ts_impl.cc
  gr-digital/lib/correlate_access_code_bb_ts_impl.h
  gr-digital/lib/correlate_access_code_ff_ts_impl.cc
  gr-digital/lib/correlate_access_code_ff_ts_impl.h
  gr-digital/lib/correlate_access_code_tag_bb_impl.cc
  gr-digital/lib/correlate_access_code_tag_bb_impl.h
  gr-digital/lib/correlate_access_code_tag_ff_impl.cc
  gr-digital/lib/correlate_access_code_tag_ff_impl.h
  gr-digital/python/digital/qa_correlate_access_code_XX_ts.py
  gr-digital/python/digital/qa_correlate_access_code_tag.py
Labels: Don't Merge

#4371 gr-digital: Install mpsk_stage6.grc example.
  gr-digital/examples/CMakeLists.txt
Labels: Backport-3.9

#4391 uhd: Replace multi_usrp::recv_async_msg() with tx_stream version (3.8 version)
  gr-uhd/lib/usrp_sink_impl.cc
Labels: Cleanup, gr-uhd

#4279 grc: optionally show variable names in graph #4109
  grc/gui/Actions.py
  grc/gui/Application.py
  grc/gui/Bars.py
  grc/gui/canvas/param.py
Labels: Backport-3.8, Backport-3.9, GRC

#4390 uhd: Replace multi_usrp::recv_async_msg() with tx_stream version
  gr-uhd/lib/usrp_sink_impl.cc
Labels: Cleanup, gr-uhd, ported-to-3.9

#4389 uhd: Fix Qt apps (XInitThreads call order, terminate handling)
  gr-uhd/apps/uhd_fft
  gr-uhd/apps/uhd_siggen_gui
Labels: Backport-3.9, Cleanup, gr-uhd

#4401 gr_modtool add: Correctly handle arglist
  gr-utils/modtool/cli/add.py
Labels: Backport-3.8, Backport-3.9

#4386 gr-blocks: Fix Remove DC Spike AutoSync block.
  gr-blocks/lib/correctiq_auto_impl.cc
Labels: Backport-3.9

#4400 uhd: Fix phase relations plot (Qt issue)
  gr-uhd/apps/uhd_fft
Labels: Backport-3.9, Bug Fix

#4414 CMake: Look for MPIR only when no GMP is found, be verbose
  cmake/Modules/FindMPLIB.cmake
Labels: Backport-3.8, Backport-3.9, CMake

#4367 Packaging: Add debian/fedora packaging in-tree
  .github/workflows/pkg-debian.yml
  .github/workflows/pkg-fedora.yml
  .packaging/debian/changelog
  .packaging/debian/compat
  .packaging/debian/control
  .packaging/debian/copyright
  .packaging/debian/gnuradio-dev.install
  .packaging/debian/gnuradio-doc.doc-base
  .packaging/debian/gnuradio-doc.install
  .packaging/debian/gnuradio.bcep
  .packaging/debian/gnuradio.dirs
  .packaging/debian/gnuradio.docs
  .packaging/debian/gnuradio.install
  .packaging/debian/gnuradio.manpages
  .packaging/debian/gnuradio.sharedmimeinfo
  .packaging/debian/rules
  .packaging/debian/source/format
  .packaging/debian/source/include-binaries
  .packaging/debian/watch
  .packaging/fedora/gnuradio.spec
  .packaging/launchpad/dput.cf
  .packaging/scripts/pkg-debian.sh
  .packaging/scripts/pkg-fedora.sh
Labels: packaging

#4356 gr_filter_design fails to load previously saved csv files
  gr-filter/python/filter/design/filter_design.py
Labels: Backport-3.8, Backport-3.9

#4428 Make xoroshiro128p actually conformant C
  gnuradio-runtime/include/gnuradio/xoroshiro128p.h
  gnuradio-runtime/python/gnuradio/gr/bindings/random_python.cc
Labels: Bug, Runtime

#4451 GRC Fix Date String in About dialog
  grc/core/Config.py
Labels: Backport-3.7, Backport-3.8, Backport-3.9, GRC, bugfix

#4445 runtime: update thrift binding header hashes
  gnuradio-runtime/python/gnuradio/gr/bindings/rpcserver_aggregator_python.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/thrift_application_base_python.cc
Labels: Bug Fix, pybind11

#4444 gr_filter_design: save wintype as int instead of str
  gr-filter/python/filter/design/filter_design.py
Labels: ported-to-3.9

#4460 runtime: buffer factories use size_t
  gnuradio-runtime/lib/vmcircbuf.h
  gnuradio-runtime/lib/vmcircbuf_createfilemapping.cc
  gnuradio-runtime/lib/vmcircbuf_createfilemapping.h
  gnuradio-runtime/lib/vmcircbuf_mmap_shm_open.cc
  gnuradio-runtime/lib/vmcircbuf_mmap_shm_open.h
  gnuradio-runtime/lib/vmcircbuf_mmap_tmpfile.cc
  gnuradio-runtime/lib/vmcircbuf_mmap_tmpfile.h
  gnuradio-runtime/lib/vmcircbuf_sysv_shm.cc
  gnuradio-runtime/lib/vmcircbuf_sysv_shm.h
Labels: ABI

#4457 gr-audio: Check CreateEvent() for failure
  gr-audio/lib/windows/windows_sink.cc
Labels: Backport-3.8, Backport-3.9

#4462 runtime: size_t for vmcircbuf constructor
  gnuradio-runtime/lib/vmcircbuf.h
Labels: Backport-3.9

#4448 Fastnoise_source: when picking indices from random pool, avoid modulo operation when possible
  CHANGELOG.md
  gr-analog/include/gnuradio/analog/fastnoise_source.h
  gr-analog/lib/fastnoise_source_impl.cc
  gr-analog/lib/fastnoise_source_impl.h
  gr-analog/python/analog/bindings/fastnoise_source_python.cc
Labels: ABI, performance

#4459 pmt: tag_to_pmt use from_python
  gnuradio-runtime/python/gnuradio/gr/tag_utils.py
Labels: Backport-3.8, Backport-3.9
