Repository gnuradio/gnuradio, pull requests merged in 2021-06, with the labels that each got.

#4683 grc: Be more informative when missing "options" block.
  grc/core/platform.py
Labels: GRC

#4657 runtime: Explicitly convert path to string to fix MSVC build
  gnuradio-runtime/lib/prefs.cc
Labels: Backport-3.9

#4551 grc: fix dark theme on ParamWidgets
  grc/gui/ParamWidgets.py
Labels: Backport-3.9, Bug Fix, GRC

#4609 grc: fix Wrong order in the generated .py caused by uncorrect function without_gui_hint(block)
  grc/core/generator/top_block.py
Labels: Bug Fix, GRC

#4629 grc: add validation for variables of type raw
  grc/core/base.py
  grc/core/ports/port.py
  grc/gui/VariableEditor.py
Labels: GRC

#4718 iio: detect not only ad9361.h presence, but suitability
  gr-iio/CMakeLists.txt
  gr-iio/include/gnuradio/iio/CMakeLists.txt
  gr-iio/lib/CMakeLists.txt
Labels: CMake, iio

#4719 fft: Use explicit extension when adding test
  gr-fft/lib/CMakeLists.txt
Labels: Low, Needs DCO, QA

#4704 gr-blocks: improvements to input handling in var/msg blocks
  gr-blocks/python/blocks/msg_pair_to_var.py
  gr-blocks/python/blocks/var_to_msg.py
Labels: Backport-3.9, blocks

#4738 runtime: remove installed remnant of old unitttest infra
  gnuradio-runtime/include/gnuradio/CMakeLists.txt
  gnuradio-runtime/include/gnuradio/unittests.h
Labels: Backport-3.9, Cruft, QA

#4737 iio: Rename set_gain to set_attenuation in pluto_sink
  gr-iio/grc/iio_pluto_sink.block.yml
  gr-iio/python/iio/bindings/pluto_sink_python.cc
Labels: API Change, iio

#4729 cmake: lowercase pkg-config module requires lowercase pybind11_INCLUDE_DIR
  cmake/Modules/GrPybind.cmake
Labels: Backport-3.9, Bug, CMake, pybind11

#4743 soapy: less surprising bool cast
  gr-soapy/python/soapy/bindings/soapy_common.cc
Labels: Backport-3.9, soapy

#4745 cmake: Ensure that RC_*_VERSION are numeric.
  cmake/Modules/GrVersion.cmake
Labels: Backport-3.9, CMake

#4686 modtool: Fix `TypeError`
  gr-utils/modtool/core/bind.py
  gr-utils/modtool/core/rm.py
  gr-utils/modtool/tools/util_functions.py
Labels: Backport-3.9, modtool

#4774 Doxygen: Remove warnings from gr-soapy and gr-iio.
  gr-iio/include/gnuradio/iio/pluto_sink.h
  gr-iio/python/iio/bindings/pluto_sink_python.cc
  gr-soapy/include/gnuradio/soapy/block.h
  gr-soapy/include/gnuradio/soapy/sink.h
  gr-soapy/include/gnuradio/soapy/source.h
  gr-soapy/python/soapy/bindings/block_python.cc
  gr-soapy/python/soapy/bindings/sink_python.cc
  gr-soapy/python/soapy/bindings/source_python.cc
Labels: Backport-3.9

#4784 grc: Update flowgraph vars controlled by vars
  grc/gui/Application.py
Labels: Backport-3.9, GRC

#4777 qtgui: remove spurious volk includes
  gr-qtgui/lib/EyeDisplayPlot.cc
  gr-qtgui/lib/HistogramDisplayPlot.cc
  gr-qtgui/lib/TimeDomainDisplayPlot.cc
  gr-qtgui/lib/vector_sink_f_impl.cc
Labels: Backport-3.9, Cruft, Low

#4776 Have only one definition of TimePrecisionClass
  gr-qtgui/lib/EyeDisplayPlot.cc
  gr-qtgui/lib/HistogramDisplayPlot.cc
  gr-qtgui/lib/TimeDomainDisplayPlot.cc
  gr-qtgui/lib/TimePrecisionClass.h
  gr-qtgui/lib/TimeRasterDisplayPlot.cc
Labels: Backport-3.9, QTGUI

#4762 testing: rm dependencies from disabled components in blocks/runtime tests
  gnuradio-runtime/python/gnuradio/gr/CMakeLists.txt
  gnuradio-runtime/python/gnuradio/gr/qa_flowgraph.py
  gnuradio-runtime/python/gnuradio/gr/qa_hier_block2.py
  gr-blocks/python/blocks/__init__.py
  gr-pdu/python/pdu/qa_pdu.py
Labels: Backport-3.9, Bug, CMake, Python, QA

#4815 gr-iio: grc: Fix source/sink throttle/python flags
  gr-iio/grc/iio_device_sink.block.yml
  gr-iio/grc/iio_device_source.block.yml
  gr-iio/grc/iio_fmcomms2_sink.block.yml
  gr-iio/grc/iio_fmcomms5_sink.block.yml
  gr-iio/grc/iio_fmcomms5_source.block.yml
  gr-iio/grc/iio_pluto_sink.block.yml
  gr-iio/grc/iio_pluto_source.block.yml
Labels: Bug Fix, GRC, iio

#4717 cmake: Pass extra arguments to GR_PYTHON_INSTALL to install command.
  cmake/Modules/GrPython.cmake
Labels: Backport-3.9, CMake, Python

#4792 blocks: zero-output, zero-copy Head mode
  gr-blocks/grc/blocks_head.block.yml
  gr-blocks/include/gnuradio/blocks/head.h
  gr-blocks/lib/head_impl.cc
  gr-blocks/python/blocks/bindings/head_python.cc
Labels: Backport-3.9, New Feature, blocks
