Repository gnuradio/gnuradio, pull requests merged in 2021-05, with the labels that each got.

#4555 Improve the 'invalid name' error message in modtool
  gr-utils/modtool/cli/add.py
  gr-utils/modtool/cli/newmod.py
  gr-utils/modtool/cli/rename.py
  gr-utils/modtool/core/__init__.py
  gr-utils/modtool/core/add.py
  gr-utils/modtool/core/base.py
  gr-utils/modtool/core/newmod.py
  gr-utils/modtool/core/rename.py
  gr-utils/modtool/tests/test_modtool.py
Labels: Backport-3.9

#4536 gr-soapy: in tree
  CMakeLists.txt
  cmake/Modules/GnuradioConfig.cmake.in
  gr-soapy/CMakeLists.txt
  gr-soapy/docs/CMakeLists.txt
  gr-soapy/docs/README.soapy
  gr-soapy/examples/grc/CMakeLists.txt
  gr-soapy/examples/grc/fm_radio_receiver_soapy.grc
  gr-soapy/examples/grc/fm_radio_receiver_soapyremote.grc
  gr-soapy/examples/grc/soapy_receive.grc
  gr-soapy/examples/grc/soapy_receive2.grc
  gr-soapy/examples/grc/soapy_transmit.grc
  gr-soapy/gnuradio-soapy.pc.in
  gr-soapy/grc/CMakeLists.txt
  gr-soapy/grc/soapy.tree.yml
  gr-soapy/grc/soapy_airspyhf_source.block.yml
  gr-soapy/grc/soapy_bladerf_sink.block.yml
  gr-soapy/grc/soapy_bladerf_source.block.yml
  gr-soapy/grc/soapy_hackrf_sink.block.yml
  gr-soapy/grc/soapy_hackrf_source.block.yml
  gr-soapy/grc/soapy_limesdr_sink.block.yml
  gr-soapy/grc/soapy_limesdr_source.block.yml
  gr-soapy/grc/soapy_plutosdr_sink.block.yml
  gr-soapy/grc/soapy_plutosdr_source.block.yml
  gr-soapy/grc/soapy_rtlsdr_source.block.yml
  gr-soapy/grc/soapy_sdrplay_source.block.yml
  gr-soapy/grc/soapy_sink.block.yml
  gr-soapy/grc/soapy_source.block.yml
  gr-soapy/include/gnuradio/soapy/CMakeLists.txt
  gr-soapy/include/gnuradio/soapy/api.h
  gr-soapy/include/gnuradio/soapy/block.h
  gr-soapy/include/gnuradio/soapy/sink.h
  gr-soapy/include/gnuradio/soapy/source.h
  gr-soapy/lib/CMakeLists.txt
  gr-soapy/lib/block_impl.cc
  gr-soapy/lib/block_impl.h
  gr-soapy/lib/sink_impl.cc
  gr-soapy/lib/sink_impl.h
  gr-soapy/lib/source_impl.cc
  gr-soapy/lib/source_impl.h
  gr-soapy/python/soapy/CMakeLists.txt
  gr-soapy/python/soapy/__init__.py
  gr-soapy/python/soapy/bindings/CMakeLists.txt
  gr-soapy/python/soapy/bindings/README.md
  gr-soapy/python/soapy/bindings/block_python.cc
  gr-soapy/python/soapy/bindings/docstrings/block_pydoc_template.h
  gr-soapy/python/soapy/bindings/docstrings/sink_pydoc_template.h
  gr-soapy/python/soapy/bindings/docstrings/source_pydoc_template.h
  gr-soapy/python/soapy/bindings/python_bindings.cc
  gr-soapy/python/soapy/bindings/sink_python.cc
  gr-soapy/python/soapy/bindings/source_python.cc
Labels: Backport-3.9, New Feature

#4577 gr-dtv: Fix VL-SNR bugs based on verification with DVB-S2X test vectors.
  gr-dtv/lib/dvb/dvb_ldpc_bb_impl.cc
  gr-dtv/lib/dvbs2/dvbs2_physical_cc_impl.cc
Labels: maint-3.9

#4569 blocks: use VOLK popcnt implementations for count_bits
  gr-blocks/include/gnuradio/blocks/count_bits.h
  gr-blocks/lib/count_bits.cc
  gr-blocks/python/blocks/bindings/count_bits_python.cc
Labels: Backport-3.9

#4567 qtgui: Use pmt.from_double() instead of pmt.from_float()
  gr-qtgui/python/qtgui/dialcontrol.py
  gr-qtgui/python/qtgui/digitalnumbercontrol.py
  gr-qtgui/python/qtgui/msgcheckbox.py
  gr-qtgui/python/qtgui/msgpushbutton.py
  gr-qtgui/python/qtgui/togglebutton.py
  gr-qtgui/python/qtgui/toggleswitch.py
Labels: Backport-3.9, QTGUI

#4604 [v7] grc: Make exception for epy in blacklist id
  grc/core/blocks/embedded_python.py
  grc/core/params/dtypes.py
Labels: Bug Fix, GRC

#4616 channels: Clean up the hardware impairments block
  gr-channels/grc/channels_impairments.block.yml
  gr-channels/python/channels/distortion_2_gen.py
  gr-channels/python/channels/impairments.py
Labels: Cleanup, channels

#4625 gr-digital: Replace CMA Equalizer in MPSK Example
  gr-digital/examples/mpsk_stage6.grc
Labels: examples

#4623 pmt: remove extra, mis-named pmt::pmt_ functions
  gnuradio-runtime/include/pmt/pmt.h
  gnuradio-runtime/python/pmt/bindings/docstrings/pmt_pydoc_template.h
  gnuradio-runtime/python/pmt/bindings/pmt_python.cc
Labels: Backport-3.9, Bug Fix, PMT

#4642 soapy: use "bandwidth" and "antenna" instead of "bw" and "ant" msgs
  gr-soapy/lib/block_impl.cc
Labels: soapy

#4637 grc: Fix vector length bug
  grc/core/blocks/block.py
  grc/gui/Application.py
Labels: Backport-3.8, Backport-3.9, Bug Fix, GRC

#4676 Fix qt gui vector margin for non-frequency data
  gr-qtgui/lib/VectorDisplayPlot.cc
Labels: Backport-3.9, QTGUI

#4641 gr-uhd: Adding missing Python binding for uhd::tune_request_t::policy_t.
  gr-uhd/python/uhd/bindings/uhd_types_python.cc
Labels: Backport-3.9, gr-uhd
