Repository gnuradio/gnuradio, pull requests merged in 2021-08, with the labels that each got.

#4907 iio: Remove struct specifier (not necessary in C++, clutters a bit)
  gr-iio/include/gnuradio/iio/device_sink.h
  gr-iio/include/gnuradio/iio/device_source.h
  gr-iio/include/gnuradio/iio/fmcomms5_sink.h
  gr-iio/include/gnuradio/iio/fmcomms5_source.h
  gr-iio/lib/attr_sink_impl.h
  gr-iio/lib/attr_source_impl.h
  gr-iio/lib/dds_control_impl.cc
  gr-iio/lib/dds_control_impl.h
  gr-iio/lib/device_sink_impl.cc
  gr-iio/lib/device_sink_impl.h
  gr-iio/lib/device_source_impl.cc
  gr-iio/lib/device_source_impl.h
  gr-iio/lib/fmcomms2_sink_impl.cc
  gr-iio/lib/fmcomms2_sink_impl.h
  gr-iio/lib/fmcomms2_source_impl.cc
  gr-iio/lib/fmcomms2_source_impl.h
  gr-iio/lib/fmcomms5_sink_impl.cc
  gr-iio/lib/fmcomms5_sink_impl.h
  gr-iio/lib/fmcomms5_source_impl.cc
  gr-iio/lib/fmcomms5_source_impl.h
  gr-iio/lib/pluto_source_impl.cc
  gr-iio/python/iio/bindings/device_sink_python.cc
  gr-iio/python/iio/bindings/device_source_python.cc
  gr-iio/python/iio/bindings/fmcomms2_sink_python.cc
  gr-iio/python/iio/bindings/fmcomms2_source_f32c_python.cc
  gr-iio/python/iio/bindings/fmcomms2_source_python.cc
  gr-iio/python/iio/bindings/fmcomms5_sink_f32c_python.cc
  gr-iio/python/iio/bindings/fmcomms5_sink_python.cc
  gr-iio/python/iio/bindings/fmcomms5_source_f32c_python.cc
  gr-iio/python/iio/bindings/fmcomms5_source_python.cc
Labels: enhancement, iio

#4980 gr-uhd: fix input filename in freq hopping examples
  gr-uhd/examples/python/freq_hopping.py
Labels: Backport-3.9, Bug Fix, gr-uhd

#4982 runtime: logging performance improvement
  gnuradio-runtime/include/gnuradio/logger.h
  gnuradio-runtime/python/gnuradio/gr/bindings/logger_python.cc
Labels: performance, logging, maint-3.9

#4949 grc: Sometimes the evaluation of a variable fails
  grc/core/FlowGraph.py
  grc/gui/Application.py
Labels: GRC, Backport-3.8, Bug Fix, Backport-3.9

#4992 gr-video-sdl: Fix reversal of U and V channels on sink blocks.
  gr-video-sdl/lib/sink_s_impl.cc
  gr-video-sdl/lib/sink_uc_impl.cc
Labels: Backport-3.8, Bug Fix, Backport-3.9, gr-video-sdl

#4967 gr-filter: cpp code genration fails for root raised cosine filter
  gr-filter/grc/filter_root_raised_cosine_filter.block.yml
Labels: filter, C++ Generation, Bug Fix, Backport-3.9

#5010 audio/jack: to_string is no longer part of boost:: NS, instead use std::
  gr-audio/lib/jack/jack_sink.cc
  gr-audio/lib/jack/jack_source.cc
Labels: boost, audio, Backport-3.8, Bug Fix, Backport-3.9

#5003 gr-fft: add "shift" param to logpwrfft block
  gr-fft/grc/fft_logpwrfft_x.block.yml
  gr-fft/python/fft/logpwrfft.py
Labels: enhancement, fft, Backport-3.8, Backport-3.9

#4997 gr-blocks: use correct namespace for nco and vco in benchmarks
  gr-blocks/tests/benchmark_nco.cc
  gr-blocks/tests/benchmark_vco.cc
Labels: blocks, Bug Fix, Backport-3.9

#5014 grc: replace likelyhood with likelihood
  gr-digital/grc/digital_symbol_sync_xx.block.yml
Labels: Documentation, yaml, Backport-3.8, Backport-3.9

#4970 gr-digital: Make unpack optional for gmsk mod hier block
  gr-digital/grc/digital_gmsk_mod.block.yml
  gr-digital/python/digital/gmsk.py
Labels: digital, enhancement, Backport-3.9

#5015 pkg: Add gir1.2-gtk-3.0 to the Debian list of runtime dependencies
  .packaging/debian/control
Labels: packaging, Backport-3.9

#4951 grc: Fix cpp hier param yaml template
  grc/core/generator/cpp_hier_block.py
Labels: C++ Generation, Bug Fix, Backport-3.9
