Repository gnuradio/gnuradio, pull requests merged in 2021-07, with the labels that each got.

#4739 runtime: constants: modernized #include, structure
  gnuradio-runtime/lib/constants.cc.in
Labels: Backport-3.9

#4751 coc: Update to contributor covenant 2.0
  CODE_OF_CONDUCT.md
Labels: Backport-3.9, Documentation

#4831 clang-tidy: run-clang-tidy with default checks on gr-soapy (Manual Rebase)
  gr-soapy/lib/block_impl.cc
Labels: Backport-3.9, Cleanup

#4843 grc: Fix desync when dragging block
  grc/gui/canvas/flowgraph.py
Labels: Backport-3.8, Backport-3.9, Bug Fix, GRC

#4839 gr-newmod: Set OOT module VERSION_PATCH to 0 instead of git.
  gr-utils/modtool/templates/gr-newmod/CMakeLists.txt
Labels: Backport-3.9, modtool

#4649 Crc16 addded. Issue #2366
  gr-digital/grc/digital.tree.yml
  gr-digital/grc/digital_crc16_async_bb.block.yml
  gr-digital/include/gnuradio/digital/CMakeLists.txt
  gr-digital/include/gnuradio/digital/crc16_async_bb.h
  gr-digital/lib/CMakeLists.txt
  gr-digital/lib/crc16_async_bb_impl.cc
  gr-digital/lib/crc16_async_bb_impl.h
  gr-digital/python/digital/bindings/CMakeLists.txt
  gr-digital/python/digital/bindings/crc16_async_bb_python.cc
  gr-digital/python/digital/bindings/docstrings/crc16_async_bb_pydoc_template.h
  gr-digital/python/digital/bindings/python_bindings.cc
Labels: Backport-3.9, New Feature, digital

#4835 soapy: added message support for SoapySDR 0.8 API
  gr-soapy/lib/block_impl.cc
  gr-soapy/lib/block_impl.h
  gr-soapy/lib/setting_string_conversion.h
  gr-soapy/python/soapy/bindings/CMakeLists.txt
  gr-soapy/python/soapy/bindings/soapy_common.cc
Labels: Backport-3.9, soapy

#4849 usrp_block: fix using 0 as pmt::dict_ref "not_found" parameter
  gr-uhd/lib/usrp_block_impl.cc
Labels: Backport-3.9, Bug Fix, gr-uhd

#4873 qtgui: bugfix - display tags on the last sample
  gr-qtgui/lib/time_sink_c_impl.cc
  gr-qtgui/lib/time_sink_f_impl.cc
Labels: ported-to-3.8, ported-to-3.9

#4895 modtool: fix field name in template
  gr-utils/modtool/templates/templates.py
Labels: Backport-3.8, Backport-3.9, Bug Fix, modtool

#4894 gr-channels: fix "hide" expressions in yml files
  gr-analog/grc/analog_probe_avg_mag_sqrd_x.block.yml
  gr-channels/grc/channels_channel_model2.block.yml
  gr-channels/grc/channels_dynamic_channel_model.block.yml
  gr-channels/grc/channels_fading_model.block.yml
  gr-channels/grc/channels_selective_fading_model.block.yml
  gr-channels/grc/channels_selective_fading_model2.block.yml
  gr-qtgui/grc/qtgui_vector_sink_f.block.yml
Labels: Backport-3.8, Backport-3.9, Bug Fix, yaml

#4851 grc: update disabled blocks if they depend on others
  grc/core/FlowGraph.py
Labels: Backport-3.8, Backport-3.9, GRC

#4861 Matrix Interleaver block
  gr-blocks/examples/CMakeLists.txt
  gr-blocks/examples/matrix_interleaver.grc
  gr-blocks/grc/blocks.tree.yml
  gr-blocks/grc/blocks_matrix_interleaver.block.yml
  gr-blocks/python/blocks/CMakeLists.txt
  gr-blocks/python/blocks/__init__.py
  gr-blocks/python/blocks/matrix_interleaver.py
  gr-blocks/python/blocks/qa_matrix_interleaver.py
Labels: Backport-3.9, New Feature, blocks, ported-to-3.8

#4837 Corrected spacings and updated String.split() usage
  gr-fec/python/fec/LDPC/Generate_LDPC_matrix_functions.py
Labels: Backport-3.9, Bug Fix, Cleanup, FEC, Python

#4921 GRC: Test: Relax the checking of the metainfo file
  grc/scripts/freedesktop/CMakeLists.txt
Labels: Backport-3.9, CI, bugfix

#4863 gr-blocks: (un)pack-k-bits tag propagation Bugfix #1111
  gr-blocks/lib/pack_k_bits_bb_impl.cc
  gr-blocks/lib/pack_k_bits_bb_impl.h
  gr-blocks/python/blocks/qa_pack_k_bits.py
  gr-blocks/python/blocks/qa_unpack_k_bits.py
Labels: Bug Fix, blocks, ported-to-3.9

#4880 cmake: correct minimum version checking for Mako
  gr-utils/CMakeLists.txt
  grc/CMakeLists.txt
Labels: Backport-3.9, Bug Fix, CMake

#4876 grc: allow short and byte as valid types in an enum
  gr-analog/grc/analog_const_source_x.block.yml
  grc/core/Constants.py
  grc/core/params/param.py
Labels: Backport-3.8, Backport-3.9, Bug Fix, GRC

#4904 cmake: Fix finding libunwind
  cmake/Modules/Findlibunwind.cmake
Labels: Backport-3.9, Bug Fix, CMake

#4911 digital: constellation_receiver_cb rework
  gr-digital/lib/constellation_receiver_cb_impl.cc
Labels: Backport-3.9, Cruft, digital

#4940 gr-digital: Remove packed to unpacked gfsk mod hier block
  gr-digital/grc/digital_gfsk_mod.block.yml
  gr-digital/python/digital/gfsk.py
Labels: Backport-3.9, digital, enhancement

#4943 gr-pdu: fix pdu_lambda block and examples
  gr-pdu/examples/pdu_lambda_chirp_demo.grc
  gr-pdu/examples/pdu_lambda_example.grc
  gr-pdu/examples/simple_pdu_to_stream_example.grc
  gr-pdu/grc/pdu_pdu_lambda.block.yml
  gr-pdu/python/pdu/pdu_lambda.py
Labels: Bug Fix, examples, pdu

#4948 Update README.pdu
  gr-pdu/docs/README.pdu
Labels: Documentation, pdu

#4953 digital: add int() cast where required
  gr-digital/python/digital/generic_mod_demod.py
Labels: Backport-3.8, Backport-3.9, Bug Fix, digital

#4954 c++ generation: escape "." in translations
  gr-analog/grc/analog_fastnoise_source_x.block.yml
  gr-blocks/grc/blocks_ctrlport_probe2_c.block.yml
  gr-blocks/grc/blocks_ctrlport_probe2_x.block.yml
  gr-blocks/grc/blocks_packed_to_unpacked_xx.block.yml
  gr-blocks/grc/blocks_repack_bits_bb.block.yml
  gr-digital/grc/digital_corr_est_cc.block.yml
  gr-digital/grc/digital_cpmmod_bc.block.yml
  gr-digital/grc/digital_diff_decoder_bb.block.yml
  gr-digital/grc/digital_diff_encoder_bb.block.yml
  gr-digital/grc/digital_symbol_sync_xx.block.yml
  gr-fft/grc/fft_fft_vxx.block.yml
  gr-pdu/grc/pdu_pdu_to_tagged_stream.block.yml
Labels: Backport-3.9, Bug Fix, C++ Generation, yaml

#4938 gr-qtgui: Add double quotes to cpp_opts keys with colons.
  gr-qtgui/grc/qtgui_check_box.block.yml
  gr-qtgui/grc/qtgui_freq_sink_x.block.yml
  gr-qtgui/grc/qtgui_number_sink.block.yml
  gr-qtgui/grc/qtgui_sink_x.block.yml
  gr-qtgui/grc/qtgui_waterfall_sink_x.block.yml
Labels: Backport-3.9

#4903 digital: remove non-existing msg output from chunks_to_symbols block yaml
  gr-digital/grc/digital_chunks_to_symbols.block.yml
Labels: Backport-3.8, Backport-3.9, Bug Fix, GRC, digital, yaml

#4886 gr-iio: pluto source /sink fails to set paramter if german locale is used
  gr-iio/lib/device_source_impl.cc
  gr-iio/lib/fmcomms2_sink_impl.cc
  gr-iio/lib/fmcomms2_source_impl.cc
Labels: iio

#4965 pybind11: remove debug message
  docs/doxygen/update_pydoc.py
  gr-utils/modtool/templates/gr-newmod/docs/doxygen/update_pydoc.py
Labels: Backport-3.9, pybind11

#4912 Remove tag_checker
  gnuradio-runtime/include/gnuradio/CMakeLists.txt
  gnuradio-runtime/include/gnuradio/tag_checker.h
  gnuradio-runtime/python/gnuradio/gr/bindings/CMakeLists.txt
  gnuradio-runtime/python/gnuradio/gr/bindings/docstrings/tag_checker_pydoc_template.h
  gnuradio-runtime/python/gnuradio/gr/bindings/python_bindings.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/tag_checker_python.cc
Labels: Cruft, No Backport, Runtime, deprecation
