Repository gnuradio/gnuradio, pull requests merged in 2021-02, with the labels that each got.

#4175 cppgen: Use correct required version in CMakeLists
  grc/core/generator/cpp_templates/CMakeLists.txt.mako
Labels: C++ Generation, CMake, GRC, Needs Backporting

#4180 grc: Deduplicate block paths
  grc/core/Config.py
Labels: Backport-3.8, GRC

#4183 build: Remove more clang compiler warnings.
  gnuradio-runtime/include/gnuradio/messages/msg_accepter_msgq.h
  gr-qtgui/lib/TimeRasterDisplayPlot.cc
  gr-qtgui/lib/time_raster_sink_b_impl.h
  gr-qtgui/lib/time_raster_sink_f_impl.h
Labels: Backport-3.9

#4188 If GSL not found exclude modules requiring GSL from python bindings
  gr-fec/python/fec/__init__.py
  gr-fec/python/fec/bindings/CMakeLists.txt
  gr-fec/python/fec/bindings/python_bindings.cc
Labels: Bug Fix, CMake, FEC

#4198 filter: cmake: Warn if scipy or pyqtgraph are unavailable
  gr-filter/CMakeLists.txt
Labels: CMake, Filter Design Tool

#4149 portaudio: fix unintentionally synchronous std::async
  gr-audio/lib/portaudio/portaudio_sink.cc
Labels: Backport-3.8, Backport-3.9, Bug

#4192 grc/cmake: Align Python and Mako versions (3.8)
  CMakeLists.txt
  grc/CMakeLists.txt
Labels: CMake, dependencies

#3007 grc: Call connect() for hier blocks that don't have ports
  grc/core/generator/cpp_hier_block.py
  grc/core/generator/hier_block.py
Labels: Bug Fix, GRC

#4210 gr-blocks: tuntap_pdu: change char array size to fix warning on strncpy
  gr-blocks/lib/tuntap_pdu_impl.cc
Labels: Backport-3.9

#4216 Backport grc defaults
  grc/gui/Actions.py
Labels: GRC

#4219 gr-blocks: Sanitize the Print PDU input of the message_debug block
  gr-blocks/lib/message_debug_impl.cc
Labels: blocks, maint-3.8

#4220 gr-blocks: Update message debug error handling on Print PDU port
  gr-blocks/lib/message_debug_impl.cc
Labels: blocks

#4221 gr-blocks: Update message debug error handling on Print PDU port
  gr-blocks/lib/message_debug_impl.cc
Labels: Backport-3.9, blocks

#4215 zeromq: Fix warnings with recv()
  gr-zeromq/lib/base_impl.cc
  gr-zeromq/lib/pull_msg_source_impl.cc
  gr-zeromq/lib/rep_msg_sink_impl.cc
  gr-zeromq/lib/rep_sink_impl.cc
  gr-zeromq/lib/req_msg_source_impl.cc
  gr-zeromq/lib/sub_msg_source_impl.cc
  gr-zeromq/python/zeromq/qa_zeromq_pull_msg_source.py
Labels: ZMQ

#4227 gr-utils: improve usefulness of blocktool exceptions
  gr-utils/blocktool/core/parseheader.py
  gr-utils/blocktool/core/parseheader_generic.py
Labels: modtool, pybind11

#4244 gnuradio-runtime: configurable buffer size
  gnuradio-runtime/gnuradio-runtime.conf.in
  gnuradio-runtime/lib/flat_flowgraph.cc
Labels: Runtime

#4232 uhd: Remove ifdefs for older UHD versions
  gr-uhd/lib/usrp_block_impl.cc
  gr-uhd/lib/usrp_sink_impl.cc
  gr-uhd/lib/usrp_source_impl.cc
Labels: Bug Fix, gr-uhd

#4256 CMake: remove unused compile/header checks
  gnuradio-runtime/ConfigChecks.cmake
  gr-blocks/lib/ConfigChecks.cmake
Labels: CMake, Cleanup, Cruft, enhancement

#4254 block_executor: invalid states log errors without debug build
  gnuradio-runtime/lib/block_executor.cc
Labels: Backport-3.9, enhancement

#4255 digital: packed<->unpacked: check for chunk sizes, even outside of debug build
  gr-blocks/lib/packed_to_unpacked_impl.cc
  gr-blocks/lib/unpacked_to_packed_impl.cc
Labels: Low, enhancement

#4253 digital: Simple correlator debug not based on writing to file but logger
  gr-digital/lib/simple_correlator_impl.cc
  gr-digital/lib/simple_correlator_impl.h
Labels: Low, enhancement

#4245 This branch fix fftpack issue
  gr-digital/examples/example_timing.py
  gr-dtv/examples/atsc_ctrlport_monitor.py
  gr-utils/plot_tools/plot_fft_base.py
Labels: Bug Fix

#4234 pybind: remove forecast from python bindings
  gnuradio-runtime/python/gnuradio/gr/bindings/block_python.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/sync_block_python.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/sync_decimator_python.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/sync_interpolator_python.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/tagged_stream_block_python.cc
  gr-fec/python/fec/bindings/decoder_python.cc
  gr-fec/python/fec/bindings/encoder_python.cc
Labels: Backport-3.9, pybind11

#4236 cmake: Thrift min version is set at top level, raise min Thrift to 0.13
  CMakeLists.txt
  cmake/Modules/FindTHRIFT.cmake
  gnuradio-runtime/lib/CMakeLists.txt
Labels: CMake, Thrift, dependencies

#4259 gr-uhd: Generate tags when frequency changed from message port.
  gr-uhd/lib/usrp_source_impl.cc
Labels: gr-uhd

#4258 uhd: Fix filter API
  gr-uhd/include/gnuradio/uhd/usrp_block.h
  gr-uhd/lib/usrp_block_impl.cc
  gr-uhd/lib/usrp_block_impl.h
  gr-uhd/lib/usrp_sink_impl.cc
  gr-uhd/lib/usrp_sink_impl.h
  gr-uhd/lib/usrp_source_impl.cc
  gr-uhd/lib/usrp_source_impl.h
  gr-uhd/python/uhd/bindings/usrp_block_python.cc
Labels: Bug Fix, gr-uhd

#4262 gr-blocks: remove indexing in file source cpp template
  gr-blocks/grc/blocks_file_source.block.yml
Labels: Bug Fix, blocks

#4276 gr-uhd: add start time capability to cpp template
  gr-uhd/grc/gen_uhd_usrp_blocks.py
Labels: C++ Generation, blocks, uhd

#4225 gr-blocks: combine the print and print_pdu port of the message_debug block
  gr-blocks/include/gnuradio/blocks/message_debug.h
  gr-blocks/lib/message_debug_impl.cc
  gr-blocks/lib/message_debug_impl.h
  gr-blocks/python/blocks/bindings/message_debug_python.cc
Labels: blocks
