Repository gnuradio/gnuradio, pull requests merged in 2021-01, with the labels that each got.

#4038 gr-qtgui number sink: Honor block setting of 'avg' in GUI
  gr-qtgui/grc/qtgui_number_sink.block.yml
  gr-qtgui/lib/number_sink_impl.cc
Labels: Bug Fix, QTGUI

#4028 qtgui: toggle switch was reversed
  gr-qtgui/python/qtgui/toggleswitch.py
Labels: Backport-3.9, QTGUI

#4027 pfb.py: fix variable in static function
  gr-filter/python/filter/pfb.py
Labels: Backport-3.9, Bug Fix, filter

#4021 pfb.py: fix variable in static function
  gr-filter/python/filter/pfb.py
Labels: Bug Fix, filter

#4026 gr-qtgui: Fix Frequency Sink max hold for half spectrum width option.
  gr-qtgui/lib/FrequencyDisplayPlot.cc
Labels: Backport-3.9

#4017 Backport: update rational resampler decimation value after GCD
  gr-filter/lib/rational_resampler_impl.cc
Labels: Backport-3.9, Bug Fix, filter

#4016 filter: update decimation after gcd calculation
  gr-filter/lib/rational_resampler_impl.cc
Labels: Bug Fix, filter

#4004 QTGUI: Toggle switch was reversed.
  gr-qtgui/python/qtgui/toggleswitch.py
Labels: QTGUI

#4032 Backport Remove hardcoded GR_PYTHON_DIR
  cmake/Modules/GnuradioConfig.cmake.in
Labels: Backport-3.8, Bug Fix, CMake

#4047 uhd: Fix unit test
  gr-uhd/python/uhd/qa_uhd.py
Labels: Bug Fix, gr-uhd

#4018 digital: fix yaml and bindings for constellation
  gr-digital/grc/digital_constellation.block.yml
  gr-digital/python/digital/bindings/constellation_python.cc
Labels: Bug Fix, digital

#4044 grc: Accept file pointer in load_stdlib() (converter/xml.py)
  grc/converter/xml.py
  grc/tests/test_xml_parser.py
Labels: GRC, QA

#4055 filter: Fix polyphase_filterbank for MSVC, w/ default move constructor.
  gr-filter/include/gnuradio/filter/fft_filter.h
  gr-filter/include/gnuradio/filter/polyphase_filterbank.h
  gr-filter/python/filter/bindings/fft_filter_python.cc
  gr-filter/python/filter/bindings/polyphase_filterbank_python.cc
Labels: Bug Fix, Windows, filter, master, msvc

#4045 grc: Clean up test_expr_utils.py
  grc/tests/test_expr_utils.py
Labels: GRC, QA

#4065 Backport to 3.9: filter: Fix polyphase_filterbank for MSVC, w/ default move constructor.
  gr-filter/include/gnuradio/filter/fft_filter.h
  gr-filter/include/gnuradio/filter/polyphase_filterbank.h
  gr-filter/python/filter/bindings/fft_filter_python.cc
  gr-filter/python/filter/bindings/polyphase_filterbank_python.cc
Labels: Backport-3.9, maint-3.9

#4043 grc: Let test_generator.py know where to find blocks
  grc/tests/test_generator.py
Labels: GRC, QA

#3498 gr-uhd: Add set_start_time for grc in 3.7 (Update)
  gr-uhd/grc/gen_uhd_usrp_blocks.py
Labels: Needs CLA, gr-uhd

#3767 grc: Remove extra logger in grc/core/platform
  grc/core/platform.py
  grc/main.py
Labels: Bug Fix, DCO Exception, GRC, master

#3650 PROPOSAL: grc: Make it possible to copy error message to buffer
  grc/gui/Dialogs.py
Labels: DCO Exception, GRC

#3913 grc: Save config before execution and update recent file sub-menu.
  grc/gui/Application.py
  grc/gui/Bars.py
  grc/gui/MainWindow.py
Labels: DCO Exception, GRC

#4054 Qt shutdown cleanup
  grc/core/generator/flow_graph.py.mako
Labels: Bug Fix, GRC

#4060 gr-digital: Fixup example_corr_est
  gr-digital/examples/packet/example_corr_est.grc
Labels: Bug Fix, maint-3.8

#4074 gr-digital: Fixup example_corr_est
  gr-digital/examples/packet/example_corr_est.grc
Labels: Bug Fix, master

#4079 grc: Don't draw disabled and hidden blocks, even if they are selected
  grc/gui/canvas/flowgraph.py
Labels: Bug Fix, GRC, Needs Backporting

#4081 gr-digital: Fix typo in digital_modulate_vector block
  gr-digital/grc/digital_modulate_vector.block.yml
Labels: Bug Fix, master

#4084 gr-digital: Fix typo in digital_modulate_vector block
  gr-digital/grc/digital_modulate_vector.block.yml
Labels: Bug Fix, maint-3.9

#4083 gr-digital: Fix typo in digital_modulate_vector block
  gr-digital/grc/digital_modulate_vector.block.yml
Labels: Bug Fix, maint-3.8

#3980 grc: Fix drag n' drop issue with Quartz (macOS) backend
  grc/gui/Constants.py
Labels: DCO Exception

#4057 cmake: python: Fix linking when runtime py interpreter != build time.
  cmake/Modules/GrPybind.cmake
  cmake/Modules/GrPython.cmake
  gnuradio-runtime/lib/CMakeLists.txt
  gr-qtgui/lib/CMakeLists.txt
Labels: Bug Fix, CMake, master

#3615 blocks: Use templates more efficiently in add_blk
  gr-blocks/lib/add_blk_impl.cc
Labels: DCO Exception

#4058 cmake: Update VERSION_PATCH so that correct versioning is enabled.
  CMakeLists.txt
Labels: maint-3.8

#4087 gr-uhd: adding a bool to force tune request
  gr-uhd/lib/usrp_block_impl.cc
  gr-uhd/lib/usrp_block_impl.h
Labels: Backport-3.8

#4086 gr-uhd: adding a bool to force tune request
  gr-uhd/lib/usrp_block_impl.cc
  gr-uhd/lib/usrp_block_impl.h
Labels: Backport-3.7

#4088 uhd: Add GPIO handlers for messages
  gr-uhd/docs/uhd.dox
  gr-uhd/include/gnuradio/uhd/usrp_block.h
  gr-uhd/lib/usrp_block_impl.cc
  gr-uhd/lib/usrp_block_impl.h
Labels: gr-uhd

#4090 uhd: Add start time capability to GRC bindings
  gr-uhd/grc/gen_uhd_usrp_blocks.py
Labels: enhancement, gr-uhd

#4095 gr-fft: Log Power FFT Python fix
  gr-fft/python/fft/logpwrfft.py
Labels: Bug Fix, fft

#4097 gr-fft: Log Power FFT Python fix (backport 3.9)
  gr-fft/python/fft/logpwrfft.py
Labels: Backport-3.9, Bug Fix, fft

#4080 grc: Don't draw disabled and hidden blocks, even if they are selected (Backport-3.9)
  grc/gui/canvas/flowgraph.py
Labels: Backport-3.9, Bug Fix, GRC

#4076 gr-blocks: Check fseek() for failure
  gr-blocks/lib/file_meta_sink_impl.cc
Labels: Backport-3.9

#4085 gr-uhd: adding a bool to force tune request
  gr-uhd/lib/usrp_block_impl.cc
  gr-uhd/lib/usrp_block_impl.h
Labels: Backport-3.9

#4073 gr-digital: Fixup example_corr_est
  gr-digital/examples/packet/example_corr_est.grc
Labels: Backport-3.9, Bug Fix, maint-3.9

#4066 Backport to 3.9: cmake: python: Fix linking when runtime py interpreter != build time.
  cmake/Modules/GrPybind.cmake
  cmake/Modules/GrPython.cmake
  gnuradio-runtime/lib/CMakeLists.txt
  gr-qtgui/lib/CMakeLists.txt
Labels: Backport-3.9, maint-3.9

#4096 gr-analog: Fixed orientation of L and R audio in wfm_rcv_pll. Changed gain of multiply_const_ff blocks from 5.5 to 1.0
  gr-analog/grc/analog_wfm_rcv_pll.block.yml
  gr-analog/python/analog/wfm_rcv_pll.py
Labels: Backport-3.9, analog

#4103 msg_handler: Use lambdas in gr-uhd
  gr-uhd/lib/amsg_source_impl.cc
  gr-uhd/lib/usrp_block_impl.cc
Labels: Cleanup, gr-uhd

#4091 gr-uhd: Add command uhd handler for mtune ("manual tune")
  gr-uhd/docs/uhd.dox
  gr-uhd/include/gnuradio/uhd/usrp_block.h
  gr-uhd/lib/usrp_block_impl.cc
  gr-uhd/lib/usrp_block_impl.h
Labels: gr-uhd

#4092 qtgui:Added Time Raster Sink Control Axis Configuration
  gr-qtgui/grc/qtgui_time_raster_x.block.yml
  gr-qtgui/include/gnuradio/qtgui/TimeRasterDisplayPlot.h
  gr-qtgui/include/gnuradio/qtgui/time_raster_sink_b.h
  gr-qtgui/include/gnuradio/qtgui/time_raster_sink_f.h
  gr-qtgui/include/gnuradio/qtgui/timerasterdisplayform.h
  gr-qtgui/lib/TimeRasterDisplayPlot.cc
  gr-qtgui/lib/time_raster_sink_b_impl.cc
  gr-qtgui/lib/time_raster_sink_b_impl.h
  gr-qtgui/lib/time_raster_sink_f_impl.cc
  gr-qtgui/lib/time_raster_sink_f_impl.h
  gr-qtgui/lib/timerasterdisplayform.cc
  gr-qtgui/python/qtgui/bindings/docstrings/time_raster_sink_b_pydoc_template.h
  gr-qtgui/python/qtgui/bindings/docstrings/time_raster_sink_f_pydoc_template.h
  gr-qtgui/python/qtgui/bindings/time_raster_sink_b_python.cc
  gr-qtgui/python/qtgui/bindings/time_raster_sink_f_python.cc
Labels: QTGUI, enhancement

#4046 qtgui: Fix QT chooser labels
  gr-qtgui/grc/qtgui_chooser.block.yml
Labels: Bug Fix, GRC

#4128 digital: change ofdm_chanest qa test to use head
  gr-digital/python/digital/qa_ofdm_chanest_vcvc.py
Labels: QA, digital

#3927 gr-analog: Fix wfm_rcv_pll arguments
  gr-analog/python/analog/wfm_rcv_pll.py
Labels: DCO Exception

#4127 runtime: lib: Don't use hard-coded absolute path constants.
  CMakeLists.txt
  gnuradio-runtime/lib/CMakeLists.txt
  gnuradio-runtime/lib/constants.cc.in
Labels: Runtime, master

#4123 cmake: use certain relative paths in Win64 and stick to cmake paths
  CMakeLists.txt
Labels: CMake

#4093 uhd: Control of frequency and gain in both directions at the same moment
  gr-uhd/include/gnuradio/uhd/usrp_block.h
  gr-uhd/lib/usrp_block_impl.cc
  gr-uhd/lib/usrp_block_impl.h
  gr-uhd/lib/usrp_sink_impl.cc
  gr-uhd/lib/usrp_sink_impl.h
  gr-uhd/lib/usrp_source_impl.cc
  gr-uhd/lib/usrp_source_impl.h
  gr-uhd/python/uhd/bindings/usrp_block_python.cc
Labels: gr-uhd

#3905 Bring man pages in-tree
  CMakeLists.txt
  docs/CMakeLists.txt
  docs/man/CMakeLists.txt
  docs/man/dial_tone.1.in
  docs/man/display_qt.1.in
  docs/man/gnuradio-companion.1.in
  docs/man/gnuradio-config-info.1.in
  docs/man/gr-ctrlport-monitor.1.in
  docs/man/gr-perf-monitorx.1.in
  docs/man/gr_filter_design.1.in
  docs/man/gr_modtool.1.in
  docs/man/gr_plot_const.1.in
  docs/man/gr_plot_fft.1.in
  docs/man/gr_plot_iq.1.in
  docs/man/gr_plot_psd.1.in
  docs/man/gr_plot_qt.1.in
  docs/man/gr_plot_time.1.in
  docs/man/gr_read_file_metadata.1.in
  docs/man/grcc.1.in
  docs/man/polar_channel_construction.1.in
  docs/man/tags_demo.1.in
  docs/man/uhd_fft.1.in
  docs/man/uhd_rx_cfile.1.in
  docs/man/uhd_rx_nogui.1.in
  docs/man/uhd_siggen.1.in
  docs/man/uhd_siggen_gui.1.in
  gnuradio-runtime/lib/CMakeLists.txt
Labels: DCO Exception

#4143 digital: Fix output type in GRC bindings of chunks_to_symbols
  gr-digital/grc/digital_chunks_to_symbols.block.yml
Labels: Bug Fix, Needs Backporting

#4144 gr-fft: window cleanup - remove nuttal (sic) windows
  gr-fft/include/gnuradio/fft/window.h
  gr-fft/lib/window.cc
  gr-fft/python/fft/bindings/docstrings/window_pydoc_template.h
  gr-fft/python/fft/bindings/window_python.cc
Labels: fft

#4147 qtgui: Fix default QT Chooser labels (Backport-3.8)
  gr-qtgui/grc/qtgui_chooser.block.yml
Labels: Backport-3.8, GRC

#4151 filterbanks: Use virtual destructor in superclasses
  gr-filter/include/gnuradio/filter/filterbank.h
  gr-filter/include/gnuradio/filter/polyphase_filterbank.h
  gr-filter/python/filter/bindings/filterbank_python.cc
  gr-filter/python/filter/bindings/polyphase_filterbank_python.cc
Labels: enhancement

#4158 gr-fec: Remove carriage returns from include file.
  gr-fec/include/gnuradio/fec/maxstar.h
Labels: maint-3.9

#4157 build: Remove clang compiler warnings.
  gr-filter/include/gnuradio/filter/fft_filter.h
  gr-filter/python/filter/bindings/fft_filter_python.cc
Labels: Backport-3.9

#4164 modtool: Remove -Wcomment warnings in python_bindings.cc template.
  gr-utils/modtool/templates/gr-newmod/python/bindings/python_bindings.cc
Labels: Backport-3.9
