Repository gnuradio/gnuradio, pull requests merged in 2021-09, with the labels that each got.

#4972 grc cpp generation: Establish the possibility to add find packages
  grc/core/blocks/_build.py
  grc/core/generator/FlowGraphProxy.py
  grc/core/generator/cpp_templates/CMakeLists.txt.mako
  grc/core/generator/cpp_top_block.py
  grc/core/schema_checker/block.py
Labels: New Feature, C++ Generation, Backport-3.9

#5036 grc: generate cpp hier code switch to std::shared_ptr
  grc/core/generator/cpp_templates/flow_graph.hpp.mako
Labels: C++ Generation, Backport-3.9

#5016 grc: Add no_quotes() convenience function (callable from templates)
  grc/core/blocks/_templates.py
Labels: GRC, Backport-3.9

#4909 gr-digital: Fix constellation normalization by average power
  gr-digital/lib/constellation.cc
  gr-digital/python/digital/qa_constellation.py
Labels: digital, Bug Fix, Backport-3.9

#5011 network: tuntap knows what it's doing when it uses strncpy, suppress warning
  gr-network/lib/tuntap_pdu_impl.cc
Labels: CI, Don't Merge, network, Backport-3.9

#5043 cmake: Use preferred method to find PkgConfig.
  CMakeLists.txt
  cmake/Modules/FindCodec2.cmake
  cmake/Modules/FindFFTW3f.cmake
  cmake/Modules/FindGMP.cmake
  cmake/Modules/FindGSM.cmake
  cmake/Modules/FindMPIR.cmake
  cmake/Modules/FindPORTAUDIO.cmake
  cmake/Modules/FindSNDFILE.cmake
  cmake/Modules/FindTHRIFT.cmake
  cmake/Modules/FindUHD.cmake
  cmake/Modules/FindZeroMQ.cmake
  gr-utils/modtool/templates/gr-newmod/CMakeLists.txt
  gr-utils/modtool/templates/gr-newmod/cmake/Modules/howtoConfig.cmake
Labels: CMake, enhancement, Backport-3.9

#5052 gr-network: Fixup tuntap suppress warning on Debian 11.
  gr-network/lib/tuntap_pdu_impl.cc
Labels: CI, network, Backport-3.9

#5055 cmake: include GrBoost after (was before) version restriction
  CMakeLists.txt
Labels: CMake, dependencies, Bug Fix, Backport-3.9

#5073 github: Use GH container registry instead of Docker Hub
  .github/workflows/make-test.yml
Labels: CI, Backport-3.8, Backport-3.9

#5076 CI: Update the Fedora Container to F34
  .github/workflows/make-test.yml
  .github/workflows/pkg-fedora.yml
Labels: CI, Backport-3.9

#5078 ci: Pull CentOS container from ghcr.io
  .github/workflows/make-test.yml
Labels: CI

#5077 ci: Add Debian 11 (Bullseye) to CI tests
  .github/workflows/make-test.yml
Labels: CI

#4917 Github CI: enable -Werror on fedora, but don't error on deprecations
  .github/workflows/make-test.yml
  .github/workflows/pkg-debian.yml
  .github/workflows/pkg-fedora.yml
Labels: CI, ported-to-3.9

#5089 pdu: add samp_rate key
  gnuradio-runtime/include/gnuradio/pdu.h
  gnuradio-runtime/lib/pdu.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/docstrings/pdu_pydoc_template.h
  gnuradio-runtime/python/gnuradio/gr/bindings/pdu_python.cc
  gr-pdu/lib/tags_to_pdu_impl.cc
Labels: Backport-3.9, pdu

#5091 ci: Allow per-container ctest args
  .github/workflows/make-test.yml
Labels: Bug Fix

#5086 channels: Fix bad initialization of RNG seeds.
  gr-channels/lib/flat_fader_impl.cc
Labels: channels, Backport-3.8, Bug Fix, Backport-3.9

#5084 runtime: Add NOMINMAX def on common-precompiled-headers when using MSVC
  gnuradio-runtime/CMakeLists.txt
Labels: No Backport

#5057 qtgui: remove int type from number_sink block yaml
  gr-qtgui/grc/qtgui_number_sink.block.yml
Labels: QTGUI, Backport-3.8, Backport-3.9

#5035 grc: Raise error for unfilled parameters
  grc/core/params/param.py
Labels: GRC, Backport-3.8, Bug Fix, Backport-3.9

#4871 Implement grcc --output switch for hierarchical blocks
  grc/compiler.py
  grc/core/generator/Generator.py
  grc/core/generator/cpp_top_block.py
  grc/core/generator/hier_block.py
  grc/core/generator/top_block.py
  grc/core/platform.py
Labels: GRC, enhancement

#5109 runtime: fix pybind of get_tags_in_window
  gnuradio-runtime/python/gnuradio/gr/bindings/block_gateway_python.cc
  gr-blocks/python/blocks/qa_block_gateway.py
Labels: Runtime, QA, pybind11, Bug Fix, Backport-3.9

#5111 grc: Include scale factor when computing drawing area size
  grc/gui/DrawingArea.py
Labels: Backport-3.8, Backport-3.9
