Repository gnuradio/gnuradio, pull requests merged in 2021-10, with the labels that each got.

#5120 grc: Fix category and module tooltips
  grc/gui/BlockTreeWindow.py
Labels: GRC, Backport-3.8, Bug Fix, Backport-3.9

#5123 qtgui: remove vestigal parameter in fft cotr
  gr-qtgui/lib/freq_sink_f_impl.cc
Labels: Cruft, QTGUI, Backport-3.9

#5058 gr-qtgui: Use no_quotes function in some qtgui blocks
  gr-qtgui/grc/qtgui_check_box.block.yml
  gr-qtgui/grc/qtgui_chooser.block.yml
  gr-qtgui/grc/qtgui_entry.block.yml
  gr-qtgui/grc/qtgui_label.block.yml
  gr-qtgui/grc/qtgui_msgcheckbox.block.yml
  gr-qtgui/grc/qtgui_range.block.yml
  gr-qtgui/grc/qtgui_tab_widget.block.yml
Labels: Backport-3.9

#5127 grc: Add aliases for "sc16==short" and "sc8==byte"
  grc/core/Constants.py
Labels: GRC, Backport-3.8, Backport-3.9

#5277 gnuradio-runtime: Remove Doxygen warnings from custom buffers
  gnuradio-runtime/include/gnuradio/buffer_double_mapped.h
  gnuradio-runtime/include/gnuradio/buffer_single_mapped.h
  gnuradio-runtime/include/gnuradio/host_buffer.h
Labels: No Backport
