Repository gnuradio/gnuradio, pull requests merged in 2021-12, with the labels that each got.

#4974 Update tests
  gr-blocks/python/blocks/__init__.py
  gr-blocks/python/blocks/qa_file_metadata.py
  gr-blocks/python/blocks/qa_matrix_interleaver.py
  gr-blocks/python/blocks/qa_nlog10.py
Labels: Don't Merge, Backport-3.9

#5367 cmake: Remove warnings from GrTest.cmake
  cmake/Modules/GrTest.cmake
Labels: CMake, Backport-3.9

#5370 fix typo in band reject taps variable block set_taps() (maint-3.8)
  gr-filter/grc/variable_band_reject_filter_taps.block.yml
Labels: filter, yaml, Bug Fix

#5374 digital: remove yml files for non-existant qam mod/demod blocks
  gr-digital/grc/digital_qam_demod.block.yml
  gr-digital/grc/digital_qam_mod.block.yml
Labels: digital, yaml

#5346 grc: modify and cleanup bokeh server loop
  grc/blocks/options.block.yml
  grc/core/generator/flow_graph.py.mako
Labels: bokeh, DCO Exception, Backport-3.9

#5372 network: fix segfaults when TCP & UDP blocks are restarted
  gr-network/lib/tcp_sink_impl.cc
  gr-network/lib/tcp_sink_impl.h
  gr-network/lib/udp_sink_impl.cc
  gr-network/lib/udp_sink_impl.h
  gr-network/lib/udp_source_impl.cc
  gr-network/lib/udp_source_impl.h
  gr-network/python/network/qa_tcp_sink.py
  gr-network/python/network/qa_udp_sink.py
  gr-network/python/network/qa_udp_source.py
Labels: network, Bug Fix, Backport-3.9

#5385 runtime: configurable blkd_input timer
  gnuradio-runtime/include/gnuradio/block.h
  gnuradio-runtime/lib/block.cc
  gnuradio-runtime/lib/tpb_thread_body.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/block_python.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/docstrings/block_pydoc_template.h
Labels: Runtime, Backport-3.9

#5347 cmake: Maintain compiler settings at one point.
  CMakeLists.txt
  cmake/Modules/GrCompilerSettings.cmake
  cmake/Modules/GrMinReq.cmake
  gr-utils/modtool/templates/gr-newmod/CMakeLists.txt
Labels: CMake, No Backport

#5314 Addition of a throttle flag to the network blocks
  gr-network/grc/network_tcp_sink.block.yml
  gr-network/grc/network_tcp_source.block.yml
Labels: GRC, network, Backport-3.9

#5394 findlog4cpp: extend PATH hints to include default x86_64 lib path
  cmake/Modules/FindLOG4CPP.cmake
Labels: CMake, dependencies

#5391 s2x constell energy normalization
  gr-dtv/lib/dvbs2/dvbs2_modulator_bc_impl.cc
Labels: dtv, Backport-3.8, Backport-3.9

#5400 qtgui: add bounds checks to calculation of d_fft_size_combo index
  gr-qtgui/lib/freqcontrolpanel.cc
Labels: QTGUI, Backport-3.8, Bug Fix, Backport-3.9, Backport-3.10

#5420 iio: GRC bindings: remove global variable from hidden defaults
  gr-iio/grc/iio_fmcomms2_sink.block.yml
  gr-iio/grc/iio_fmcomms2_source.block.yml
  gr-iio/grc/iio_fmcomms5_sink.block.yml
  gr-iio/grc/iio_fmcomms5_source.block.yml
  gr-iio/grc/iio_pluto_sink.block.yml
  gr-iio/grc/iio_pluto_source.block.yml
Labels: iio, Backport-3.10, bugfix

#5416 Vocoder: SWIG needs a workaround for dealing with C99 keyword _Complex
  gr-vocoder/swig/vocoder_swig.i
Labels: swig, maint-3.8, vocoder

#5423 iio: remove unused members
  gr-iio/lib/attr_sink_impl.cc
  gr-iio/lib/attr_sink_impl.h
  gr-iio/lib/attr_source_impl.cc
  gr-iio/lib/attr_source_impl.h
  gr-iio/lib/attr_updater_impl.h
Labels: Backport-3.9, iio, warning
