Repository gnuradio/gnuradio, pull requests merged in 2022-01, with the labels that each got.

#5441 blocks: document the supported operations in transcendental
  gr-blocks/include/gnuradio/blocks/transcendental.h
  gr-blocks/python/blocks/bindings/transcendental_python.cc
Labels: Documentation, blocks, Backport-3.9, Backport-3.10

#5421 grc: change default flowgraph id
  grc/core/Constants.py
  grc/core/params/dtypes.py
  grc/gui/Application.py
Labels: GRC, Backport-3.8, Backport-3.9, UX

#5444 cmake: build python deps conditionally
  .github/workflows/make-test.yml
  CMakeLists.txt
  gnuradio-runtime/CMakeLists.txt
  gnuradio-runtime/lib/CMakeLists.txt
Labels: CMake, Backport-3.9

#5442 gr-qtgui: Frequency sink freezes the running flowgraph
  gr-qtgui/grc/qtgui_freq_sink_x.block.yml
  gr-qtgui/grc/qtgui_sink_x.block.yml
  gr-qtgui/grc/qtgui_waterfall_sink_x.block.yml
  gr-qtgui/include/gnuradio/qtgui/form_menus.h
  gr-qtgui/include/gnuradio/qtgui/freqdisplayform.h
  gr-qtgui/include/gnuradio/qtgui/waterfalldisplayform.h
  gr-qtgui/lib/freq_sink_c_impl.cc
  gr-qtgui/lib/freq_sink_f_impl.cc
  gr-qtgui/lib/freqcontrolpanel.cc
  gr-qtgui/lib/freqdisplayform.cc
  gr-qtgui/lib/waterfalldisplayform.cc
Labels: QTGUI, Backport-3.8, Backport-3.9

#5458 qtgui: initial value of autoscalex defined
  gr-qtgui/include/gnuradio/qtgui/HistogramDisplayPlot.h
Labels: QTGUI, Regression, No Backport

#5452 grc: Follow up to #5442
  gr-qtgui/grc/qtgui_freq_sink_x.block.yml
  gr-qtgui/grc/qtgui_sink_x.block.yml
  gr-qtgui/grc/qtgui_waterfall_sink_x.block.yml
  gr-qtgui/include/gnuradio/qtgui/SpectrumGUIClass.h
  gr-qtgui/lib/SpectrumGUIClass.cc
  gr-qtgui/lib/sink_c_impl.cc
  gr-qtgui/lib/sink_f_impl.cc
Labels: QTGUI, Backport-3.8, Backport-3.9

#5475 Initialize _overflow_count to zero
  gr-uhd/lib/usrp_source_impl.cc
Labels: Bug Fix, uhd, Backport-3.9, Backport-3.10

#5448 Remove pygccxml hack
  gr-utils/blocktool/core/parseheader.py
  gr-utils/blocktool/core/parseheader_generic.py
  gr-utils/blocktool/tests/test_blocktool.py
Labels: Backport-3.10

#5464 Default value for Priority parameter in Python Snippet block
  grc/blocks/snippet.block.yml
Labels: Python, Backport-3.8, Backport-3.9, Backport-3.10

#5491 analog: Fix C++ code generation for random_uniform_source
  gr-analog/grc/analog_random_uniform_source_x.block.yml
Labels: analog, C++ Generation, Bug Fix, Backport-3.9, Backport-3.10

#5457 pybind: remove unused command line argument
  cmake/Modules/GrPybind.cmake
  gr-utils/bindtool/scripts/bind_intree_file.py
  gr-utils/modtool/templates/gr-newmod/python/howto/bindings/bind_oot_file.py
Labels: pybind11, Backport-3.9, Backport-3.10

#5465 pybind: support enum class handling
  gr-utils/bindtool/templates/generic_python_cc.mako
Labels: pybind11, Backport-3.9, Backport-3.10

#5466 modtool: makeyaml update import to from gnuradio
  gr-utils/modtool/tools/grc_yaml_generator.py
Labels: modtool, Backport-3.10

#5493 uhd: Fix ddc/duc block descriptor names
  gr-uhd/grc/uhd_fpga_ddc.block.yml
  gr-uhd/grc/uhd_fpga_duc.block.yml
Labels: gr-uhd, Backport-3.8, Backport-3.9, Backport-3.10

#5504 cmake: change message for whether packaging found
  CMakeLists.txt
Labels: Backport-3.10

#5501 FMComms234 Source/Sink fixes
  gr-iio/grc/iio_fmcomms2_sink.block.yml
  gr-iio/grc/iio_fmcomms2_source.block.yml
  gr-iio/lib/device_sink_impl.cc
  gr-iio/lib/device_sink_impl.h
  gr-iio/lib/device_source_impl.cc
  gr-iio/lib/device_source_impl.h
  gr-iio/lib/fmcomms2_sink_impl.cc
  gr-iio/lib/fmcomms2_source_impl.cc
Labels: Bug Fix, iio, Backport-3.10

#5506 digital: put back import of packet_utils
  gr-digital/python/digital/__init__.py
Labels: Backport-3.10

#5505 SigMF Minimal Blocks
  gr-blocks/grc/blocks.tree.yml
  gr-blocks/grc/blocks_sigmf_sink_minimal.block.yml
  gr-blocks/grc/blocks_sigmf_source_minimal.block.yml
  gr-blocks/python/blocks/CMakeLists.txt
  gr-blocks/python/blocks/__init__.py
  gr-blocks/python/blocks/sigmf_sink_minimal.py
Labels: New Feature, blocks, Backport-3.10

#5512 qtgui: Initialize _updateTime variable
  gr-qtgui/include/gnuradio/qtgui/SpectrumGUIClass.h
Labels: QTGUI, Backport-3.8, Backport-3.9, Backport-3.10, bugfix

#5515 grc: use block deprecated flag for visual indication
  grc/core/blocks/block.py
Labels: GRC, Backport-3.8, Backport-3.9, Backport-3.10

#5514 analog: Add deempt_tau to WBFM rx block
  gr-analog/grc/analog_wfm_rcv.block.yml
  gr-analog/python/analog/fm_emph.py
  gr-analog/python/analog/wfm_rcv.py
Labels: analog, enhancement
