Repository gnuradio/gnuradio, pull requests merged in 2022-08, with the labels that each got.

#6007 modtool: parse io signatures without gr:: prefix
  gr-utils/modtool/tools/parser_cc_block.py
Labels: modtool, Backport-3.10

#6073 4.0: Add using namespace for enums in pybind
  utils/blockbuilder/templates/blockname_pybind.cc.j2
Labels: pybind11, GR 4.0

#6069 filter: Improve "invalid fractional bandwidth" error message
  gr-filter/lib/rational_resampler_impl.cc
Labels: filter, Backport-3.10

#6051 Fix various typos
  gnuradio-runtime/include/gnuradio/block.h
  gnuradio-runtime/python/gnuradio/gr/bindings/block_python.cc
  gr-blocks/include/gnuradio/blocks/control_loop.h
  gr-blocks/python/blocks/bindings/control_loop_python.cc
  gr-blocks/python/blocks/qa_python_message_passing.py
  gr-digital/examples/snr_estimators.py
  gr-digital/include/gnuradio/digital/crc_check.h
  gr-digital/lib/clock_tracking_loop.h
  gr-digital/lib/interpolating_resampler.cc
  gr-digital/python/digital/bindings/crc_check_python.cc
  gr-digital/python/digital/soft_dec_lut_gen.py
  gr-fec/python/fec/extended_decoder.py
  gr-fec/python/fec/extended_tagged_decoder.py
  gr-filter/include/gnuradio/filter/fft_filter.h
  gr-filter/include/gnuradio/filter/firdes.h
  gr-filter/lib/gen_interpolator_taps/diff_objective_fct.c
  gr-filter/python/filter/bindings/fft_filter_python.cc
  gr-filter/python/filter/bindings/firdes_python.cc
  gr-utils/plot_tools/gr_plot_qt
  gr-vocoder/examples/loopback-codec2.grc
  gr-vocoder/examples/loopback-gsmfr.grc
  grc/core/generator/cpp_top_block.py
Labels: Backport-3.10

#6114 file source: update d_items_remaining on seek
  gr-blocks/lib/file_source_impl.cc
Labels: blocks, Backport-3.9, Backport-3.10, bugfix
