Repository gnuradio/gnuradio, pull requests merged in 2022-06, with the labels that each got.

#5911 runtime: Remove Boost::system and Boost::regex dependencies
  gnuradio-runtime/lib/CMakeLists.txt
Labels: Runtime, CMake, Cleanup, boost, Backport-3.10

#5889 c++ generation: Fix some template errors
  gr-analog/grc/analog_fastnoise_source_x.block.yml
  gr-filter/grc/filter_fir_filter_xxx.block.yml
  gr-filter/grc/variable_band_pass_filter_taps.block.yml
  gr-filter/grc/variable_band_reject_filter_taps.block.yml
  gr-filter/grc/variable_high_pass_filter_taps.block.yml
  gr-filter/grc/variable_low_pass_filter_taps.block.yml
  gr-filter/grc/variable_rrc_filter_taps.block.yml
  gr-qtgui/grc/qtgui_freq_sink_x.block.yml
Labels: yaml, C++ Generation, Backport-3.10

#5862 Fix constructor & destructor template syntax
  gnuradio-runtime/include/gnuradio/buffer_type.h
  gnuradio-runtime/python/gnuradio/gr/bindings/buffer_type_python.cc
  gr-analog/lib/noise_source_impl.cc
  gr-analog/lib/noise_source_impl.h
Labels: Cleanup, Backport-3.10

#5846 runtime: Replace boost::endian with standard C++
  gnuradio-runtime/lib/pmt/pmt_serialize.cc
Labels: Runtime, PMT, Cleanup, boost, Backport-3.10

#5857 cpp templates in yaml files: Fix some template errors
  gr-blocks/grc/blocks_file_sink.block.yml
  gr-qtgui/grc/qtgui_freq_sink_x.block.yml
  gr-qtgui/grc/qtgui_waterfall_sink_x.block.yml
Labels: yaml, Backport-3.9, Backport-3.10

#5887 blocks: Fix rotator_cc scheduled phase inc updates
  gr-blocks/lib/rotator_cc_impl.cc
  gr-blocks/python/blocks/qa_rotator_cc.py
Labels: blocks, Bug Fix, Backport-3.9, Backport-3.10

#5856 grc: Add parentheses on arithmetic expressions
  grc/core/params/param.py
Labels: GRC, Backport-3.10

#5918 soapy: Fix typos in HackRF VGA Gain labels
  gr-soapy/grc/soapy_hackrf_sink.block.yml
  gr-soapy/grc/soapy_hackrf_source.block.yml
Labels: GRC, Bug Fix, soapy

#5915 wavelet: Remove unused dependency
  gr-wavelet/lib/CMakeLists.txt
Labels: CMake, Cleanup, wavelet, Backport-3.10

#5914 pdu: Remove unused dependencies
  gr-pdu/lib/CMakeLists.txt
Labels: CMake, Cleanup, pdu, Backport-3.10

#5906 Replace calls to get_initial_sptr with make_block_sptr
  gr-digital/lib/constellation_encoder_bc_impl.cc
  gr-digital/lib/crc_append_impl.cc
  gr-digital/lib/crc_check_impl.cc
  gr-fft/lib/fft_v_fftw.cc
  gr-iio/include/gnuradio/iio/fmcomms5_sink.h
  gr-iio/include/gnuradio/iio/fmcomms5_source.h
  gr-iio/lib/device_sink_impl.cc
  gr-iio/lib/device_source_impl.cc
  gr-iio/lib/fmcomms5_sink_impl.cc
  gr-iio/lib/fmcomms5_source_impl.cc
Labels: digital, Backport-3.9, Backport-3.10

#5962 gr-qtgui: waterfall sink float Spectrum Width setting fails
  gr-qtgui/grc/qtgui_waterfall_sink_x.block.yml
Labels: QTGUI, C++ Generation, Backport-3.10

#5912 pdu: Remove --no-as-needed linker option
  gr-pdu/lib/CMakeLists.txt
Labels: CMake, Cleanup, pdu, Backport-3.10

#5845 blocks: Add symbolinterleaver block
  gr-blocks/examples/block_interleaver.grc
  gr-blocks/grc/blocks.tree.yml
  gr-blocks/grc/blocks_blockinterleaver_xx.block.yml
  gr-blocks/include/gnuradio/blocks/CMakeLists.txt
  gr-blocks/include/gnuradio/blocks/blockinterleaver_xx.h
  gr-blocks/include/gnuradio/blocks/blockinterleaving.h
  gr-blocks/lib/CMakeLists.txt
  gr-blocks/lib/blockinterleaver_xx_impl.cc
  gr-blocks/lib/blockinterleaver_xx_impl.h
  gr-blocks/lib/blockinterleaving.cc
  gr-blocks/python/blocks/bindings/CMakeLists.txt
  gr-blocks/python/blocks/bindings/blockinterleaver_xx_python.cc
  gr-blocks/python/blocks/bindings/python_bindings.cc
  gr-blocks/python/blocks/qa_blockinterleaver_xx.py
Labels: New Feature, blocks, enhancement, Backport-3.10
