Repository gnuradio/gnuradio, pull requests merged in 2022-12, with the labels that each got.

#6416 audio: Remove support for OSX 10.3 and earlier
  gr-audio/include/gnuradio/audio/osx_impl.h
  gr-audio/lib/osx/osx_sink.cc
  gr-audio/lib/osx/osx_sink.h
  gr-audio/lib/osx/osx_source.cc
  gr-audio/lib/osx/osx_source.h
Labels: Mac OS X, Cleanup, audio, Backport-3.10

#6428 4.0: meson: set pmt pointer pre-variant pmt
  subprojects/pmt.wrap
Labels: PMT, GR 4.0

#6408 Doxygen: Remove warnings from gr-uhd and gr-zeromq.
  gr-uhd/include/gnuradio/uhd/rfnoc_block.h
  gr-zeromq/include/gnuradio/zeromq/pub_sink.h
  gr-zeromq/python/zeromq/bindings/pub_sink_python.cc
Labels: Backport-3.10, doxygen

#6417 uhd: Fix inconsistent override warnings
  gr-uhd/lib/rfnoc_graph_impl.cc
  gr-uhd/lib/rfnoc_window_impl.h
Labels: gr-uhd, Cleanup, Backport-3.10

#6426 dev-4.0: Add alsa source
  blocklib/audio/alsa_source/alsa_source.yml
  blocklib/audio/alsa_source/alsa_source_cpu.cc
  blocklib/audio/alsa_source/alsa_source_cpu.h
  blocklib/audio/test/meson.build
  blocklib/audio/test/qa_alsa_source.py
  meson.build
  python/gnuradio/__init__.py
Labels: New Feature, GR 4.0

#6409 graph_executor sometimes fails with SIGSEGV
  gr/lib/graph_executor.cc
Labels: GR 4.0

#6419 runtime: Fix Thrift deprecation warning
  gnuradio-runtime/lib/controlport/thrift/gnuradio.thrift
Labels: Runtime, Cleanup, ctrlport, Thrift, Backport-3.10

#6424 digital: Pass tags vector to OFDM equalizer
  gr-digital/lib/ofdm_frame_equalizer_vcvc_impl.cc
Labels: digital, Backport-3.10

#6442 filter: python: Fix polezero_plot.py compatibility with numpy 1.24
  gr-filter/python/filter/gui/polezero_plot.py
Labels: Python, dependencies, Filter Design Tool, Backport-3.10

#6432 global: replace boost::any with std::any
  docs/usage-manual/(exported from wiki) Polymorphic Types (PMTs).txt
  gnuradio-runtime/include/pmt/pmt.h
  gnuradio-runtime/lib/block_registry.cc
  gnuradio-runtime/lib/pmt/pmt.cc
  gnuradio-runtime/lib/pmt/pmt_int.h
  gnuradio-runtime/lib/pmt/qa_pmt_prims.cc
  gnuradio-runtime/python/pmt/__init__.py
  gr-digital/include/gnuradio/digital/constellation.h
  gr-digital/lib/constellation_receiver_cb_impl.cc
  gr-digital/python/digital/bindings/constellation_python.cc
Labels: API Change, PMT, C++17, No Backport
