Repository gnuradio/gnuradio, pull requests merged in 2022-04, with the labels that each got.

#5737 runtime: Remove invalid keyword argument from draw_networkx_nodes
  gnuradio-runtime/python/gnuradio/ctrlport/gr-perf-monitorx
Labels: Runtime, ctrlport, Bug Fix

#5704 fft: Replace Boost with standard C++
  gr-fft/include/gnuradio/fft/fft.h
  gr-fft/lib/ctrlport_probe_psd_impl.cc
  gr-fft/lib/ctrlport_probe_psd_impl.h
  gr-fft/lib/fft.cc
Labels: Cleanup, fft, boost, Backport-3.10

#5744 blocks: Synchronize access to d_level to prevent race conditions
  gr-blocks/lib/CMakeLists.txt
  gr-blocks/lib/probe_signal_impl.h
  gr-blocks/lib/probe_signal_v_impl.cc
  gr-blocks/lib/probe_signal_v_impl.h
  gr-blocks/python/blocks/qa_probe_signal.py
Labels: blocks, Bug Fix, Backport-3.9, Backport-3.10

#5714 runtime: Replace boost::noncopyable with standard C++
  gnuradio-runtime/include/gnuradio/rpcpmtconverters_thrift.h
  gnuradio-runtime/include/gnuradio/thread/thread_group.h
  gnuradio-runtime/include/pmt/pmt.h
  gnuradio-runtime/lib/hier_block2_detail.h
  gnuradio-runtime/lib/scheduler.h
  gnuradio-runtime/python/gnuradio/gr/bindings/thread/thread_group_python.cc
Labels: Runtime, Cleanup, boost, Backport-3.10

#5745 filter: Fix flaky freq xlating filter test
  gr-filter/python/filter/qa_freq_xlating_fft_filter.py
Labels: filter, QA, Bug Fix, Backport-3.9, Backport-3.10

#5702 Fix create hier / missing top_block error
  grc/gui/Application.py
Labels: GRC, Backport-3.8, Bug Fix, Backport-3.9, Backport-3.10

#5682 Fix: UHD get_gpio_attr throws RuntimeError "Not implemented"
  gr-uhd/lib/usrp_block_impl.cc
Labels: gr-uhd, enhancement, Backport-3.9, Backport-3.10

#5755 blocks: Fix flaky qa_rotator test
  gr-blocks/python/blocks/qa_rotator_cc.py
Labels: blocks, CI, Backport-3.9, Backport-3.10

#5750 dtv: Fix initialization of L1Post struct
  gr-dtv/lib/dvbt2/dvbt2_framemapper_cc_impl.cc
Labels: CI, dtv, Bug Fix, Backport-3.9, Backport-3.10

#5738 runtime: Replace boost::xpressive with std::regex
  gnuradio-runtime/lib/controlport/thrift/rpcserver_thrift.cc
Labels: Runtime, Cleanup, ctrlport, boost, Backport-3.10

#5753 filter: Fix various bugs in Generic Filterbank
  gr-filter/lib/filterbank_vcvcf_impl.cc
  gr-filter/python/filter/qa_filterbank.py
Labels: CI, filter, Bug Fix, Backport-3.9, Backport-3.10

#5749 pdu: Increase tolerance for qa_add_system_time test
  gr-pdu/python/pdu/qa_add_system_time.py
Labels: CI, Backport-3.9, pdu, Backport-3.10

#5746 runtime: Fix flaky qa_uncaught_exception test
  gnuradio-runtime/python/gnuradio/gr/qa_uncaught_exception.py
Labels: Runtime, QA, Bug Fix, Backport-3.9, Backport-3.10

#5651 pdu: Replace Boost with standard C++
  gr-pdu/CMakeLists.txt
  gr-pdu/include/gnuradio/pdu/add_system_time.h
  gr-pdu/lib/add_system_time_impl.cc
  gr-pdu/lib/add_system_time_impl.h
  gr-pdu/lib/pdu_to_stream_impl.cc
  gr-pdu/lib/tags_to_pdu_impl.cc
  gr-pdu/lib/tags_to_pdu_impl.h
  gr-pdu/lib/time_delta_impl.cc
  gr-pdu/lib/time_delta_impl.h
  gr-pdu/python/pdu/bindings/add_system_time_python.cc
Labels: Cleanup, boost, pdu, Backport-3.10

#5665 gr-qtgui: freq_sink and others produce wrong error messages, when GUI Hint is used
  gr-qtgui/grc/qtgui_freq_sink_x.block.yml
  gr-qtgui/grc/qtgui_sink_x.block.yml
  gr-qtgui/grc/qtgui_vector_sink_f.block.yml
  gr-qtgui/grc/qtgui_waterfall_sink_x.block.yml
Labels: QTGUI, yaml, Backport-3.9, Backport-3.10

#5751 docs: Add shim Sphinx config for readthedocs
  .readthedocs.yaml
  docs/doxygen/Doxyfile.in
  docs/sphinx/.gitignore
  docs/sphinx/Makefile
  docs/sphinx/conf.py
  docs/sphinx/environment.yml
  docs/sphinx/index.rst
Labels: Documentation, Backport-3.10

#5765 Correcting XMLRPC Server Block Doc
  gr-blocks/grc/xmlrpc_server.block.yml
Labels: Documentation, Backport-3.10

#5760 qtgui: Remove conditional code targeting Qt 4
  gr-qtgui/include/gnuradio/qtgui/form_menus.h
  gr-qtgui/lib/const_sink_c_impl.cc
  gr-qtgui/lib/eye_sink_c_impl.cc
  gr-qtgui/lib/eye_sink_f_impl.cc
  gr-qtgui/lib/freq_sink_c_impl.cc
  gr-qtgui/lib/freq_sink_f_impl.cc
  gr-qtgui/lib/histogram_sink_f_impl.cc
  gr-qtgui/lib/sink_c_impl.cc
  gr-qtgui/lib/sink_f_impl.cc
  gr-qtgui/lib/time_raster_sink_b_impl.cc
  gr-qtgui/lib/time_raster_sink_f_impl.cc
  gr-qtgui/lib/time_sink_c_impl.cc
  gr-qtgui/lib/time_sink_f_impl.cc
  gr-qtgui/lib/vector_sink_f_impl.cc
  gr-qtgui/lib/waterfall_sink_c_impl.cc
  gr-qtgui/lib/waterfall_sink_f_impl.cc
Labels: QTGUI, Cleanup, Backport-3.10

#5769 gr_newmod: Make untagged conda package version less specific
  gr-utils/modtool/templates/gr-newmod/.conda/recipe/meta.yaml
Labels: packaging, Backport-3.10

#5771 digital: fix typo in CRC Append and Check GRC blocks
  gr-digital/grc/digital_crc_append.block.yml
  gr-digital/grc/digital_crc_check.block.yml
  gr-digital/include/gnuradio/digital/crc_check.h
  gr-digital/python/digital/bindings/crc_check_python.cc
Labels: digital, Backport-3.10

#5772 gr-soapy: deactivate stream before closing
  gr-soapy/lib/block_impl.cc
Labels: Bug Fix, Backport-3.9, soapy, Backport-3.10

#5788 gr-iio: fix grc block pluto sink attenuation callback
  gr-iio/grc/iio_pluto_sink.block.yml
Labels: yaml, Backport-3.9, iio, Backport-3.10

#5787 modtool: Fix gr_modtool bind & rm
  gr-utils/modtool/tools/util_functions.py
Labels: modtool, Bug Fix, Backport-3.10

#5784 cmake: Set "nt" install scheme for Python on Windows
  cmake/Modules/GrPython.cmake
Labels: CMake, Backport-3.10

#5770 cmake: Always prefix git hash used as version with "g"
  cmake/Modules/GrVersion.cmake
Labels: CMake, Backport-3.10
