Repository gnuradio/gnuradio, pull requests merged in 2022-05, with the labels that each got.

#5761 runtime: add missing (simulated) data transfer to input/output_blocked_callback functions in host_buffer class
  gnuradio-runtime/lib/host_buffer.cc
  gr-blocks/include/gnuradio/blocks/CMakeLists.txt
  gr-blocks/include/gnuradio/blocks/host_buffer_copy.h
  gr-blocks/lib/CMakeLists.txt
  gr-blocks/lib/host_buffer_copy_impl.cc
  gr-blocks/lib/host_buffer_copy_impl.h
  gr-blocks/python/blocks/bindings/CMakeLists.txt
  gr-blocks/python/blocks/bindings/docstrings/host_buffer_copy_pydoc_template.h
  gr-blocks/python/blocks/bindings/host_buffer_copy_python.cc
  gr-blocks/python/blocks/bindings/python_bindings.cc
  gr-blocks/python/blocks/qa_host_buffer_copy.py
Labels: Backport-3.10, custom buffers

#5754 runtime: Process system messages before others
  gnuradio-runtime/include/gnuradio/basic_block.h
  gnuradio-runtime/python/gnuradio/gr/bindings/basic_block_python.cc
Labels: Runtime, CI, Message passing, Bug Fix, Backport-3.9, Backport-3.10

#5803 qa: remove formatting in assertSequenceEqualGR
  gnuradio-runtime/python/gnuradio/gr_unittest.py
Labels: QA, Backport-3.10

#5804 dtv: Fix use of uninitialized memory
  gr-dtv/lib/dvbt2/dvbt2_framemapper_cc_impl.cc
Labels: dtv, Bug Fix, Backport-3.10

#5805 dtv: Use unsigned integer for CRC calculation
  gr-dtv/lib/dvbt2/dvbt2_framemapper_cc_impl.cc
Labels: dtv, Bug Fix, Backport-3.9, Backport-3.10

#5808 iio: Fix inconsistent override warnings
  gr-iio/lib/device_sink_impl.h
  gr-iio/lib/device_source_impl.h
Labels: Cleanup, iio, Backport-3.10

#5809 qtgui: Fix inconsistent override warnings
  gr-qtgui/include/gnuradio/qtgui/timeRasterGlobalData.h
  gr-qtgui/include/gnuradio/qtgui/waterfallGlobalData.h
Labels: QTGUI, Cleanup, Backport-3.10

#5700 digital: Replace boost::crc with built-in CRC implementation
  gr-digital/include/gnuradio/digital/crc16_async_bb.h
  gr-digital/include/gnuradio/digital/crc32_async_bb.h
  gr-digital/include/gnuradio/digital/header_format_crc.h
  gr-digital/include/gnuradio/digital/packet_header_default.h
  gr-digital/lib/crc16_async_bb_impl.cc
  gr-digital/lib/crc16_async_bb_impl.h
  gr-digital/lib/crc32_async_bb_impl.cc
  gr-digital/lib/crc32_async_bb_impl.h
  gr-digital/lib/crc32_bb_impl.cc
  gr-digital/lib/crc32_bb_impl.h
  gr-digital/lib/header_format_crc.cc
  gr-digital/lib/packet_header_default.cc
  gr-digital/python/digital/bindings/crc16_async_bb_python.cc
  gr-digital/python/digital/bindings/crc32_async_bb_python.cc
  gr-digital/python/digital/bindings/header_format_crc_python.cc
  gr-digital/python/digital/bindings/packet_header_default_python.cc
  gr-digital/python/digital/qa_crc16_async_bb.py
  gr-digital/python/digital/qa_crc32_async_bb.py
Labels: digital, Cleanup, boost, Backport-3.10

#5833 filter: Fix flaky qa_filterbank test
  gr-filter/python/filter/qa_filterbank.py
Labels: CI, filter, Bug Fix, Backport-3.9, Backport-3.10

#5806 runtime: Fix signed integer overflows
  gnuradio-runtime/include/gnuradio/fxpt.h
  gnuradio-runtime/python/gnuradio/gr/bindings/fxpt_python.cc
Labels: Runtime, Bug Fix, Backport-3.9, Backport-3.10

#5807 digital: Fix load of misaligned address
  gr-digital/lib/crc32_bb_impl.cc
Labels: digital, Bug Fix, Backport-3.9, Backport-3.10

#5828 qtgui: Remove unused variable from Waterfall Sink
  gr-qtgui/lib/waterfall_sink_c_impl.cc
  gr-qtgui/lib/waterfall_sink_f_impl.cc
Labels: QTGUI, Cleanup, Backport-3.10

#5816 dtv: Fix compiler warning
  gr-dtv/lib/dvbt2/dvbt2_framemapper_cc_impl.cc
Labels: Cleanup, dtv, Backport-3.10

#5835 gr-dtv: Update DVB-T2 QA test to avoid spurious CI failures.
  gr-dtv/python/dtv/qa_dtv.py
  gr-dtv/python/dtv/vv009-4kfft.cfile
  gr-dtv/python/dtv/vv009-4kfft.ts
Labels: CI, dtv, Bug Fix, Backport-3.9, Backport-3.10

#5829 blocks: Add support for Ogg Opus if libsndfile is >= 1.0.29
  gr-blocks/grc/blocks_wavfile_sink.block.yml
  gr-blocks/include/gnuradio/blocks/wavfile.h
  gr-blocks/include/gnuradio/blocks/wavfile_sink.h
  gr-blocks/lib/CMakeLists.txt
  gr-blocks/lib/wavfile_sink_impl.cc
  gr-blocks/python/blocks/bindings/wavfile_python.cc
  gr-blocks/python/blocks/bindings/wavfile_sink_python.cc
Labels: blocks, enhancement, Backport-3.10

#5858 runtime: Fix broken log format string in set_min_output_buffer
  gnuradio-runtime/lib/block.cc
Labels: Runtime, logging, Bug Fix, Backport-3.10

#5854 runtime: Replace Boost with standard C++ in rpcbufferedget
  gnuradio-runtime/include/gnuradio/rpcbufferedget.h
Labels: Runtime, Cleanup, ctrlport, boost, Backport-3.10

#5850 runtime: Replace boost::function0 with std::function
  gnuradio-runtime/include/gnuradio/thread/thread_group.h
  gnuradio-runtime/lib/thread/thread_group.cc
Labels: API Change, Runtime, Cleanup, boost, Backport-3.10

#5847 runtime: Replace Boost with standard C++ in Apache Thrift code
  gnuradio-runtime/include/gnuradio/rpcpmtconverters_thrift.h
  gnuradio-runtime/include/gnuradio/rpcserver_thrift.h
  gnuradio-runtime/include/gnuradio/thrift_application_base.h
  gnuradio-runtime/lib/controlport/thrift/rpcpmtconverters_thrift.cc
  gnuradio-runtime/lib/controlport/thrift/rpcserver_thrift.cc
Labels: Runtime, Cleanup, ctrlport, boost, Thrift, Backport-3.10

#5706 audio: Replace Boost with standard C++
  gr-audio/CMakeLists.txt
  gr-audio/examples/c++/dial_tone.cc
  gr-audio/lib/alsa/alsa_sink.cc
  gr-audio/lib/windows/windows_source.cc
  gr-audio/lib/windows/windows_source.h
Labels: Cleanup, boost, audio, Backport-3.10, Hold Backport

#5905 CI: Add Fedora 36, remove Fedora 34, second try
  .github/workflows/make-test.yml
  cmake/Modules/GrPython.cmake
Labels: CI, Backport-3.9, Backport-3.10

#5888 runtime: Replace boost::shared_mutex with standard C++
  gnuradio-runtime/include/gnuradio/thread/thread_group.h
  gnuradio-runtime/lib/thread/thread_group.cc
Labels: Runtime, Cleanup, boost, Backport-3.10

#5853 runtime: Replace PMT's Boost mutexes with standard C++
  gnuradio-runtime/include/pmt/pmt_pool.h
  gnuradio-runtime/lib/pmt/pmt.cc
Labels: Runtime, PMT, Cleanup, boost, Backport-3.10

#5852 runtime: Replace Boost with standard C++ in high resolution timer
  gnuradio-runtime/include/gnuradio/high_res_timer.h
  gnuradio-runtime/python/gnuradio/gr/bindings/high_res_timer_python.cc
Labels: Runtime, Cleanup, boost, Backport-3.10

#5910 Fix Mach-kernel timebase
  gnuradio-runtime/include/gnuradio/high_res_timer.h
  gnuradio-runtime/python/gnuradio/gr/bindings/high_res_timer_python.cc
Labels: Runtime, Bug Fix, Backport-3.9, Backport-3.10

#5859 Fix various broken fmt strings
  gnuradio-runtime/lib/hier_block2_detail.cc
  gnuradio-runtime/lib/vmcircbuf.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/logger_python.cc
  gr-blocks/lib/file_descriptor_sink_impl.cc
  gr-blocks/lib/tagged_file_sink_impl.cc
  gr-digital/lib/fll_band_edge_cc_impl.cc
  gr-filter/lib/pm_remez.cc
  gr-network/lib/socket_pdu_impl.cc
  gr-uhd/lib/rfnoc_rx_streamer_impl.cc
Labels: logging, Bug Fix, Backport-3.10
