Repository gnuradio/gnuradio, pull requests merged in 2022-11, with the labels that each got.

#6296 CI: Re-enable qa_qtgui tests
  .github/workflows/make-test.yml
  .packaging/conda_recipe/build.sh
Labels: QTGUI, CI, Backport-3.10

#6317 qtgui: Fix code generation for Msg CheckBox & Digital Number Control
  gr-qtgui/grc/qtgui_msgcheckbox.block.yml
  gr-qtgui/grc/qtgui_msgdigitalnumbercontrol.block.yml
  gr-qtgui/python/qtgui/msgcheckbox.py
Labels: QTGUI, Bug Fix, Backport-3.10

#6316 qtgui: Fix code generation for Toggle Button & Toggle Switch
  gr-qtgui/grc/qtgui_togglebutton.block.yml
  gr-qtgui/grc/qtgui_toggleswitch.block.yml
Labels: QTGUI, Bug Fix, Backport-3.10

#6308 digital: Make the add_field functions portable
  gr-digital/lib/header_buffer.cc
Labels: digital, Bug Fix, Backport-3.10

#6318 cmake: Ensure that target names are unique
  cmake/Modules/GrPython.cmake
Labels: CMake, Bug Fix, Backport-3.10

#6319 blocks: Increase number of samples and tolerance in qa_throttle
  gr-blocks/python/blocks/qa_throttle.py
Labels: blocks, CI, Bug Fix, Backport-3.10

#6321 pdu: Increase tolerance in flaky test again
  gr-pdu/python/pdu/qa_time_delta.py
Labels: CI, Bug Fix, pdu, Backport-3.10

#6314 digital: Use little-endian for CRC32 regardless of platform
  gr-digital/lib/crc32_async_bb_impl.cc
  gr-digital/lib/crc32_bb_impl.cc
Labels: digital, Bug Fix, Backport-3.10

#6334 CI: Avoid unnecessary test skips on OSX
  .packaging/conda_recipe/build.sh
  gr-blocks/python/blocks/qa_blocks_hier_block2.py
Labels: CI, Bug Fix, conda, Backport-3.10

#6335 QA: Make assertions more specific
  gnuradio-runtime/python/gnuradio/gr_unittest.py
  gnuradio-runtime/python/pmt/qa_pmt_to_python.py
  gr-blocks/python/blocks/qa_file_metadata.py
  gr-blocks/python/blocks/qa_file_source.py
  gr-blocks/python/blocks/qa_multiply_matrix_xx.py
  gr-blocks/python/blocks/qa_stream_demux.py
  gr-blocks/python/blocks/qa_stream_mux.py
  gr-blocks/python/blocks/qa_vector_insert.py
  gr-digital/python/digital/qa_constellation_receiver.py
  gr-digital/python/digital/qa_lfsr.py
  gr-digital/python/digital/qa_ofdm_chanest_vcvc.py
  gr-digital/python/digital/qa_ofdm_sync_sc_cfb.py
  gr-digital/python/digital/qa_pfb_clock_sync.py
  gr-digital/python/digital/qa_scrambler.py
  gr-pdu/python/pdu/qa_tags_to_pdu.py
  gr-pdu/python/pdu/qa_take_skip_to_pdu.py
  gr-utils/blocktool/tests/test_blocktool.py
Labels: CI, enhancement, QA, Cleanup, Backport-3.10

#6209 gr-blocks: print correct error message for soundfile sf_open
  gr-blocks/lib/wavfile_sink_impl.cc
  gr-blocks/lib/wavfile_source_impl.cc
Labels: blocks, Backport-3.10

#6342 qtgui: Revert changes to Range widget
  gr-qtgui/grc/qtgui_range.block.yml
  gr-qtgui/python/qtgui/__init__.py
  gr-qtgui/python/qtgui/range.py.cmakein
Labels: QTGUI, Bug Fix, Backport-3.10

#6274 analog: fix agc3 on windows, logical bugs
  .packaging/conda_recipe/bld.bat
  gr-analog/lib/agc3_cc_impl.cc
  gr-analog/lib/agc3_cc_impl.h
  gr-analog/python/analog/qa_agc.py
Labels: analog, CI, QA, Cleanup, Windows, Bug Fix, C++17, conda, Backport-3.10

#6344 qtgui: Set a minimum size for the Distance Radar widget
  gr-qtgui/python/qtgui/distanceradar.py
Labels: QTGUI, Bug Fix, Backport-3.10

#6362 adding default stream-tag definitions to GR 4.0
  gr/include/gnuradio/tag.h
  test/qa_tags.cc
Labels: tags, GR 4.0

#6178 cmake: Switch suitable `PUBLIC` `target_link_libraries` to `PRIVATE`
  gnuradio-runtime/apps/CMakeLists.txt
  gnuradio-runtime/lib/CMakeLists.txt
  gnuradio-runtime/lib/pmt/CMakeLists.txt
  gr-analog/lib/CMakeLists.txt
  gr-audio/lib/CMakeLists.txt
  gr-blocks/lib/CMakeLists.txt
  gr-channels/lib/CMakeLists.txt
  gr-dtv/lib/CMakeLists.txt
  gr-fec/python/fec/bindings/CMakeLists.txt
  gr-fft/lib/CMakeLists.txt
  gr-filter/lib/CMakeLists.txt
  gr-iio/lib/CMakeLists.txt
  gr-qtgui/lib/CMakeLists.txt
  gr-uhd/examples/c++/CMakeLists.txt
  gr-uhd/lib/CMakeLists.txt
  gr-video-sdl/lib/CMakeLists.txt
  gr-vocoder/lib/CMakeLists.txt
  gr-wavelet/lib/CMakeLists.txt
  gr-zeromq/lib/CMakeLists.txt
  grc/core/generator/cpp_templates/CMakeLists.txt.mako
Labels: CMake, Hold Backport

#6349 uhd: rfnoc: Generate correct Python when using clock/time source
  gr-uhd/grc/uhd_rfnoc_graph.block.yml
Labels: gr-uhd, Backport-3.10

#6354 uhd: rfnoc: Fix add bindings and example for keep 1 in N
  gr-uhd/grc/uhd_rfnoc_keep_one_in_n.block.yml
Labels: gr-uhd, Bug Fix, Backport-3.10

#6388 zeromq: Increase wait times in tests
  gr-zeromq/python/zeromq/qa_zeromq_pubsub.py
  gr-zeromq/python/zeromq/qa_zeromq_pushpull.py
  gr-zeromq/python/zeromq/qa_zeromq_reqrep.py
Labels: ZMQ, CI, Bug Fix, Backport-3.10

#6382 CI: Update Fedora to 36/37
  .github/workflows/make-test.yml
Labels: CI, Backport-3.10

#6366 blocks: Fix invalid PCH warning
  .github/workflows/make-test.yml
  gr-blocks/lib/CMakeLists.txt
Labels: blocks, Cleanup, Backport-3.10

#6365 runtime: Fix deprecation warnings
  .github/workflows/make-test.yml
  .github/workflows/pkg-debian.yml
  .github/workflows/pkg-fedora.yml
  gnuradio-runtime/include/gnuradio/rpcserver_thrift.h
Labels: Runtime, Cleanup, ctrlport, Backport-3.10

#6343 grc: Continue processing connections after an invalid one occurs
  grc/core/FlowGraph.py
Labels: GRC, Bug Fix, Backport-3.10

#6353 uhd: Re-enable uhd.find_devices()
  gr-uhd/python/uhd/bindings/python_bindings.cc
  gr-uhd/python/uhd/bindings/usrp_block_python.cc
Labels: gr-uhd, Bug Fix, Backport-3.10

#6361 config files: fix misleading config hints
  grc/grc.yml.in
  grc/gui/Config.py
  grc/meson.build
  meson.build
  meson_options.txt
Labels: GR 4.0
