Repository gnuradio/gnuradio, pull requests merged in 2022-10, with the labels that each got.

#6170 4.0: gr: allow buffer read catch up to write
  gr/lib/buffer.cc
Labels: Runtime, GR 4.0

#6166 pybind11: when no pygccxml, inherit gr::block
  gr-utils/blocktool/core/parseheader_generic.py
Labels: modtool, pybind11, Backport-3.10

#6213 4.0: meson: move pkgconfig/cmake to lib dir for all modules
  blocklib/analog/lib/meson.build
  blocklib/audio/lib/meson.build
  blocklib/blocks/include/gnuradio/blocks/meson.build
  blocklib/blocks/lib/meson.build
  blocklib/fec/lib/meson.build
  blocklib/fft/lib/meson.build
  blocklib/fileio/lib/meson.build
  blocklib/filter/lib/meson.build
  blocklib/math/lib/meson.build
  blocklib/soapy/lib/meson.build
  blocklib/streamops/lib/meson.build
  blocklib/zeromq/lib/meson.build
Labels: GR 4.0

#6211 4.0: Fix Single Mapped Buffer logic
  gr/include/gnuradio/buffer.h
  gr/include/gnuradio/buffer_cpu_host.h
  gr/include/gnuradio/buffer_sm.h
  gr/include/gnuradio/custom_lock.h
  gr/lib/buffer.cc
  gr/lib/buffer_cpu_host.cc
  gr/lib/buffer_sm.cc
  gr/lib/meson.build
  gr/meson.build
  gr/test/meson.build
  gr/test/qa_host_buffer.cc
  schedulers/nbt/include/gnuradio/schedulers/nbt/scheduler_nbt.h
  schedulers/nbt/include/gnuradio/schedulers/nbt/scheduler_nbt_options.h
  schedulers/nbt/lib/graph_executor.cc
  schedulers/nbt/lib/scheduler_nbt.cc
Labels: GR 4.0

#6223 digital: Fix buffer overrun in Chunks to Symbols block
  gr-digital/lib/chunks_to_symbols_impl.cc
  gr-digital/python/digital/qa_chunks_to_symbols.py
Labels: digital, Bug Fix, hacktoberfest-accepted, Backport-3.10

#6225 blocks: Fix flaky message_strobe and mesage_debug tests
  gr-blocks/python/blocks/qa_message_debug.py
  gr-blocks/python/blocks/qa_message_strobe.py
Labels: blocks, CI, Bug Fix, Backport-3.10

#6224 blocks: Convert argument to int in Python callbacks
  gr-blocks/grc/blocks_delay.block.yml
  gr-blocks/grc/blocks_exponentiate_const_cci.block.yml
Labels: blocks, Bug Fix, hacktoberfest-accepted, Backport-3.10

#6193 zmq: add option to block/drop samples when high watermark reached
  gr-zeromq/grc/zeromq_pub_sink.block.yml
  gr-zeromq/include/gnuradio/zeromq/pub_sink.h
  gr-zeromq/lib/pub_sink_impl.cc
  gr-zeromq/lib/pub_sink_impl.h
  gr-zeromq/python/zeromq/bindings/pub_sink_python.cc
Labels: New Feature, ZMQ, Backport-3.10

#6216 4.0: modtool: put default qa test in the block dir
  utils/blockbuilder/templates/blockname.meson.build.j2
  utils/modtool/newblock/qa_newblock.py
Labels: GR 4.0

#6215 4.0: soapy: fix up the bindings
  blocklib/soapy/.gitignore
  blocklib/soapy/python/gnuradio/soapy/bindings/meson.build
  blocklib/soapy/test/test_soapy.py
Labels: GR 4.0

#6238 4.0: gr: install custom_lock header
  gr/include/gnuradio/meson.build
Labels: GR 4.0

#6188 blocks/blockinterleaving.h: add missing cstddef header (required for size_t)
  gr-blocks/include/gnuradio/blocks/blockinterleaving.h
Labels: blocks, Backport-3.10

#5913 wavelet: Remove --no-as-needed linker option
  gr-wavelet/lib/CMakeLists.txt
Labels: CMake, Cleanup, wavelet, Backport-3.10

#6218 uhd: rfnoc_graph: Added logging
  gr-uhd/lib/rfnoc_graph_impl.cc
Labels: gr-uhd, hacktoberfest-accepted, Backport-3.10

#6219 uhd: Fix consistent override warnings
  gr-uhd/lib/rfnoc_block_generic_impl.h
  gr-uhd/lib/rfnoc_ddc_impl.h
  gr-uhd/lib/rfnoc_duc_impl.h
  gr-uhd/lib/rfnoc_rx_radio_impl.h
  gr-uhd/lib/rfnoc_rx_streamer_impl.h
  gr-uhd/lib/rfnoc_tx_radio_impl.h
  gr-uhd/lib/rfnoc_tx_streamer_impl.h
Labels: gr-uhd, uhd, hacktoberfest-accepted, Backport-3.10

#6220 uhd: rfnoc: Fix property setting on rfnoc_block
  gr-uhd/include/gnuradio/uhd/rfnoc_block.h
  gr-uhd/lib/rfnoc_block.cc
Labels: gr-uhd, uhd, hacktoberfest-accepted

#6235 uhd: rfnoc: Add Python bindings for rfnoc_block_generic
  gr-uhd/python/uhd/bindings/CMakeLists.txt
  gr-uhd/python/uhd/bindings/docstrings/rfnoc_block_generic_pydoc_template.h
  gr-uhd/python/uhd/bindings/python_bindings.cc
  gr-uhd/python/uhd/bindings/rfnoc_block_generic_python.cc
Labels: gr-uhd, uhd, Backport-3.10

#6242 uhd: rfnoc: Improve settings for streamers
  gr-uhd/grc/uhd_rfnoc_rx_streamer.block.yml
  gr-uhd/grc/uhd_rfnoc_tx_streamer.block.yml
Labels: New Feature, gr-uhd, uhd, Backport-3.10

#6241 uhd: rfnoc: Add property APIs
  gr-uhd/include/gnuradio/uhd/rfnoc_block.h
  gr-uhd/python/uhd/bindings/docstrings/rfnoc_block_pydoc_template.h
  gr-uhd/python/uhd/bindings/rfnoc_block_python.cc
Labels: New Feature, gr-uhd, uhd, Backport-3.10

#6236 uhd: rfnoc: Add bindings and example for keep 1 in N
  gr-uhd/examples/grc/rfnoc_keep1.grc
  gr-uhd/grc/CMakeLists.txt
  gr-uhd/grc/uhd.tree.yml
  gr-uhd/grc/uhd_rfnoc_keep_one_in_n.block.yml
Labels: New Feature, gr-uhd, uhd, Backport-3.10

#6221 qtgui: cmake: Align CMake structure with other modules
  gr-qtgui/CMakeLists.txt
  gr-qtgui/lib/CMakeLists.txt
Labels: gr-uhd, CMake, uhd, hacktoberfest-accepted, Backport-3.10

#6244 runtime: fix type replication in py_io_signature
  gnuradio-runtime/python/gnuradio/gr/gateway.py
Labels: hacktoberfest-accepted

#6234 fec: Prevent integer overflow in path metric calculations
  gr-fec/lib/decode_ccsds_27_fb_impl.cc
  gr-fec/lib/decode_ccsds_27_fb_impl.h
  gr-fec/lib/viterbi/viterbi.cc
  gr-fec/python/fec/qa_ecc_ccsds_27.py
Labels: FEC, Bug Fix, hacktoberfest-accepted, Backport-3.10

#6246 blocks: Allow for floating point error in moving average test
  gr-blocks/python/blocks/qa_moving_average.py
Labels: blocks, CI, Bug Fix, hacktoberfest-accepted, Backport-3.10

#6247 fft: Increase tolerance in qa_window test
  gr-fft/python/fft/qa_window.py
Labels: CI, fft, Bug Fix, hacktoberfest-accepted, Backport-3.10

#6249 blocks: Remove duplicate test case
  gr-blocks/python/blocks/qa_repack_bits_bb.py
Labels: blocks, QA, Cleanup, hacktoberfest-accepted, Backport-3.10

#6250 blocks: Fix typo in test name
  gr-blocks/python/blocks/qa_mute.py
Labels: blocks, QA, hacktoberfest-accepted, Backport-3.10

#6251 digital: Rename test to avoid duplicate name
  gr-digital/python/digital/qa_ofdm_frame_equalizer_vcvc.py
Labels: digital, QA, hacktoberfest-accepted, Backport-3.10

#6254 fec: Fix LDPC output size calculation
  gr-fec/lib/ldpc_gen_mtrx_encoder_impl.cc
  gr-fec/lib/ldpc_par_mtrx_encoder_impl.cc
Labels: FEC, Bug Fix, hacktoberfest-accepted, Backport-3.10

#6255 fec: Remove duplicate test from qa_fecapi_ldpc
  gr-fec/python/fec/qa_fecapi_ldpc.py
Labels: FEC, QA, Cleanup, hacktoberfest-accepted, Backport-3.10

#6257 analog: Use realistic signals for CTCSS squelch tests
  gr-analog/python/analog/qa_ctcss_squelch.py
Labels: analog, CI, Bug Fix, hacktoberfest-accepted, Backport-3.10

#6262 docs: Improve documentation in hilbert_fc.h
  gr-filter/include/gnuradio/filter/hilbert_fc.h
  gr-filter/python/filter/bindings/hilbert_fc_python.cc
Labels: Documentation, hacktoberfest-accepted, Backport-3.10

#6259 blocks: Use mutex instead of std::atomic for probe synchronization
  gr-blocks/lib/CMakeLists.txt
  gr-blocks/lib/probe_signal_impl.cc
  gr-blocks/lib/probe_signal_impl.h
Labels: blocks, Bug Fix, hacktoberfest-accepted, Backport-3.10

#6263 uhd: Declare float to time_spec_t implicitly convertible
  gr-uhd/python/uhd/bindings/python_bindings.cc
Labels: gr-uhd, Bug Fix, uhd, Backport-3.10

#6272 blocks: Increase tolerance in qa_throttle tests
  .packaging/conda_recipe/bld.bat
  .packaging/conda_recipe/build.sh
  gr-blocks/python/blocks/qa_throttle.py
Labels: blocks, CI, Bug Fix, Backport-3.10

#6260 network: Move boost::asio namespace to asio
  gr-network/lib/CMakeLists.txt
  gr-network/lib/asio/asio.hpp
  gr-network/lib/socket_pdu_impl.cc
  gr-network/lib/socket_pdu_impl.h
  gr-network/lib/tcp_connection.cc
  gr-network/lib/tcp_connection.h
  gr-network/lib/tcp_sink_impl.cc
  gr-network/lib/tcp_sink_impl.h
  gr-network/lib/udp_sink_impl.cc
  gr-network/lib/udp_sink_impl.h
  gr-network/lib/udp_source_impl.cc
  gr-network/lib/udp_source_impl.h
Labels: boost, network, Backport-3.10

#6273 CI: trim the list of skipped tests in Conda builds
  .packaging/conda_recipe/bld.bat
  .packaging/conda_recipe/build.sh
Labels: CI, conda, Backport-3.10

#6275 blocks: Fix file tests to work on Windows
  .packaging/conda_recipe/bld.bat
  gr-blocks/python/blocks/qa_file_descriptor_source_sink.py
  gr-blocks/python/blocks/qa_file_sink.py
  gr-blocks/python/blocks/qa_file_source.py
Labels: blocks, CI, Bug Fix, Backport-3.10

#6288 runtime: make logging in rpcpmtconverters_thift work with fmt v9
  gnuradio-runtime/lib/controlport/thrift/rpcpmtconverters_thrift.cc
Labels: logging, hacktoberfest-accepted, Backport-3.10

#6289 Fix generated vector setter/getter signatures in non-templated blocks
  utils/blockbuilder/templates/blockname.cc.j2
Labels: hacktoberfest-accepted, GR 4.0

#6303 filter: use non-zero taps for fft filter qa
  gr-filter/python/filter/qa_fft_filter.py
Labels: filter, QA, Backport-3.10

#6307 runtime: Fix PMT serialization of C32 vectors
  gnuradio-runtime/lib/pmt/pmt_serialize.cc
  gnuradio-runtime/python/pmt/qa_pmt.py
Labels: Runtime, CI, PMT, Bug Fix, Backport-3.9, Backport-3.10

#6311 CI: Lower timeouts on formatting & Doxygen jobs
  .github/workflows/make-test.yml
Labels: CI, enhancement, Backport-3.10

#6309 blocks: Read WAV file frames correctly in qa_wavfile
  gr-blocks/python/blocks/qa_wavfile.py
Labels: blocks, Bug Fix, Backport-3.10

#6297 CI: Re-enable metainfo_test on Ubuntu 20.04
  .github/workflows/make-test.yml
Labels: CI, Backport-3.10

#6298 blocks: Increase tolerance in message_strobe and message_debug tests
  .packaging/conda_recipe/build.sh
  gr-blocks/python/blocks/qa_message_debug.py
  gr-blocks/python/blocks/qa_message_strobe.py
Labels: blocks, CI, Bug Fix, Backport-3.10
