Repository gnuradio/gnuradio, pull requests merged in 2022-09, with the labels that each got.

#6146 4.0: Remove built-in rpc
  gr/include/gnuradio/meson.build
  gr/include/gnuradio/node.h
  gr/include/gnuradio/rpc_client_interface.h
  gr/lib/block.cc
  gr/lib/meson.build
  gr/lib/rpc_client_interface.cc
  gr/python/gr/bindings/gr_pybind.cc
  gr/python/gr/bindings/meson.build
  gr/python/gr/bindings/node_pybind.cc
  gr/python/gr/bindings/rpc_client_interface_pybind.cc
  meson.build
  subprojects/.gitignore
  subprojects/cpp-httplib.wrap
Labels: GR 4.0

#6147 GR 4.0: Add numpy include path to python bindings meson files
  blocklib/filter/python/filter/meson.build
  blocklib/math/python/math/meson.build
  gr/python/gr/bindings/meson.build
  kernel/python/kernel/digital/bindings/meson.build
  kernel/python/kernel/fft/bindings/meson.build
  kernel/python/kernel/filter/bindings/meson.build
  kernel/python/kernel/math/bindings/meson.build
  meson.build
  schedulers/nbt/python/schedulers/nbt/bindings/meson.build
  utils/blockbuilder/templates/module_python.meson.build.j2
Labels: GR 4.0, meson

#6144 fix two QtRangeWidget bugs:
  gr-qtgui/grc/qtgui_range.block.yml
  gr-qtgui/python/qtgui/range.py.cmakein
Labels: QTGUI, Bug Fix, Backport-3.9, Backport-3.10

#6142 iio: return correct samples for second channel
  gr-iio/lib/fmcomms2_source_impl.cc
Labels: Bug Fix, iio, Backport-3.10

#6139 runtime/qa: link against spdlog when not linking through the runtime library
  gnuradio-runtime/lib/CMakeLists.txt
Labels: Runtime, CMake, Backport-3.10

#6128 digital: deprecate crc32/16_async blocks
  gr-digital/grc/digital_crc16_async_bb.block.yml
  gr-digital/grc/digital_crc32_async_bb.block.yml
  gr-digital/include/gnuradio/digital/crc16_async_bb.h
  gr-digital/include/gnuradio/digital/crc32_async_bb.h
  gr-digital/python/digital/bindings/crc16_async_bb_python.cc
  gr-digital/python/digital/bindings/crc32_async_bb_python.cc
Labels: digital, Backport-3.10

#6143 4.0: ci: add OpenSUSE Tumbleweed to targets
  .github/workflows/build_and_test.yml
Labels: GR 4.0

#6140 uhd: Add uhd.find to the pybind11 interface
  gr-uhd/python/uhd/bindings/usrp_block_python.cc
Labels: gr-uhd, pybind11, Backport-3.9, Backport-3.10

#6165 conda: Make git tag parsing for package version more robust
  .packaging/conda_recipe/meta.yaml
  gr-utils/modtool/templates/gr-newmod/.conda/recipe/meta.yaml
Labels: conda, Backport-3.10

#6176 qtgui: Add missing `#include <stdexcept>` for `std::runtime_error`.
  gr-qtgui/lib/TimeRasterDisplayPlot.cc
Labels: QTGUI, Bug Fix, Backport-3.10

#6179 blocks: Including missing `#include <vector>` in blockinterleaver
  gr-blocks/include/gnuradio/blocks/blockinterleaving.h
  gr-blocks/lib/blockinterleaving.cc
Labels: blocks, Bug Fix, Backport-3.10
