Repository gnuradio/gnuradio, pull requests merged in 2023-12, with the labels that each got.

#6979 blocks: benchmark_vco,nco: random input, non-discarded output
  gr-blocks/tests/benchmark_common.h
Labels: enhancement, performance, Backport-3.10

#6980 filter: Accept rounded output from fir_filter_fsf
  gr-filter/python/filter/qa_fir_filter.py
Labels: VOLK, filter, Bug Fix, Backport-3.10

#6970 qtgui: Remove unnecessary imports from templates
  gr-qtgui/grc/qtgui_range.block.yml
  gr-qtgui/grc/qtgui_rfnoc_f15_display.block.yml
Labels: GRC, QTGUI, Bug Fix, Backport-3.10

#6983 blocks: msq_pair_to_var QA: wait up to 1 s.
  gr-blocks/python/blocks/qa_msg_pair_to_var.py
Labels: blocks, CI, Python, QA, Bug Fix, Backport-3.10

#6984 fec: add FEC_API to CCSDS Reed-Solomon functions
  gr-fec/include/gnuradio/fec/rs.h
  gr-fec/lib/reed-solomon/ccsds.h
  gr-fec/lib/reed-solomon/char.h
  gr-fec/lib/reed-solomon/decode_rs_ccsds.c
  gr-fec/lib/reed-solomon/encode_rs_ccsds.c
  gr-fec/lib/reed-solomon/fixed.h
Labels: FEC, Bug Fix, Backport-3.10

#6961 Use pointers to pass s32fc arguments to VOLK
  gr-blocks/include/gnuradio/blocks/rotator.h
  gr-blocks/lib/multiply_by_tag_value_cc_impl.cc
  gr-blocks/lib/multiply_const_impl.cc
  gr-blocks/lib/multiply_matrix_impl.cc
  gr-blocks/lib/phase_shift_impl.cc
  gr-blocks/python/blocks/bindings/rotator_python.cc
  gr-digital/include/gnuradio/digital/adaptive_algorithm_cma.h
  gr-digital/include/gnuradio/digital/adaptive_algorithm_lms.h
  gr-digital/python/digital/bindings/adaptive_algorithm_cma_python.cc
  gr-digital/python/digital/bindings/adaptive_algorithm_lms_python.cc
  gr-dtv/lib/dvbt/dvbt_reference_signals_impl.cc
  gr-dtv/lib/dvbt2/dvbt2_paprtr_cc_impl.cc
  gr-dtv/lib/dvbt2/dvbt2_pilotgenerator_cc_impl.cc
Labels: VOLK, Bug Fix, Backport-3.10

#6988 blocks: Fix flaky chunk throttling test
  gr-blocks/python/blocks/qa_throttle.py
Labels: blocks, CI, Bug Fix, Backport-3.10

#6993 fix gr_python_install on windows platform
  cmake/Modules/GrPython.cmake
Labels: CMake, Bug Fix, Backport-3.10

#7020 network: Add timeout to prevent qa_tcp_sink from hanging
  gr-network/python/network/qa_tcp_sink.py
Labels: QA, network, Bug Fix, Backport-3.10

#7019 dtv: Read expected data as little-endian
  gr-dtv/python/dtv/qa_dtv.py
Labels: QA, dtv, Bug Fix, Backport-3.10

#7030 runtime: config.in used undefined log level
  gnuradio-runtime/gnuradio-runtime.conf.in
Labels: logging, Backport-3.10

#7025 fec: move viterbi usage example out of lib to examples directory
  gr-fec/examples/viterbi_usage_examples/decode.cc
  gr-fec/examples/viterbi_usage_examples/encode.cc
Labels: Cleanup, examples, Backport-3.10

#7027 fec: Round before converting frame lengths to int
  gr-fec/lib/async_decoder_impl.cc
  gr-fec/lib/async_encoder_impl.cc
  gr-fec/lib/tagged_decoder_impl.cc
Labels: FEC, Bug Fix, Backport-3.10

#7032 analog: Fix buffer overruns in AGC3
  gr-analog/lib/agc3_cc_impl.cc
Labels: analog, Bug Fix, Backport-3.10
