Repository gnuradio/gnuradio, pull requests merged in 2023-11, with the labels that each got.

#6941 Revert "qtgui: Add fosphor formatter block"
  gr-qtgui/examples/test_fosphor_display.grc
  gr-qtgui/grc/CMakeLists.txt
  gr-qtgui/grc/qtgui.tree.yml
  gr-qtgui/grc/qtgui_fosphor_formatter.block.yml
  gr-qtgui/grc/qtgui_fosphorgl_sink.block.yml
  gr-qtgui/include/gnuradio/qtgui/CMakeLists.txt
  gr-qtgui/include/gnuradio/qtgui/fosphor_formatter.h
  gr-qtgui/lib/CMakeLists.txt
  gr-qtgui/lib/fosphor_formatter_impl.cc
  gr-qtgui/lib/fosphor_formatter_impl.h
  gr-qtgui/python/qtgui/CMakeLists.txt
  gr-qtgui/python/qtgui/__init__.py
  gr-qtgui/python/qtgui/bindings/CMakeLists.txt
  gr-qtgui/python/qtgui/bindings/docstrings/fosphor_formatter_pydoc_template.h
  gr-qtgui/python/qtgui/bindings/fosphor_formatter_python.cc
  gr-qtgui/python/qtgui/bindings/python_bindings.cc
  gr-qtgui/python/qtgui/fosphorgl_sink.py
  gr-qtgui/python/qtgui/qa_qtgui_opengl.py
Labels: QTGUI

#6949 qtgui: Remove stray block from tree
  gr-qtgui/grc/qtgui.tree.yml
Labels: QTGUI, yaml, Bug Fix, No Backport

#6953 grc: Check flow graph format version
  grc/core/Constants.py
  grc/core/platform.py
Labels: GRC, Backport-3.10

#6959 Github: add feature-grc-qt as branch option for issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: Infrastructure, CI

#6962 grc: backlist gnuradio as valid id
  grc/core/params/dtypes.py
Labels: GRC, Backport-3.10

#6928 spdlog: include spdlog system settings header before including spdlog/fmt/
  gnuradio-runtime/include/gnuradio/io_signature.h
  gnuradio-runtime/include/gnuradio/logger.h
  gnuradio-runtime/include/gnuradio/pmt_fmt.h
  gnuradio-runtime/lib/io_signature.cc
  gnuradio-runtime/lib/pmt_fmt.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/io_signature_python.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/logger_python.cc
  gr-analog/lib/agc3_cc_impl.cc
  gr-blocks/lib/blockinterleaving.cc
  gr-blocks/lib/keep_m_in_n_impl.cc
  gr-blocks/lib/message_debug_impl.cc
  gr-blocks/tests/benchmark_common.h
  gr-blocks/tests/benchmark_nco.cc
  gr-blocks/tests/benchmark_vco.cc
  gr-filter/lib/rational_resampler_impl.cc
Labels: Bug, Runtime, dependencies, logging, Backport-3.10

#6966 pmt: Disallow None for pmt_t arguments in Python
  gnuradio-runtime/python/pmt/bindings/pmt_python.cc
  gnuradio-runtime/python/pmt/qa_pmt.py
Labels: PMT, Bug Fix, Backport-3.10

#6969 fec: fix incorrect runtime error message
  gr-fec/lib/cc_decoder_impl.cc
Labels: FEC, Bug Fix, Backport-3.10

#6968 Python: minimum version 3.7.2, was 3.6.5
  cmake/Modules/GrMinReq.cmake
Labels: CMake, Python, dependencies, Backport-3.10

#6963 project: add tox.ini, so that editors use the same formatting as github CI
  .github/workflows/make-test.yml
  tox.ini
Labels: CI, Python

#6950 blocks: msg_pair_to_var: Log with block logger, not gr.log
  gr-blocks/python/blocks/msg_pair_to_var.py
  gr-blocks/python/blocks/qa_msg_pair_to_var.py
Labels: blocks, Python, QA, Message passing, Backport-3.10

#6971 Remove 'friend' from 'read_wavein' callback function
  gr-audio/lib/windows/windows_source.cc
  gr-audio/lib/windows/windows_source.h
Labels: Windows, audio, Bug Fix, Backport-3.10
