Repository gnuradio/gnuradio, pull requests merged in 2023-01, with the labels that each got.

#6302 uhd: add async msgs port to usrp_source block and publish overflows
  gr-uhd/grc/gen_uhd_usrp_blocks.py
  gr-uhd/lib/usrp_source_impl.cc
  gr-uhd/lib/usrp_source_impl.h
Labels: New Feature, gr-uhd, Backport-3.10

#6446 grc: snippets before init is called
  grc/blocks/snippet.block.yml
  grc/core/generator/flow_graph.py.mako
Labels: GRC, Backport-3.10

#6451 grc: fix debug logging and GTK import order
  grc/main.py
Labels: GRC, Backport-3.10

#6457 fec: fix typo in upper_convolve()
  gr-fec/python/fec/polar/channel_construction_awgn.py
Labels: digital, Bug Fix, Backport-3.10

#6454 grc: add a pass if snippet is empty
  grc/core/FlowGraph.py
Labels: GRC, Backport-3.10

#6462 runtime: (Re)make block buffer size customizable
  gnuradio-runtime/lib/block.cc
  gnuradio-runtime/lib/flat_flowgraph.cc
Labels: Runtime, Backport-3.10

#6483 iio: cmake: revert libad9361 linkage back to public
  gr-iio/lib/CMakeLists.txt
Labels: CMake, Bug Fix, iio, Backport-3.10

#6488 network: change type of bytes_read UDP Source
  gr-network/lib/udp_source_impl.cc
Labels: network, Bug Fix, Backport-3.10

#6492 soapy: freq message on gr-soapy source block cmd port adds rx_freq tag
  gr-soapy/lib/source_impl.cc
  gr-soapy/lib/source_impl.h
Labels: New Feature, soapy, Backport-3.10

#6445 fec: fix tagged decoder frame size for CC_TERMINATED
  gr-fec/lib/tagged_decoder_impl.cc
Labels: FEC, Bug Fix, Backport-3.10

#6491 grc: fix Choose Editor menu needs to stay above parent dialog #5151
  grc/gui/Dialogs.py
Labels: GRC, enhancement, Backport-3.10

#6497 include guards: fix files with defines that appear in multiple files
  gr-blocks/lib/vco_c_impl.h
  gr-channels/lib/dynamic_channel_model_impl.h
  gr-channels/lib/fading_model_impl.h
  gr-digital/lib/constellation_encoder_bc_impl.h
  gr-uhd/lib/rfnoc_fir_filter_impl.h
Labels: Low, Cleanup, Backport-3.10

#6450 pdu: Don't enable blocks and filter
  gr-pdu/CMakeLists.txt
Labels: CMake, pdu, Backport-3.10, Hold Backport
