Repository gnuradio/gnuradio, pull requests merged in 2023-03, with the labels that each got.

#6524 qtgui: removed imported firdes from yml files
  gr-qtgui/grc/qtgui_eye_sink_x.block.yml
  gr-qtgui/grc/qtgui_freq_sink_x.block.yml
  gr-qtgui/grc/qtgui_sink_x.block.yml
  gr-qtgui/grc/qtgui_time_sink_x.block.yml
  gr-qtgui/grc/qtgui_time_sink_x.block.yml.py
  gr-qtgui/grc/qtgui_waterfall_sink_x.block.yml
Labels: QTGUI, Cleanup, Backport-3.10, codegen

#6562 modtool: add keywords for interp/decim py blocks
  gr-utils/modtool/templates/templates.py
Labels: modtool, Bug Fix

#6537 fec: fix some bugs and refactor async_decoder
  gr-fec/lib/async_decoder_impl.cc
  gr-fec/lib/async_decoder_impl.h
Labels: FEC, Bug Fix, Backport-3.10

#6565 grc: grc_setup_freedesktop is installed unconditionally
  cmake/cmake_uninstall.cmake.in
  grc/scripts/freedesktop/CMakeLists.txt
  grc/scripts/freedesktop/grc_setup_freedesktop.in
Labels: GRC, CMake, Backport-3.10, Hold Backport

#6566 blocks: delay hide message port optionally in grc
  gr-blocks/grc/blocks_delay.block.yml
Labels: blocks, Backport-3.10

#6578 Change the default taps for channel models.
  gr-channels/grc/channels_channel_model.block.yml
  gr-channels/grc/channels_channel_model2.block.yml
  gr-channels/include/gnuradio/channels/channel_model.h
  gr-channels/include/gnuradio/channels/channel_model2.h
  gr-channels/python/channels/bindings/channel_model2_python.cc
  gr-channels/python/channels/bindings/channel_model_python.cc
Labels: channels, Bug Fix, Backport-3.10

#6579 gr-zmq: flush output in ZMQ stream sources
  gr-zeromq/lib/pull_source_impl.cc
  gr-zeromq/lib/req_source_impl.cc
  gr-zeromq/lib/sub_source_impl.cc
Labels: ZMQ, Backport-3.10

#6577 uhd: rfnoc: Add GRC binding and example for split-stream block
  gr-uhd/examples/grc/rfnoc_split_stream.grc
  gr-uhd/grc/CMakeLists.txt
  gr-uhd/grc/uhd_rfnoc_split_stream.block.yml
Labels: gr-uhd, enhancement, Backport-3.10

#6580 uhd: rfnoc: Add GRC binding and example for switchboard block
  gr-uhd/examples/grc/rfnoc_switchboard.grc
  gr-uhd/grc/CMakeLists.txt
  gr-uhd/grc/uhd_rfnoc_switchboard.block.yml
Labels: New Feature, gr-uhd, Backport-3.10

#6581 uhd: rfnoc: Add GRC binding and example for moving average block
  gr-uhd/examples/grc/rfnoc_moving_average.grc
  gr-uhd/grc/CMakeLists.txt
  gr-uhd/grc/uhd_rfnoc_moving_avg.block.yml
Labels: New Feature, gr-uhd, Backport-3.10

#6582 fec: fix regression in async_decoder and add tests
  gr-fec/lib/async_decoder_impl.cc
  gr-fec/python/fec/_qa_helper_async.py
  gr-fec/python/fec/qa_fecapi_cc.py
  gr-fec/python/fec/qa_fecapi_dummy.py
  gr-fec/python/fec/qa_fecapi_ldpc.py
  gr-fec/python/fec/qa_fecapi_repetition.py
Labels: FEC, Bug Fix, Backport-3.10

#6584 analog: sig_source hide message port optionally in grc
  gr-analog/grc/analog_sig_source_x.block.yml
Labels: analog, yaml, Backport-3.10

#6585 blocks: file_meta_sink add missing import statement
  gr-blocks/grc/blocks_file_meta_sink.block.yml
Labels: blocks, yaml, Bug Fix, Backport-3.10

#6596 zmq: user-selectable connect/bind for all zmq blocks
  gr-zeromq/grc/zeromq_pub_sink.block.yml
  gr-zeromq/grc/zeromq_pull_source.block.yml
  gr-zeromq/grc/zeromq_push_sink.block.yml
  gr-zeromq/grc/zeromq_rep_sink.block.yml
  gr-zeromq/grc/zeromq_req_source.block.yml
  gr-zeromq/grc/zeromq_sub_source.block.yml
  gr-zeromq/include/gnuradio/zeromq/pub_sink.h
  gr-zeromq/include/gnuradio/zeromq/pull_source.h
  gr-zeromq/include/gnuradio/zeromq/push_sink.h
  gr-zeromq/include/gnuradio/zeromq/rep_sink.h
  gr-zeromq/include/gnuradio/zeromq/req_source.h
  gr-zeromq/include/gnuradio/zeromq/sub_source.h
  gr-zeromq/lib/base_impl.cc
  gr-zeromq/lib/base_impl.h
  gr-zeromq/lib/pub_sink_impl.cc
  gr-zeromq/lib/pub_sink_impl.h
  gr-zeromq/lib/pull_source_impl.cc
  gr-zeromq/lib/pull_source_impl.h
  gr-zeromq/lib/push_sink_impl.cc
  gr-zeromq/lib/push_sink_impl.h
  gr-zeromq/lib/rep_sink_impl.cc
  gr-zeromq/lib/rep_sink_impl.h
  gr-zeromq/lib/req_source_impl.cc
  gr-zeromq/lib/req_source_impl.h
  gr-zeromq/lib/sub_source_impl.cc
  gr-zeromq/lib/sub_source_impl.h
  gr-zeromq/python/zeromq/bindings/pub_sink_python.cc
  gr-zeromq/python/zeromq/bindings/pull_source_python.cc
  gr-zeromq/python/zeromq/bindings/push_sink_python.cc
  gr-zeromq/python/zeromq/bindings/rep_sink_python.cc
  gr-zeromq/python/zeromq/bindings/req_source_python.cc
  gr-zeromq/python/zeromq/bindings/sub_source_python.cc
Labels: New Feature, ZMQ, Backport-3.10
