Repository gnuradio/gnuradio, pull requests merged in 2023-10, with the labels that each got.

#6886 blocks: Include a trailing newline in SigMF metadata
  gr-blocks/python/blocks/sigmf_sink_minimal.py
Labels: blocks, Backport-3.10

#6896 iio: Remove extra element from fmcomms2 YML
  gr-iio/grc/iio_fmcomms2_sink.block.yml
  gr-iio/grc/iio_fmcomms2_source.block.yml
Labels: yaml, Bug Fix, iio, Backport-3.10

#6892 fosphor display widget: Fix std::bad_alloc
  gr-qtgui/lib/fosphor_display_impl.cc
  gr-qtgui/lib/fosphor_display_impl.h
Labels: QTGUI, Bug Fix, Backport-3.10, Hold Backport

#6908 zmq: check that zmq.hpp has context_t.shutdown()
  cmake/Modules/FindZeroMQ.cmake
  gr-zeromq/CMakeLists.txt
Labels: ZMQ, CMake, Backport-3.10

#6909 gr-uhd: Remove old references from example
  gr-uhd/examples/grc/rfnoc_duc_radio_multichan.grc
Labels: gr-uhd, examples, Backport-3.10

#6918 grc: Fix way-over-backslashing in file paths
  grc/gui/Application.py
Labels: GRC, Bug Fix, Backport-3.10

#6919 grc: Consistently format filenames in messages
  grc/core/Messages.py
Labels: GRC, Cleanup, Backport-3.10

#6922 gr-uhd: RFNoC Rx-Streamer: Add start stream options
  gr-uhd/grc/uhd_rfnoc_rx_streamer.block.yml
  gr-uhd/include/gnuradio/uhd/rfnoc_rx_streamer.h
  gr-uhd/lib/rfnoc_rx_streamer_impl.cc
  gr-uhd/lib/rfnoc_rx_streamer_impl.h
  gr-uhd/python/uhd/bindings/rfnoc_rx_streamer_python.cc
Labels: gr-uhd, enhancement, Backport-3.10

#6924 GRC: generated python code use gr.logger.warn instead of ….warning
  grc/core/generator/flow_graph.py.mako
Labels: Python, logging, Bug Fix, Backport-3.10

#6890 analog: PLL frequency detector example: use limited-wait throttle
  gr-analog/examples/pll_freqdet_simple.grc
Labels: GRC, analog, enhancement, examples, Backport-3.10

#6916 gr-qtgui: QT GUI Msg Push Button add callback for Message Value
  gr-qtgui/grc/qtgui_msgpushbutton.block.yml
  gr-qtgui/python/qtgui/msgpushbutton.py
Labels: QTGUI, enhancement, Backport-3.10

#6926 gr-fec: cc_decoder: untangle C-style, strange argument check
  gr-fec/lib/cc_decoder_impl.cc
  gr-fec/lib/cc_decoder_impl.h
Labels: VOLK, FEC, Cleanup, Backport-3.10

#6932 grc: use yaml.CSafeLoader for performance if available
  grc/core/io/yaml.py
  grc/core/platform.py
Labels: GRC, enhancement, Backport-3.10
