Repository gnuradio/gnuradio, pull requests merged in 2023-06, with the labels that each got.

#6676 qtgui/QFosphorColorMapper: std::sstream+string instead of sscanf("%m")+char*
  gr-qtgui/lib/QFosphorColorMapper.cc
Labels: QTGUI, Bug Fix, Needs Action, Backport-3.10

#6694 runtime: thread_group use set instead of list for set of threads
  gnuradio-runtime/include/gnuradio/thread/thread_group.h
  gnuradio-runtime/lib/thread/thread_group.cc
Labels: Runtime, Cleanup, Backport-3.10

#6697 network: Fix various bugs
  gr-network/lib/tcp_sink_impl.cc
  gr-network/lib/udp_sink_impl.cc
  gr-network/lib/udp_sink_impl.h
  gr-network/lib/udp_source_impl.cc
  gr-network/lib/udp_source_impl.h
Labels: network, Bug Fix, Backport-3.10

#6670 Backport better probe rate
  gr-blocks/grc/blocks_probe_rate.block.yml
  gr-blocks/include/gnuradio/blocks/probe_rate.h
  gr-blocks/lib/probe_rate_impl.cc
  gr-blocks/lib/probe_rate_impl.h
  gr-blocks/python/blocks/bindings/docstrings/probe_rate_pydoc_template.h
  gr-blocks/python/blocks/bindings/probe_rate_python.cc
Labels: digital

#6724 soapy: fix sdrplay biasT_ctrl/agc/gain settings
  gr-soapy/grc/soapy_sdrplay_source.block.yml
Labels: Bug Fix, soapy, Backport-3.10
