Repository gnuradio/gnuradio, pull requests merged in 2023-07, with the labels that each got.

#6738 soapy: fix variable naming in RTL grc
  gr-soapy/grc/soapy_rtlsdr_source.block.yml
Labels: yaml, soapy, Backport-3.10

#6739 soapy: more robust handling of bias and agc settings in rtlsdr yml
  gr-soapy/grc/soapy_rtlsdr_source.block.yml
Labels: yaml, soapy, Backport-3.10

#6688 gr-uhd: fix infinite recursion in the case a device is poorly connected
  gr-uhd/lib/usrp_source_impl.cc
  gr-uhd/lib/usrp_source_impl.h
Labels: gr-uhd, Bug Fix, Backport-3.10

#6751 Fix whitespace in **/bindings/* files
  gr-dtv/python/dtv/bindings/atsc_consts_python.cc
  gr-dtv/python/dtv/bindings/atsc_deinterleaver_python.cc
  gr-dtv/python/dtv/bindings/atsc_depad_python.cc
  gr-dtv/python/dtv/bindings/atsc_derandomizer_python.cc
  gr-dtv/python/dtv/bindings/atsc_equalizer_python.cc
  gr-dtv/python/dtv/bindings/atsc_field_sync_mux_python.cc
  gr-dtv/python/dtv/bindings/atsc_fpll_python.cc
  gr-dtv/python/dtv/bindings/atsc_fs_checker_python.cc
  gr-dtv/python/dtv/bindings/atsc_pad_python.cc
  gr-dtv/python/dtv/bindings/atsc_randomizer_python.cc
  gr-dtv/python/dtv/bindings/atsc_rs_decoder_python.cc
  gr-dtv/python/dtv/bindings/atsc_rs_encoder_python.cc
  gr-dtv/python/dtv/bindings/atsc_sync_python.cc
  gr-dtv/python/dtv/bindings/atsc_trellis_encoder_python.cc
  gr-dtv/python/dtv/bindings/atsc_viterbi_decoder_python.cc
  gr-dtv/python/dtv/bindings/catv_config_python.cc
  gr-dtv/python/dtv/bindings/catv_frame_sync_enc_bb_python.cc
  gr-dtv/python/dtv/bindings/catv_randomizer_bb_python.cc
  gr-dtv/python/dtv/bindings/catv_reed_solomon_enc_bb_python.cc
  gr-dtv/python/dtv/bindings/catv_transport_framing_enc_bb_python.cc
  gr-dtv/python/dtv/bindings/catv_trellis_enc_bb_python.cc
  gr-dtv/python/dtv/bindings/dvb_bbheader_bb_python.cc
  gr-dtv/python/dtv/bindings/dvb_bbscrambler_bb_python.cc
  gr-dtv/python/dtv/bindings/dvb_bch_bb_python.cc
  gr-dtv/python/dtv/bindings/dvb_config_python.cc
  gr-dtv/python/dtv/bindings/dvb_ldpc_bb_python.cc
  gr-dtv/python/dtv/bindings/dvbs2_config_python.cc
  gr-dtv/python/dtv/bindings/dvbs2_interleaver_bb_python.cc
  gr-dtv/python/dtv/bindings/dvbs2_modulator_bc_python.cc
  gr-dtv/python/dtv/bindings/dvbs2_physical_cc_python.cc
  gr-dtv/python/dtv/bindings/dvbt2_cellinterleaver_cc_python.cc
  gr-dtv/python/dtv/bindings/dvbt2_config_python.cc
  gr-dtv/python/dtv/bindings/dvbt2_framemapper_cc_python.cc
  gr-dtv/python/dtv/bindings/dvbt2_freqinterleaver_cc_python.cc
  gr-dtv/python/dtv/bindings/dvbt2_interleaver_bb_python.cc
  gr-dtv/python/dtv/bindings/dvbt2_miso_cc_python.cc
  gr-dtv/python/dtv/bindings/dvbt2_modulator_bc_python.cc
  gr-dtv/python/dtv/bindings/dvbt2_p1insertion_cc_python.cc
  gr-dtv/python/dtv/bindings/dvbt2_paprtr_cc_python.cc
  gr-dtv/python/dtv/bindings/dvbt2_pilotgenerator_cc_python.cc
  gr-dtv/python/dtv/bindings/dvbt_bit_inner_deinterleaver_python.cc
  gr-dtv/python/dtv/bindings/dvbt_bit_inner_interleaver_python.cc
  gr-dtv/python/dtv/bindings/dvbt_config_python.cc
  gr-dtv/python/dtv/bindings/dvbt_convolutional_deinterleaver_python.cc
  gr-dtv/python/dtv/bindings/dvbt_convolutional_interleaver_python.cc
  gr-dtv/python/dtv/bindings/dvbt_demap_python.cc
  gr-dtv/python/dtv/bindings/dvbt_demod_reference_signals_python.cc
  gr-dtv/python/dtv/bindings/dvbt_energy_descramble_python.cc
  gr-dtv/python/dtv/bindings/dvbt_energy_dispersal_python.cc
  gr-dtv/python/dtv/bindings/dvbt_map_python.cc
  gr-dtv/python/dtv/bindings/dvbt_ofdm_sym_acquisition_python.cc
  gr-dtv/python/dtv/bindings/dvbt_reed_solomon_dec_python.cc
  gr-dtv/python/dtv/bindings/dvbt_reed_solomon_enc_python.cc
  gr-dtv/python/dtv/bindings/dvbt_reference_signals_python.cc
  gr-dtv/python/dtv/bindings/dvbt_symbol_inner_interleaver_python.cc
  gr-dtv/python/dtv/bindings/dvbt_viterbi_decoder_python.cc
Labels: Cleanup, Backport-3.10

#6747 revise README.md
  README.md
Labels: Documentation, Backport-3.10

#6749 runtime: c++20 friendly logging
  gnuradio-runtime/include/gnuradio/logger.h
  gnuradio-runtime/python/gnuradio/gr/bindings/logger_python.cc
Labels: logging, Backport-3.10

#6761 blocks: Add a GRC example for throttle
  gr-blocks/examples/demonstrate_throttle.grc
Labels: Documentation, GRC, blocks, examples, Backport-3.10

#6763 runtime: pmt_serialize uses std::int32_t without <cstdint>
  gnuradio-runtime/lib/pmt/pmt_serialize.cc
Labels: Runtime, PMT, Backport-3.8, Backport-3.9, Build Issue, Backport-3.10
