Repository gnuradio/gnuradio, pull requests merged in 2023-04, with the labels that each got.

#6599 uhd: rfnoc: Add GRC binding and support for Vector IIR block
  gr-uhd/examples/grc/rfnoc_vector_iir_split.grc
  gr-uhd/grc/CMakeLists.txt
  gr-uhd/grc/uhd_rfnoc_vector_iir.block.yml
Labels: New Feature, gr-uhd, Backport-3.10

#6603 modtool: fix formatting of python qa template
  gr-utils/modtool/templates/templates.py
Labels: modtool, Backport-3.10

#6609 grc: make node states consistant
  grc/core/blocks/block.py
Labels: GRC, Cleanup

#6611 grc: prevent Generate/Run silent fails for unsaved GRC flowgraphs
  grc/gui/Notebook.py
Labels: GRC, Bug Fix, Backport-3.10

#6602 uhd: rfnoc: fix literal_eval error
  gr-uhd/grc/uhd_rfnoc_graph.block.yml
Labels: gr-uhd, Bug Fix, Backport-3.10

#6612 Analog: new test for agc3
  gr-analog/python/analog/qa_agc.py
Labels: analog, QA, Backport-3.10

#6616 blocks: selector: don't blindly consume same amount from all inputs
  gr-blocks/include/gnuradio/blocks/selector.h
  gr-blocks/lib/selector_impl.cc
  gr-blocks/lib/selector_impl.h
  gr-blocks/python/blocks/bindings/selector_python.cc
Labels: blocks, Bug Fix, Backport-3.10

#6617 uhd: rfnoc: Add GRC binding and support for replay block
  gr-uhd/examples/grc/rfnoc_replay.grc
  gr-uhd/grc/CMakeLists.txt
  gr-uhd/grc/gen_rfnoc_replay_block_yml.py
  gr-uhd/grc/uhd_msgpushbutton.block.yml
  gr-uhd/include/gnuradio/uhd/CMakeLists.txt
  gr-uhd/include/gnuradio/uhd/rfnoc_replay.h
  gr-uhd/lib/CMakeLists.txt
  gr-uhd/lib/rfnoc_replay_impl.cc
  gr-uhd/lib/rfnoc_replay_impl.h
  gr-uhd/python/uhd/CMakeLists.txt
  gr-uhd/python/uhd/__init__.py
  gr-uhd/python/uhd/bindings/CMakeLists.txt
  gr-uhd/python/uhd/bindings/docstrings/rfnoc_replay_pydoc_template.h
  gr-uhd/python/uhd/bindings/python_bindings.cc
  gr-uhd/python/uhd/bindings/rfnoc_replay_python.cc
  gr-uhd/python/uhd/replaymsgpushbutton.py
Labels: New Feature, gr-uhd, Backport-3.10

#6619 modtool: cmake: Don't override user-defined CMAKE_INSTALL_PREFIX
  gr-utils/modtool/templates/gr-newmod/CMakeLists.txt
Labels: CMake, gr-newmod, Backport-3.10

#6620 uhd: rfnoc: Add bindings log-power RFNoC block, expand rx streamer types
  gr-uhd/examples/grc/rfnoc_logpwr_split.grc
  gr-uhd/grc/CMakeLists.txt
  gr-uhd/grc/uhd_rfnoc_logpwr.block.yml
  gr-uhd/grc/uhd_rfnoc_rx_streamer.block.yml
Labels: New Feature, gr-uhd, Backport-3.10

#6636 uhd: rfnoc: CMakelists alphabetize and add examples to install
  gr-uhd/examples/grc/CMakeLists.txt
  gr-uhd/grc/CMakeLists.txt
  gr-uhd/include/gnuradio/uhd/CMakeLists.txt
  gr-uhd/lib/CMakeLists.txt
  gr-uhd/python/uhd/bindings/CMakeLists.txt
Labels: gr-uhd, CMake, Backport-3.10

#6624 Analog: max_gain parameter added to AGC constructors
  gr-analog/grc/analog_agc2_xx.block.yml
  gr-analog/grc/analog_agc3_xx.block.yml
  gr-analog/grc/analog_agc_xx.block.yml
  gr-analog/include/gnuradio/analog/agc2_cc.h
  gr-analog/include/gnuradio/analog/agc2_ff.h
  gr-analog/include/gnuradio/analog/agc3_cc.h
  gr-analog/include/gnuradio/analog/agc_cc.h
  gr-analog/include/gnuradio/analog/agc_ff.h
  gr-analog/lib/agc2_cc_impl.cc
  gr-analog/lib/agc2_cc_impl.h
  gr-analog/lib/agc2_ff_impl.cc
  gr-analog/lib/agc2_ff_impl.h
  gr-analog/lib/agc3_cc_impl.cc
  gr-analog/lib/agc3_cc_impl.h
  gr-analog/lib/agc_cc_impl.cc
  gr-analog/lib/agc_cc_impl.h
  gr-analog/lib/agc_ff_impl.cc
  gr-analog/lib/agc_ff_impl.h
  gr-analog/python/analog/bindings/agc2_cc_python.cc
  gr-analog/python/analog/bindings/agc2_ff_python.cc
  gr-analog/python/analog/bindings/agc3_cc_python.cc
  gr-analog/python/analog/bindings/agc_cc_python.cc
  gr-analog/python/analog/bindings/agc_ff_python.cc
Labels: New Feature, analog, Backport-3.10

#6640 filter: Fix exception when dragging in Band Diagram plot
  gr-filter/python/filter/gui/banditems.py
Labels: filter, Filter Design Tool, Bug Fix, Backport-3.10

#6623 qtgui: sort list of installed headers, remove duplicates
  gr-qtgui/include/gnuradio/qtgui/CMakeLists.txt
Labels: Cruft, Backport-3.10

#6634 UHD: fix rfnoc binding hashes
  gr-uhd/python/uhd/bindings/rfnoc_block_python.cc
  gr-uhd/python/uhd/bindings/rfnoc_fir_filter_python.cc
Labels: Bug, CMake, pybind11, Backport-3.10

#6645 qtgui: Replace `QLineEdit::returnPressed()` with `editingFinished()`
  gr-qtgui/grc/qtgui_entry.block.yml
  gr-qtgui/lib/edit_box_msg_impl.cc
  gr-qtgui/python/qtgui/range.py.cmakein
  gr-uhd/apps/uhd_fft
  gr-uhd/apps/uhd_siggen_gui
Labels: QTGUI, Hold Backport
