Repository gnuradio/gnuradio, pull requests merged in 2023-02, with the labels that each got.

#6479 grc: fix duplicate All Files filter entry in save screenshot dialog
  grc/gui/FileDialogs.py
Labels: GRC, Bug Fix, Backport-3.10

#6474 qtgui: fix instrumentation sink save dialog
  gr-qtgui/lib/displayform.cc
  gr-qtgui/lib/eyedisplaysform.cc
  gr-qtgui/lib/numberdisplayform.cc
Labels: QTGUI, Bug Fix, Backport-3.10

#6510 gr-iio: set_gain_mode does not set the gain paramter correctly
  gr-iio/lib/fmcomms2_source_impl.cc
Labels: Bug Fix, iio, Backport-3.10

#6518 digital: remove reference to nonexistant self._mu in gfsk.py
  gr-digital/python/digital/gfsk.py
Labels: digital, Bug Fix, Backport-3.10

#6496 vmcircbuf logging & string handling & file routines
  gnuradio-runtime/lib/vmcircbuf.cc
  gnuradio-runtime/lib/vmcircbuf_prefs.cc
  gnuradio-runtime/lib/vmcircbuf_prefs.h
Labels: Cruft, Runtime, C++17, modernization, Backport-3.10, Hold Backport

#6502 runtime: getpagesize for windows
  gnuradio-runtime/lib/pagesize.cc
Labels: Runtime, Windows, Backport-3.10

#6523 grc: remove duplicate import, move imports to template code
  grc/blocks/options.block.yml
  grc/core/generator/flow_graph.py.mako
Labels: GRC, Cleanup, Backport-3.10, Hold Backport, codegen

#6495 Portaudio: Correct logging, less hazardous string handling
  gr-audio/lib/portaudio/portaudio_impl.cc
  gr-audio/lib/portaudio/portaudio_impl.h
  gr-audio/lib/portaudio/portaudio_sink.cc
  gr-audio/lib/portaudio/portaudio_sink.h
  gr-audio/lib/portaudio/portaudio_source.cc
  gr-audio/lib/portaudio/portaudio_source.h
Labels: Cruft, Cleanup, audio, C++17, Backport-3.10

#6499 runtime: topblock scheduler selection better logging, slight modernization
  gnuradio-runtime/lib/top_block_impl.cc
Labels: Low, Runtime, C++17, Backport-3.10

#6509 GRC: Remove bare 'except:' from Mako template
  grc/core/generator/flow_graph.py.mako
Labels: GRC, Backport-3.10, codegen

#6520 filter: use atten in grc template for pfb resampler
  gr-filter/grc/filter_pfb_arb_resampler.block.yml
Labels: GRC, yaml, Bug Fix, Backport-3.10, codegen

#6522 filter: make gen_interpolator_taps run on modern gfortran
  gr-filter/lib/gen_interpolator_taps/.gitignore
  gr-filter/lib/gen_interpolator_taps/diff_objective_fct.c
  gr-filter/lib/gen_interpolator_taps/gen_interp_differentiator_taps.c
  gr-filter/lib/gen_interpolator_taps/gen_interpolator_taps.c
  gr-filter/lib/gen_interpolator_taps/generate.sh
  gr-filter/lib/gen_interpolator_taps/objective_fct.c
Labels: filter, Bug Fix, Build Issue, Backport-3.10, fortran

#6546 runtime: change default log level in conf file to info
  gnuradio-runtime/gnuradio-runtime.conf.in
  gnuradio-runtime/lib/pagesize.cc
Labels: Runtime, logging, Backport-3.10

#6538 blocks: update UI for new throttle
  gr-blocks/grc/blocks.tree.yml
  gr-blocks/grc/blocks_throttle.block.yml
  gr-blocks/grc/blocks_throttle2.block.yml
Labels: blocks, enhancement

#6536 qtgui: fix QT GUI Histogram Sink produces implausible results #6494
  gr-qtgui/lib/HistogramDisplayPlot.cc
Labels: QTGUI, Backport-3.10

#6549 filter: fix reversed arguments in vector initializer
  gr-filter/lib/pfb_arb_resampler.cc
  gr-filter/lib/pfb_synthesizer_ccf_impl.cc
Labels: filter, Bug Fix, Backport-3.10
