Repository gnuradio/gnuradio, pull requests merged in 2023-08, with the labels that each got.

#6771 CI: disable Python check E721 until fixes can be made
  .github/workflows/make-test.yml
Labels: CI, Python, Backport-3.10

#6748 fec: LDPC Decoder and Soft Decision Fixes
  gr-digital/docs/digital.dox
  gr-digital/grc/digital_constellation.block.yml
  gr-digital/grc/digital_constellation_soft_decoder_cf.block.yml
  gr-digital/include/gnuradio/digital/constellation.h
  gr-digital/include/gnuradio/digital/constellation_soft_decoder_cf.h
  gr-digital/lib/constellation.cc
  gr-digital/lib/constellation_soft_decoder_cf_impl.cc
  gr-digital/lib/constellation_soft_decoder_cf_impl.h
  gr-digital/python/digital/bindings/constellation_python.cc
  gr-digital/python/digital/bindings/constellation_soft_decoder_cf_python.cc
  gr-digital/python/digital/bindings/docstrings/constellation_pydoc_template.h
  gr-digital/python/digital/bindings/docstrings/constellation_soft_decoder_cf_pydoc_template.h
  gr-digital/python/digital/qa_constellation.py
  gr-digital/python/digital/qa_constellation_soft_decoder_cf.py
  gr-digital/python/digital/soft_dec_lut_gen.py
  gr-fec/examples/ber_curve_gen.grc
  gr-fec/examples/fecapi_async_ldpc_decoders.grc
  gr-fec/examples/fecapi_ldpc_decoders.grc
  gr-fec/examples/fecapi_tagged_ldpc_decoders.grc
  gr-fec/grc/ldpc_decoder_def_list.block.yml
  gr-fec/include/gnuradio/fec/awgn_bp.h
  gr-fec/include/gnuradio/fec/ldpc_decoder.h
  gr-fec/lib/awgn_bp.cc
  gr-fec/lib/ldpc_decoder.cc
  gr-fec/python/fec/LDPC/Generate_LDPC_matrix.py
  gr-fec/python/fec/LDPC/Generate_LDPC_matrix_functions.py
  gr-fec/python/fec/bindings/ldpc_decoder_python.cc
Labels: FEC, Backport-3.10, Hold Backport

#6776 gr-iio: fix deadlock when destroying fmcomms2_source that didn't start
  gr-iio/lib/device_source_impl.cc
  gr-iio/lib/fmcomms2_source_impl.cc
  gr-iio/lib/fmcomms2_source_impl.h
Labels: Bug Fix, iio, Backport-3.10

#6786 grc: Save chosen external editor to config file
  grc/gui/Config.py
  grc/gui/Dialogs.py
Labels: GRC, Bug Fix, Backport-3.10

#6788 Set the frequency sink's output multiple on start
  gr-qtgui/lib/freq_sink_c_impl.cc
  gr-qtgui/lib/freq_sink_c_impl.h
  gr-qtgui/lib/freq_sink_f_impl.cc
  gr-qtgui/lib/freq_sink_f_impl.h
Labels: QTGUI, Bug Fix, Backport-3.10

#6787 Add buffer size parameter to RTLSDR Source
  gr-soapy/grc/soapy_rtlsdr_source.block.yml
Labels: enhancement, soapy

#6789 gr: Add cstdint include to nodeid_generator
  gr/include/gnuradio/nodeid_generator.h
Labels: Bug Fix, GR 4.0

#6796 grc/qtgui template: check for nonexisting setting; don't check for Qt4
  grc/core/generator/flow_graph.py.mako
Labels: GRC, QTGUI, Python, Bug Fix, Backport-3.10

#6797 blocks: fix selector grc c++ template
  gr-blocks/grc/blocks_selector.block.yml
Labels: GRC, C++ Generation, Bug Fix, Backport-3.10

#6808 Fix build with fmt-10.1
  gnuradio-runtime/lib/controlport/thrift/rpcpmtconverters_thrift.cc
Labels: logging, Backport-3.10

#6812 qtgui: Use different colours for Constellation Sink inputs
  gr-qtgui/grc/qtgui_const_sink_x.block.yml
Labels: QTGUI, Bug Fix, Backport-3.10

#6814 grc: add missing import statement for Hier Block (QT GUI)
  grc/core/generator/flow_graph.py.mako
Labels: GRC, Backport-3.10

#6815 blocks: re-enable benchmarking tests
  gr-blocks/CMakeLists.txt
  gr-blocks/tests/CMakeLists.txt
  gr-blocks/tests/benchmark_common.h
  gr-blocks/tests/benchmark_nco.cc
  gr-blocks/tests/benchmark_vco.cc
Labels: CMake, performance, Backport-3.10, Hold Backport

#6819 qtgui: Set stop button to correct state when opening control panel
  gr-qtgui/lib/eyedisplayform.cc
  gr-qtgui/lib/freqdisplayform.cc
  gr-qtgui/lib/timedisplayform.cc
Labels: QTGUI, Bug Fix, Backport-3.10

#6818 runtime: Remove VLA macro, usage
  gnuradio-runtime/include/gnuradio/attributes.h
  gr-dtv/lib/dvbt/dvbt_ofdm_sym_acquisition_impl.cc
  gr-dtv/lib/dvbt/dvbt_ofdm_sym_acquisition_impl.h
Labels: Runtime, Backport-3.10
