Repository gnuradio/gnuradio, pull requests merged in 2024-04, with the labels that each got.

#7205 grc-qt: custom_block_paths set but not used
  grc/gui_qt/Config.py
Labels: GRC, Backport-3.10

#7216 example: update gr-trellis examples
  gr-trellis/examples/grc/interference_cancellation.grc
  gr-trellis/examples/grc/pccc.grc
  gr-trellis/examples/grc/sccc.grc
  gr-trellis/examples/grc/tcm.grc
  gr-trellis/examples/grc/turbo_equalization.grc
  gr-trellis/examples/grc/viterbi_equalization.grc
Labels: Cleanup, examples, trellis, Backport-3.10

#7245 modtool: update CMakeLists.txt template to use new yml vs md format
  gr-utils/modtool/templates/gr-newmod/CMakeLists.txt
Labels: modtool, Bug Fix, Backport-3.10

#7244 gr-audio: Extend alsa sink/ source sample rate
  gr-audio/grc/audio_sink.block.yml
  gr-audio/grc/audio_source.block.yml
Labels: enhancement, yaml, audio, Backport-3.10

#7246 modtools: case-insensitive matching for python cmake file add/rm
  gr-utils/modtool/tools/cmakefile_editor.py
Labels: modtool, Bug Fix, Backport-3.10

#7252 gr-filter: delete gr-filter/grc/filter_low_pass_xlating_filter.block.yml
  gr-filter/grc/filter_low_pass_xlating_filter.block.yml
Labels: Cruft, filter, yaml, Backport-3.10

#7261 Github: Issue Templates: YAML interpreted # as comment, fixed hyphens
  .github/ISSUE_TEMPLATE/config.yml
Labels: CI, Backport-3.10

#7262 grc-qt: AttributeError: 'GUIPort' object has no attribute 'is_sink'
  grc/gui_qt/components/canvas/flowgraph.py
Labels: Bug Fix, Backport-3.10, GRC-Qt

#7256 grc_qt: save panel settings
  grc/gui_qt/components/block_library.py
  grc/gui_qt/components/console.py
  grc/gui_qt/components/variable_editor.py
  grc/gui_qt/components/wiki_tab.py
  grc/gui_qt/components/window.py
  grc/gui_qt/grc.py
  grc/gui_qt/resources/available_preferences.yml
  grc/main.py
Labels: Bug Fix, Backport-3.10, GRC-Qt

#7264 gr_modtool: remove colon in block yaml label
  gr-utils/modtool/templates/templates.py
Labels: modtool, enhancement, Backport-3.10

#7278 fix double click connection to delete for qt gui
  grc/gui_qt/components/canvas/connection.py
  grc/tests/test_qtbot.py
Labels: Bug Fix, Backport-3.10, GRC-Qt

#7288 ctrlport probes: only pybind if ctrlport enabled
  gnuradio-runtime/python/gnuradio/gr/bindings/CMakeLists.txt
  gnuradio-runtime/python/gnuradio/gr/bindings/python_bindings.cc
  gr-blocks/python/blocks/bindings/CMakeLists.txt
  gr-blocks/python/blocks/bindings/python_bindings.cc
  gr-fft/python/fft/bindings/CMakeLists.txt
  gr-fft/python/fft/bindings/python_bindings.cc
Labels: CMake, ctrlport, pybind11, Bug Fix, Backport-3.10
