Repository gnuradio/gnuradio, pull requests merged in 2024-12, with the labels that each got.

#7599 grc-qt: Open starts with directory of the flowgraph file
  grc/gui_qt/components/window.py
Labels: Bug Fix, UX, Backport-3.10, GRC-Qt

#7555 CI/conda: convert conda logging groups to github logging groups
  .github/workflows/conda-build.yml
Labels: CI, Don't Merge, conda

#7554 network: fix build with Boost 1.87
  gr-network/lib/socket_pdu_impl.cc
  gr-network/lib/tcp_sink_impl.cc
  gr-network/lib/udp_sink_impl.cc
  gr-network/lib/udp_source_impl.cc
Labels: network, Backport-3.10

#7556 blocks: Reopen wavfile_sink after stop().
  gr-blocks/lib/wavfile_sink_impl.cc
  gr-blocks/lib/wavfile_sink_impl.h
  gr-blocks/python/blocks/qa_wavfile.py
Labels: blocks, enhancement, Backport-3.10

#7560 soapy: fix hackrf RF gain value
  gr-soapy/grc/soapy_hackrf_source.block.yml
Labels: soapy, Backport-3.10

#7606 CI: remove zsh installation from hash checking run
  .github/workflows/make-test.yml
Labels: CI, Backport-3.10
