Repository gnuradio/gnuradio, pull requests merged in 2024-06, with the labels that each got.

#7381 grc-qt: set text color in some widgets depending on light/dark theme
  grc/gui_qt/components/variable_editor.py
  grc/gui_qt/components/window.py
Labels: Bug Fix, Backport-3.10, GRC-Qt

#7382 grc-qt: Can only connect sink in port to source out port
  grc/gui_qt/components/canvas/flowgraph.py
Labels: Bug Fix, Backport-3.10, GRC-Qt

#7385 filter: python: Change float_ to float64 for numpy 2.0 compatibility
  gr-filter/python/filter/gui/polezero_plot.py
Labels: Python, Bug Fix, Backport-3.10

#7386 gr-uhd: Do not require PyQt5 for all python functionality
  gr-uhd/CMakeLists.txt
  gr-uhd/examples/grc/CMakeLists.txt
  gr-uhd/grc/CMakeLists.txt
  gr-uhd/python/uhd/CMakeLists.txt
  gr-uhd/python/uhd/__init__.py
Labels: gr-uhd, Backport-3.10

#7408 modtool/bind: GCC12/13 on Ubuntu needs a flag for binding
  gr-utils/blocktool/core/parseheader.py
  gr-utils/blocktool/core/parseheader_generic.py
Labels: CMake, Backport-3.10

#7409 grc: python qtgui codegeneration:
  grc/core/generator/flow_graph.py.mako
Labels: GRC, Bug Fix, Backport-3.10

#7411 grc: generating qt - based cpp code is incomplete
  grc/core/generator/cpp_templates/flow_graph.cpp.mako
  grc/core/generator/cpp_templates/flow_graph.hpp.mako
Labels: GRC, C++ Generation, Bug Fix, Backport-3.10

#7410 Remove the filename from os.makedirs(newpath) in get_config_file_path
  grc/main.py
Labels: GRC, Backport-3.10
