Repository gnuradio/gnuradio, pull requests merged in 2024-08, with the labels that each got.

#7461 grc: Attribute error
  grc/core/FlowGraph.py
  grc/gui/Application.py
  grc/gui_qt/components/window.py
Labels: GRC, Bug Fix, Backport-3.10

#7447 Donation link and badge within main README
  README.md
Labels: Documentation, Backport-3.10

#7464 github CI: Mingw64: don't install click-plugins; no longer used
  .github/workflows/make-test.yml
Labels: CI, dependencies, Backport-3.10

#7473 blocks: Fix displayed SigMF dataset format strings
  gr-blocks/grc/blocks_sigmf_sink_minimal.block.yml
  gr-blocks/grc/blocks_sigmf_source_minimal.block.yml
Labels: blocks, Bug Fix, Backport-3.10

#7477 grc-qt: implement missing reload
  grc/gui_qt/components/block_library.py
  grc/gui_qt/components/window.py
Labels: Backport-3.10, GRC-Qt

#7446 grc-qt: Some improvements to the block parameter editor
  grc/core/FlowGraph.py
  grc/gui_qt/components/dialogs.py
  grc/gui_qt/components/window.py
Labels: Backport-3.10, GRC-Qt

#7480 grc-qt: Implement 'recent files' list
  grc/gui_qt/components/window.py
  grc/gui_qt/resources/available_preferences.yml
Labels: Backport-3.10, GRC-Qt

#7481 grc-qt: Display block related error message only if the block is enabled
  grc/gui_qt/components/dialogs.py
Labels: Backport-3.10, GRC-Qt

#7483 grc-qt: Implement open hier source
  grc/gui_qt/components/window.py
Labels: Backport-3.10, GRC-Qt
