Repository gnuradio/gnuradio, pull requests merged in 2024-10, with the labels that each got.

#7515 blocks: Fix test_read_wav_1024 on Windows
  gr-blocks/python/blocks/qa_wavfile.py
Labels: blocks, CI, Bug Fix, Backport-3.10

#7514 grc: Fix warning message in fallback case
  grc/main.py
Labels: GRC, Bug Fix, Backport-3.10

#7516 grc: fix bugs in cpp templates for many filters
  gr-filter/grc/filter_band_pass_filter.block.yml
  gr-filter/grc/filter_band_reject_filter.block.yml
  gr-filter/grc/filter_high_pass_filter.block.yml
  gr-filter/grc/filter_hilbert_fc.block.yml
  gr-filter/grc/filter_low_pass_filter.block.yml
Labels: GRC, yaml, Bug Fix, Backport-3.10

#7517 grc-qt: Improve readability of the PropsDialog
  grc/gui_qt/components/dialogs.py
Labels: Backport-3.10, GRC-Qt

#7468 gr_modtool: util_functions.py add newline to variable modified_last
  gr-utils/modtool/tools/util_functions.py
Labels: modtool, Python, Backport-3.10, codegen

#7525 clang-tidy: remove unavailable option
  .clang-tidy
Labels: Cleanup, Bug Fix, Backport-3.10

#7523 grc-qt: some improvements on the PropertyDialog
  grc/gui_qt/components/dialogs.py
Labels: Bug Fix, Backport-3.10, GRC-Qt

#7526 Avoid `using namespace` for all larger namespaces
  gnuradio-runtime/lib/pmt/qa_pmt_unv.cc
  gr-audio/examples/c++/dial_tone.cc
  gr-blocks/lib/annotator_raw_impl.cc
  gr-blocks/lib/file_meta_sink_impl.cc
  gr-blocks/lib/file_meta_sink_impl.h
  gr-blocks/lib/file_meta_source_impl.h
  gr-blocks/lib/test_tag_variable_rate_ff_impl.cc
  gr-digital/lib/corr_est_cc_impl.h
  gr-digital/lib/linear_equalizer_impl.cc
  gr-digital/lib/pfb_clock_sync_ccf_impl.cc
  gr-digital/lib/pfb_clock_sync_ccf_impl.h
  gr-digital/lib/pfb_clock_sync_fff_impl.cc
  gr-digital/lib/pfb_clock_sync_fff_impl.h
  gr-qtgui/examples/c++/display_qt.cc
  gr-qtgui/examples/c++/display_qt.h
  gr-uhd/lib/usrp_block_impl.cc
Labels: Cleanup, Backport-3.10
