Repository gnuradio/gnuradio, pull requests merged in 2024-02, with the labels that each got.

#7112 Feature/fix fft_filter.h doc string
  gr-filter/include/gnuradio/filter/fft_filter.h
  gr-filter/lib/fft_filter.cc
  gr-filter/python/filter/bindings/fft_filter_python.cc
Labels: Documentation, filter, Backport-3.10

#7101 grcqt: Improve logging
  grc/gui_qt/Utils.py
  grc/gui_qt/base.py
  grc/gui_qt/components/block_library.py
  grc/gui_qt/components/canvas/block.py
  grc/gui_qt/components/canvas/flowgraph.py
  grc/gui_qt/components/console.py
  grc/gui_qt/components/example_browser.py
  grc/gui_qt/components/flowgraph_view.py
  grc/gui_qt/components/oot_browser.py
  grc/gui_qt/components/preferences.py
  grc/gui_qt/components/undoable_actions.py
  grc/gui_qt/components/variable_editor.py
  grc/gui_qt/components/wiki_tab.py
  grc/gui_qt/components/window.py
Labels: GRC-Qt

#7110 grc-qt: Set tabtext on save as
  grc/gui_qt/components/window.py
Labels: GRC-Qt

#7128 ci: conda: Fix missing pkg_resources during modtool test
  .conda/recipe/meta.yaml
Labels: CI, modtool, Python, dependencies, Bug Fix, conda, Backport-3.10

#7125 digital: correlate_access_code TS version: incorrect mask
  gr-digital/include/gnuradio/digital/correlate_access_code_bb_ts.h
  gr-digital/lib/correlate_access_code_bb_ts_impl.cc
  gr-digital/lib/correlate_access_code_bb_ts_impl.h
  gr-digital/python/digital/bindings/correlate_access_code_bb_ts_python.cc
  gr-digital/python/digital/qa_correlate_access_code_XX_ts.py
Labels: digital, Bug Fix, Backport-3.10

#7138 digital: remove empty testcase
  gr-digital/python/digital/qa_digital.py
Labels: Cruft, QA, Backport-3.10

#7137 CI: Update Fedora workers to F39/40, enable GLIBCXX_ASSERTIONS
  .github/workflows/make-test.yml
Labels: CI, Backport-3.10

#7111 PMT: remove wrapping of C++-specific types
  gnuradio-runtime/python/pmt/bindings/pmt_python.cc
  gnuradio-runtime/python/pmt/qa_pmt.py
Labels: PMT, QA, Bug Fix, Backport-3.10

#7134 modtool: (CMake) Install manifest and examples
  gr-utils/modtool/templates/gr-newmod/CMakeLists.txt
  gr-utils/modtool/templates/gr-newmod/examples/CMakeLists.txt
Labels: CMake, modtool, GRC-Qt

#7136 sys_paths: use XDG_CONFIG_HOME if present, new API
  gnuradio-runtime/apps/gnuradio-config-info.cc
  gnuradio-runtime/include/gnuradio/sys_paths.h
  gnuradio-runtime/lib/prefs.cc
  gnuradio-runtime/lib/sys_paths.cc
  gnuradio-runtime/lib/vmcircbuf_mmap_shm_open.cc
  gnuradio-runtime/lib/vmcircbuf_mmap_tmpfile.cc
  gnuradio-runtime/lib/vmcircbuf_prefs.cc
  gnuradio-runtime/python/gnuradio/gr/CMakeLists.txt
  gnuradio-runtime/python/gnuradio/gr/bindings/sys_paths_python.cc
  gnuradio-runtime/python/gnuradio/gr/qa_prefs.py
  gnuradio-runtime/python/gnuradio/gr/qa_sys_paths.py
  gr-fft/lib/fft.cc
Labels: Runtime, QA, deprecation, Bug Fix

#7149 blocktool: raw string for commenting out code to suppress SyntaxWarning
  gr-utils/blocktool/core/parseheader.py
Labels: modtool, Python, Backport-3.10
