Repository gnuradio/gnuradio, pull requests merged in 2024-07, with the labels that each got.

#7415 grc: cannot save general settings
  grc/gui/Config.py
Labels: GRC, Bug Fix, Backport-3.10

#7428 gui_prefs_file does not need to use os.path.join
  grc/gui/Config.py
  grc/gui_qt/Config.py
Labels: GRC, Bug Fix, Backport-3.10, GRC-Qt

#7434 grc-qt: Entries in ErrorsDialog are editable
  grc/gui_qt/components/dialogs.py
Labels: Bug Fix, Backport-3.10, GRC-Qt

#7435 grc-qt: Blocklibrary - change completion mode
  grc/gui_qt/components/block_library.py
Labels: Backport-3.10, GRC-Qt

#7432 blocks,runtime: io_signature: include spdlog/*/ranges.h for using fmt::join()
  gnuradio-runtime/lib/io_signature.cc
  gr-blocks/lib/message_debug_impl.cc
Labels: Runtime, blocks, Backport-3.10

#7437 grc: Improve check for connection in properties dialog
  grc/core/Connection.py
  grc/gui/PropsDialog.py
Labels: GRC, Bug Fix, Backport-3.10

#7436 grc: Don't overwrite port domain on auto-type deduction
  grc/core/ports/port.py
Labels: GRC, Bug Fix, Backport-3.10

#7440 grc: add yaml_config block fails
  grc/core/FlowGraph.py
  grc/gui_qt/components/variable_editor.py
Labels: GRC, Bug Fix, Backport-3.10

#7453 grc-qt: Fix failing tests
  grc/tests/test_qtbot.py
Labels: Bug Fix, Backport-3.10, GRC-Qt

#7452 tools: update clang_format script to search for clang-format 14
  tools/clang_format.py
Labels: CI, Backport-3.10
