Repository gnuradio/gnuradio, pull requests merged in 2025-06, with the labels that each got.

#7749 blocks/annotator_raw: use set instead of vector to avoid sorting
  gr-blocks/lib/annotator_raw_impl.cc
  gr-blocks/lib/annotator_raw_impl.h
  gr-blocks/python/blocks/qa_annotator_raw.py
Labels: blocks, enhancement, performance, QA, Bug Fix

#7842 gr_filter: Add missing mmse_fir_interpolator.h to filter include directory on install
  gr-filter/include/gnuradio/filter/CMakeLists.txt
Labels: Bug Fix

#7788 grc: Fix GRC-Qt file open dialog on PyQt5
  grc/gui_qt/components/window.py
Labels: GRC, Bug Fix, GRC-Qt, GRC-Qt/GTK Feature Parity

#7865 buffer_single_mapped: locking needs a named object
  gnuradio-runtime/lib/buffer_single_mapped.cc
Labels: Runtime, Bug Fix, custom buffers

#7870 CI: Fedora 42 builder, cycle Fedora versions
  .github/workflows/make-test.yml
Labels: CI

#7872 Don't run CI on Ubuntu 20.04 for main
  .github/workflows/make-test.yml
Labels: CI

#7790 audio: unify priorities between sink and source architectures
  gr-audio/docs/audio.dox
  gr-audio/lib/audio_registry.cc
  gr-audio/lib/audio_registry.h
Labels: audio, Bug Fix

#7875 digital: Improve Doxy header for ofdm_sync_sc_cfb
  gr-digital/include/gnuradio/digital/ofdm_sync_sc_cfb.h
Labels: Documentation, digital

#7837 OFDM Receiver: add support for even carriers in STF
  gr-digital/python/digital/ofdm_txrx.py
Labels: digital, waiting on CI
