Repository gnuradio/gnuradio, pull requests merged in 2025-04, with the labels that each got.

#7412 fec: Add encode and decode functions to generic encoder bindings
  gr-fec/python/fec/bindings/generic_decoder_python.cc
  gr-fec/python/fec/bindings/generic_encoder_python.cc
Labels: FEC, enhancement, pybind11, Needs Action

#7792 uhd: Add RFNoC GRC workflow
  gr-uhd/examples/grc/rfnoc_images/x310_image_core.grc
  gr-uhd/grc/CMakeLists.txt
  gr-uhd/grc/rfnoc_image_builder.workflow.yml
  gr-uhd/python/uhd/CMakeLists.txt
  gr-uhd/python/uhd/grc_workflows.py
  grc/gui_qt/components/executor.py
Labels: GRC, gr-uhd

#7764 Drive-by: improve patterned interleaver
  gr-blocks/lib/patterned_interleaver_impl.cc
  gr-blocks/lib/patterned_interleaver_impl.h
Labels: Low, enhancement, code quality

#7793 tools: add tool to run a single clang-tidy check
  tools/run-clang-tidy-check.zsh
Labels: Low

#7811 grcqt: Close correct tab on Ctrl+W
  grc/gui_qt/components/window.py
Labels: GRC, Bug Fix, GRC-Qt

#7814 bindtool: Always append gnuradio/ in bindings include path
  gr-utils/modtool/templates/gr-newmod/python/howto/bindings/bind_oot_file.py
Labels: modtool, Bug Fix
