Repository gnuradio/gnuradio, pull requests merged in 2025-02, with the labels that each got.

#7710 blocks: Use a fresh flow graph for part 3 of append test
  gr-blocks/python/blocks/qa_wavfile.py
Labels: blocks, QA, Bug Fix, Backport-3.10

#7703 uhd: Fix connecting back-edges
  gr-uhd/lib/rfnoc_graph_impl.cc
Labels: gr-uhd, Bug Fix, Backport-3.10

#7709 grc-qt: Fix properties dialog in variable editor, alternativ solution
  grc/gui_qt/components/variable_editor.py
  grc/gui_qt/components/window.py
Labels: Backport-3.10, GRC-Qt, GRC-Qt/GTK Feature Parity

#7713 uhd: rfnoc: Remove ce_clk input from split_stream
  gr-uhd/grc/uhd_fpga_split_stream.block.yml
Labels: gr-uhd, Bug Fix, Backport-3.10

#7714 uhd: rfnoc: Remove enum block type from image builder blocks
  gr-uhd/grc/uhd_fpga_addsub.block.yml
  gr-uhd/grc/uhd_fpga_chdr_dma_ta.block.yml
  gr-uhd/grc/uhd_fpga_ddc.block.yml
  gr-uhd/grc/uhd_fpga_device_bsp.block.yml
  gr-uhd/grc/uhd_fpga_device_none.block.yml
  gr-uhd/grc/uhd_fpga_duc.block.yml
  gr-uhd/grc/uhd_fpga_eth_ta.block.yml
  gr-uhd/grc/uhd_fpga_fosphor.block.yml
  gr-uhd/grc/uhd_fpga_keep_one_in_n.block.yml
  gr-uhd/grc/uhd_fpga_null_src_sink.block.yml
  gr-uhd/grc/uhd_fpga_radio.block.yml
  gr-uhd/grc/uhd_fpga_replay.block.yml
  gr-uhd/grc/uhd_fpga_sep.block.yml
  gr-uhd/grc/uhd_fpga_siggen.block.yml
  gr-uhd/grc/uhd_fpga_split_stream.block.yml
  gr-uhd/grc/uhd_fpga_switchboard.block.yml
Labels: gr-uhd, Bug Fix, Backport-3.10

#7705 grc-qt: Right-clicking in the canvas doesn't bring up the context menu
  grc/gui_qt/components/canvas/block.py
  grc/gui_qt/components/flowgraph_view.py
Labels: Bug Fix, Backport-3.10, GRC-Qt, GRC-Qt/GTK Feature Parity

#7736 spelling
  gnuradio-runtime/lib/thread/thread.cc
  gr-trellis/include/gnuradio/trellis/interleaver.h
  gr-trellis/python/trellis/bindings/interleaver_python.cc
Labels: Cleanup, Backport-3.10

#7737 uhd: Fix radio clocks for X440 / image builder
  gr-uhd/grc/uhd_fpga_device_bsp.block.yml
Labels: gr-uhd, Bug Fix, Backport-3.10

#7742 replace 0, 0, 0 default argument with [0, 0, 0] in Vector Insert
  gr-blocks/grc/blocks_vector_insert_x.block.yml
Labels: blocks, yaml, Backport-3.10

#7730 grc-qt: fix broken complexity calculation
  grc/gui_qt/components/canvas/block.py
Labels: GRC, Backport-3.10
