Repository gnuradio/gnuradio, pull requests merged in 2025-01, with the labels that each got.

#7569 github ci: conda: Update upload-artifacts
  .github/workflows/conda-build.yml
Labels: CI

#7559 Fixes for gr-analog wideband FM examples
  gr-analog/examples/fm_demod.py
  gr-analog/examples/fm_rx.grc
  gr-analog/examples/fm_tx.grc
  gr-analog/python/analog/wfm_tx.py
Labels: analog, examples, Backport-3.10

#7598 gr-blocks: Add PDU support to mute and selector blocks
  gr-blocks/lib/mute_impl.cc
  gr-blocks/lib/mute_impl.h
  gr-blocks/lib/selector_impl.cc
  gr-blocks/python/blocks/qa_mute.py
Labels: blocks, enhancement, Backport-3.10

#7618 analog: add end-to-end test for quadrature demod block
  gr-analog/python/analog/qa_quadrature_demod.py
Labels: analog, enhancement, QA, Backport-3.10

#7638 runtime: add formatter for tag_t
  gnuradio-runtime/include/gnuradio/tags.h
  gnuradio-runtime/lib/CMakeLists.txt
  gnuradio-runtime/lib/tag_fmt.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/tags_python.cc
Labels: logging, tags, Backport-3.10

#7639 Tagged Stream Block: don't remove item tags from input, don't show them internally instead
  gnuradio-runtime/include/gnuradio/block.h
  gnuradio-runtime/include/gnuradio/tagged_stream_block.h
  gnuradio-runtime/lib/block_executor.cc
  gnuradio-runtime/lib/tagged_stream_block.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/block_python.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/tagged_stream_block_python.cc
  gr-blocks/lib/tagged_stream_mux_impl.cc
  gr-digital/lib/packet_headergenerator_bb_impl.cc
  gr-digital/python/digital/qa_ofdm_txrx.py
Labels: Runtime, tags, Backport-3.10, Hold Backport, TSB (Tagged Stream Blocks)

#7643 GRC: Make "+" and "-" icons work in variable editor as expected
  grc/gui_qt/components/variable_editor.py
Labels: enhancement, Backport-3.10, GRC-Qt

#7637 qtgui: don't include block detail! You're not even using that.
  gr-qtgui/lib/eye_sink_c_impl.cc
  gr-qtgui/lib/eye_sink_f_impl.cc
  gr-qtgui/lib/time_sink_f_impl.cc
Labels: Cruft, QTGUI, Backport-3.10

#7650 runtime: don't bind block and TPB details
  gnuradio-runtime/python/gnuradio/gr/bindings/CMakeLists.txt
  gnuradio-runtime/python/gnuradio/gr/bindings/block_detail_python.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/docstrings/block_detail_pydoc_template.h
  gnuradio-runtime/python/gnuradio/gr/bindings/docstrings/tpb_detail_pydoc_template.h
  gnuradio-runtime/python/gnuradio/gr/bindings/python_bindings.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/tpb_detail_python.cc
Labels: Cruft, Runtime, CMake, Python, pybind11, Backport-3.10

#7642 tag_t: clean up marked_deleted
  gnuradio-runtime/include/gnuradio/tags.h
  gnuradio-runtime/lib/CMakeLists.txt
  gnuradio-runtime/lib/qa_tags.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/tags_python.cc
Labels: API Change, Cruft, Runtime, Cleanup, tags, Backport-3.10

#7654 runtime: fix qa_tags using C++ too modern for MSVC
  gnuradio-runtime/lib/qa_tags.cc
Labels: CI, msvc, QA, Bug Fix, C++17, Backport-3.10

#7648 runtime: block gets get_first_tag_in_range(…, predicate) and …, tag)
  gnuradio-runtime/include/gnuradio/block.h
  gnuradio-runtime/include/gnuradio/block_detail.h
  gnuradio-runtime/include/gnuradio/buffer_reader.h
  gnuradio-runtime/lib/block.cc
  gnuradio-runtime/lib/block_detail.cc
  gnuradio-runtime/lib/buffer_reader.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/block_gateway.h
  gnuradio-runtime/python/gnuradio/gr/bindings/block_gateway_python.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/block_python.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/buffer_reader_python.cc
  gnuradio-runtime/python/gnuradio/gr/bindings/tagged_stream_block_python.cc
  gnuradio-runtime/python/gnuradio/gr/qa_tag_utils.py
Labels: Runtime, Python, tags, Backport-3.10

#7649 grc-qt: Implement PDF screen capture
  grc/gui_qt/Utils.py
  grc/gui_qt/components/window.py
  grc/tests/test_qtbot.py
Labels: Backport-3.10, GRC-Qt, GRC-Qt/GTK Feature Parity

#7653 runtime: add configure-time version.h[.in] with GR_VERSION_{MAJOR,API,MINOR,MAINT}
  cmake/Modules/GrVersion.cmake
  gnuradio-runtime/include/gnuradio/CMakeLists.txt
  gnuradio-runtime/include/gnuradio/version.h.in
Labels: CMake, Backport-3.10, ecosystem

#7668 gr-uhd: use command port for stop function
  gr-uhd/lib/rfnoc_replay_impl.cc
Labels: gr-uhd, Backport-3.10

#7644 grc-qt: Some Improvements for the block library completion
  grc/gui_qt/components/block_library.py
  grc/gui_qt/resources/available_preferences.yml
Labels: Backport-3.10, GRC-Qt

#7679 cmake: suppressed clang++ warnings that -fcx-limited-range wasn't used
  CMakeLists.txt
Labels: CMake, warning, Backport-3.10

#7692 grc-qt: block library follow up to #7644
  grc/gui_qt/components/block_library.py
Labels: Bug Fix, Backport-3.10, GRC-Qt

#7682 PMT: Remove detrimental calls to 'pubseekoff' from de-serialization
  gnuradio-runtime/lib/pmt/pmt_serialize.cc
Labels: PMT, Bug Fix, Backport-3.10

#7485 grc: Fix issue #7484 (channelizer output count incorrect in some situations).
  gr-filter/grc/filter_pfb_channelizer_hier.block.yml
Labels: filter, Bug Fix, Backport-3.10

#7702 uhd: Fix uhd_siggen_gui.grc example
  gr-uhd/examples/grc/uhd_siggen_gui.grc
Labels: gr-uhd, Bug Fix, Backport-3.10

#7707 uhd: examples: Fix uhd_msg_tune.grc
  gr-uhd/examples/grc/uhd_msg_tune.grc
Labels: gr-uhd, Bug Fix, Backport-3.10
